<div class="panel panel-default form">
	<div class="panel-heading">Work Related Information</div>
	<div class="panel-body">
		<form name="form2" novalidate>

			<!-- left row -->
			<div class="row col-md-6">
				<div class="col-md-12">
					<div class="well">
						<h5>Education</h5>
						<div class="form-group">
							<label class="control-label">* Educational Attainment</label>
							<select name="education" ng-model="applicant.education.attainment" class="form-control">
								<option>College Graduate</option>
								<option>College Undergraduate</option>
								<option>Vocational Graduate</option>
								<option>Vocational Undergraduate</option>
								<option>High School Graduate</option>
							</select>
						</div>
						<div class="form-group" ng-class="{ 'has-error': form2.educationStartYear.$invalid && form2.educationStartYear.$touched }">
							<label class="control-label">* Year Started</label>
							<input name="educationStartYear" ng-model="applicant.education.startYear" required ng-pattern="numeric" ng-minlength="4" ng-maxlength="4" type="text" class="form-control" />
							<div class="help-block has-error" ng-messages="form2.educationStartYear.$error" ng-if="form2.educationStartYear.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error" style="color:red">This field requires numbers only</div>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': form2.educationEndYear.$invalid && form2.educationEndYear.$touched }">
							<label class="control-label">* Year Ended</label>
							<input name="educationEndYear" ng-model="applicant.education.endYear" required ng-pattern="numeric" ng-minlength="4" ng-maxlength="4" type="text" class="form-control" />
							<div class="help-block has-error" ng-messages="form2.educationEndYear.$error" ng-if="form2.educationEndYear.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error" style="color:red">This field requires numbers only</div>
							</div>
						</div>
						<div class="form-group" ng-if="applicant.education.attainment != 'High School Graduate'" ng-class="{ 'has-error': form2.educationCourse.$invalid && form2.educationCourse.$touched }">
							<label class="control-label">* Course</label>
							<input name="educationCourse" ng-model="applicant.education.course" required ng-pattern="alpha" ng-minlength="2" ng-maxlength="100" type="text" class="form-control" />
							<div class="help-block has-error" ng-messages="form2.educationCourse.$error" ng-if="form2.educationCourse.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error" style="color:red">This field requires letters only</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-12">
					<div class="well">
						<h5>Skills</h5>
						<div class="form-group" ng-repeat="skill in applicant.skills" ng-class="{ 'has-error': form2['skill' + $index].$invalid && form2['skill' + $index].$touched }">
							<input name="skill{{$index}}" ng-model="skill.skill" ng-pattern="alphanumeric" ng-minlength="3" ng-maxlength="100" type="text" class="form-control" placeholder="Any skill related to your field of work" />
							<div class="help-block has-error" ng-messages="form2['skill' + $index].$error" ng-if="form2['skill' + $index].$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error" style="color:red">This field requires letters and numbers only</div>
							</div>
						</div>
						<div class="form-group">
							<button class="btn btn-info" ng-click="addSkillField()">+</button>
							<button class="btn btn-info" ng-click="deleteSkillField()" title="Delete last field for skills">-</button>
						</div>
					</div>
				</div>
			</div>
				
	
			<!-- right row -->
			<div class="row col-md-6">
				<div class="col-md-12">
					<div class="well">
						<h5>Work History</h5>
						<div class="form-group">
							<div class="checkbox">
								<label>
									<input ng-model="noWorkHistory" ng-change="noWorkHistoryToggle(noWorkHistory)" type="checkbox">I don't have any past work yet.
								</label>
							</div>
						</div>

						<div ng-repeat="workHistory in applicant.workHistories" class="well">
							<div class="form-group" ng-class="{ 'has-error': form2['workHistoryCompany' + $index].$invalid && form2['workHistoryCompany' + $index].$touched }">
								<label class="control-label">* Company Name</label>
								<input name="workHistoryCompany{{$index}}" ng-model="workHistory.company" required ng-pattern="alphanumeric" ng-minlength="3" ng-maxlength="100" type="text" class="form-control" />
								<div class="help-block has-error" ng-messages="form2['workHistoryCompany' + $index].$error" ng-if="form2['workHistoryCompany' + $index].$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
									<div ng-message="pattern" class="error" style="color:red">This field requires letters and numbers only</div>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': form2['workHistoryPosition' + $index].$invalid && form2['workHistoryPosition' + $index].$touched }">
								<label class="control-label">* Position</label>
								<input name="workHistoryPosition{{$index}}" ng-model="workHistory.position" required ng-pattern="alphanumeric" ng-minlength="3" ng-maxlength="100" type="text" class="form-control" />
								<div class="help-block has-error" ng-messages="form2['workHistoryPosition' + $index].$error" ng-if="form2['workHistoryPosition' + $index].$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
									<div ng-message="pattern" class="error" style="color:red">This field requires letters and numbers only</div>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': form2['workHistoryStartDate' + $index].$invalid && form2['workHistoryStartDate' + $index].$touched }">
								<label class="control-label">* Date Started</label>
								<input name="workHistoryStartDate{{$index}}" ng-model="workHistory.startDate" required ng-click="openDatepicker($event, 'workHistoryStart', $index)" uib-datepicker-popup show-button-bar="false" is-open="datepickerStatus.workHistoryStart[$index]" type="text" class="form-control" />
								<div class="help-block has-error" ng-messages="form2['workHistoryStartDate' + $index].$error" ng-if="form2['workHistoryStartDate' + $index].$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': form2['workHistoryEndDate' + $index].$invalid && form2['workHistoryEndDate' + $index].$touched }">
								<label class="control-label">* Date Ended</label>
								<input name="workHistoryEndDate{{$index}}" ng-model="workHistory.endDate" required ng-click="openDatepicker($event, 'workHistoryEnd', $index)" uib-datepicker-popup show-button-bar="false" is-open="datepickerStatus.workHistoryEnd[$index]" type="text" class="form-control" />
								<div class="help-block has-error" ng-messages="form2['workHistoryEndDate' + $index].$error" ng-if="form2['workHistoryEndDate' + $index].$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								</div>
							</div>
						</div>

						<div ng-if="noWorkHistory == false" class="form-group">
							<button class="btn btn-info" ng-click="addWorkHistoryField()" title="Add new field for work histories">+</button>
							<button class="btn btn-info" ng-click="deleteWorkHistoryField()" title="Delete last field for work histories">-</button>
						</div>
					</div>
				</div>
			</div>
				

			<div class="col-md-12">
				<br><br>
				<div class="pull-right">
					<button name="previous" ng-click="previousForm()" class="btn btn-info">Prev</button>
					<button name="next" ng-click="nextForm()" ng-if="form2.$valid" class="btn btn-info pull-right">Next</button>
					<button name="next" ng-click="alertError(form2)" ng-if="form2.$invalid" class="btn btn-info pull-right">Next</button>
				</div>
			</div>
		</form>
	</div>
</div>