<div class="panel panel-default">
	<div class="panel-heading">Personal Relations Info</div>
	<div class="panel-body">
		<form name="form3" novalidate>

			<!-- left row -->
			<div class="row col-md-6">
				<div class="col-md-12">
					<div class="well">
						<h5>Parents</h5>
						<div class="form-group" ng-class="{ 'has-error': form3.motherName.$invalid && form3.motherName.$touched }">
							<label class="control-label">Mother's Full Name</label>
							<input name="motherName" ng-model="applicant.parent.motherName" ng-pattern="alpha" ng-minlength="3" ng-maxlength="30" type="text" class="form-control" />
							<div class="help-block has-error" ng-messages="form3.motherName.$error" ng-if="form3.motherName.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error" style="color:red">This field requires letters only</div>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': form3.motherOccupation.$invalid && form3.motherOccupation.$touched }">
							<label class="control-label">Mother's Occupation</label>
							<input name="motherOccupation" ng-model="applicant.parent.motherOccupation" ng-pattern="alphanumeric" ng-minlength="3" ng-maxlength="30" type="text" class="form-control" />
							<div class="help-block has-error" ng-messages="form3.motherOccupation.$error" ng-if="form3.motherOccupation.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error" style="color:red">This field requires letters and numbers only</div>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': form3.fatherName.$invalid && form3.fatherName.$touched }">
							<label class="control-label">Father's Full Name</label>
							<input name="fatherName" ng-model="applicant.parent.fatherName" ng-pattern="alpha" ng-minlength="3" ng-maxlength="30" type="text" class="form-control" />
							<div class="help-block has-error" ng-messages="form3.fatherName.$error" ng-if="form3.fatherName.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error" style="color:red">This field requires letters only</div>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': form3.fatherOccupation.$invalid && form3.fatherOccupation.$touched }">
							<label class="control-label">Father's Occupation</label>
							<input name="fatherOccupation" ng-model="applicant.parent.fatherOccupation" ng-pattern="alphanumeric" ng-minlength="3" ng-maxlength="30" type="text" class="form-control" />
							<div class="help-block has-error" ng-messages="form3.fatherOccupation.$error" ng-if="form3.fatherOccupation.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error" style="color:red">This field requires letters and numbers only</div>
							</div>
						</div>
					</div>
				</div>

				<div ng-if="applicant.civilStatus == 'Married'" class="col-md-12">
					<div class="well">
						<h5>Spouse</h5>
						<div class="form-group" ng-class="{ 'has-error': form3.spouseFirstName.$invalid && form3.spouseFirstName.$touched }">
							<label class="control-label">* First Name</label>
							<input name="spouseFirstName" ng-model="applicant.spouse.firstName" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="30" type="text" class="form-control" />
							<div class="help-block has-error" ng-messages="form3.spouseFirstName.$error" ng-if="form3.spouseFirstName.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error" style="color:red">This field requires letters only</div>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': form3.spouseMiddleName.$invalid && form3.spouseMiddleName.$touched }">
							<label class="control-label">* Middle Name</label>
							<input name="spouseMiddleName" ng-model="applicant.spouse.middleName" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="30" type="text" class="form-control" />
							<div class="help-block has-error" ng-messages="form3.spouseMiddleName.$error" ng-if="form3.spouseMiddleName.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error" style="color:red">This field requires letters only</div>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': form3.spouseLastName.$invalid && form3.spouseLastName.$touched }">
							<label class="control-label">* Last Name</label>
							<input name="spouseLastName" ng-model="applicant.spouse.lastName" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="30" type="text" class="form-control" />
							<div class="help-block has-error" ng-messages="form3.spouseLastName.$error" ng-if="form3.spouseLastName.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error" style="color:red">This field requires letters only</div>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': form3.spouseBirthDate.$invalid && form3.spouseBirthDate.$touched }">
							<label class="control-label">* Birth Date</label>
							<input name="spouseBirthDate" ng-model="applicant.spouse.birthDate" required ng-click="openDatepicker($event, 'spouseBirthDate')" uib-datepicker-popup show-button-bar="false" is-open="datepickerStatus.spouseBirthDate" type="text" class="form-control" />
							<div class="help-block has-error" ng-messages="form3.spouseBirthDate.$error" ng-if="form3.spouseBirthDate.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': form3.spouseOccupation.$invalid && form3.spouseOccupation.$touched }">
							<label class="control-label">* Occupation</label>
							<input name="spouseOccupation" ng-model="applicant.spouse.occupation" required ng-pattern="alphanumeric" ng-minlength="3" ng-maxlength="30" type="text" class="form-control" />
							<div class="help-block has-error" ng-messages="form3.spouseOccupation.$error" ng-if="form3.spouseOccupation.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error" style="color:red">This field requires letters and numbers only</div>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': form3.spouseMobile.$invalid && form3.spouseMobile.$touched }">
							<label class="control-label">* Mobile Number</label>
							<input name="spouseMobile" ng-model="applicant.spouse.mobile" required ng-pattern="numeric" ng-minlength="11" ng-maxlength="11" type="text" class="form-control" placeholder="11 digit mobile number starting with 09" />
							<div class="help-block has-error" ng-messages="form3.spouseMobile.$error" ng-if="form3.spouseMobile.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error" style="color:red">This field requires numbers only</div>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': form3.spouseEmail.$invalid && form3.spouseEmail.$touched }">
							<label class="control-label">Email Address</label>
							<input name="spouseEmail" ng-model="applicant.spouse.email" type="email" class="form-control" />
							<div class="help-block has-error" ng-messages="form3.spouseEmail.$error" ng-if="form3.spouseEmail.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-12">
					<div class="well">
						<h5>Beneficiaries<small><br>Max of 3 beneficiaries only.</small></h5>
						<div ng-repeat="beneficiary in applicant.beneficiaries" class="well">
							<div class="form-group" ng-class="{ 'has-error': form3['beneficiaryName' + $index].$invalid && form3['beneficiaryName' + $index].$touched }">
								<label class="control-label">* Full Name</label>
								<input name="beneficiaryName{{$index}}" ng-model="beneficiary.name" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="150" type="text" class="form-control" />
								<div class="help-block has-error" ng-messages="form3['beneficiaryName' + $index].$error" ng-if="form3['beneficiaryName' + $index].$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
									<div ng-message="pattern" class="error" style="color:red">This field requires letters only</div>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': form3['beneficiaryBirthDate' + $index].$invalid && form3['beneficiaryBirthDate' + $index].$touched }">
								<label class="control-label">* Birth Date</label>
								<input name="beneficiaryBirthDate{{$index}}" ng-model="beneficiary.birthDate" required ng-click="openDatepicker($event, 'applicantBeneficiaries', $index)" uib-datepicker-popup show-button-bar="false" is-open="datepickerStatus.applicantBeneficiaries[$index]" type="text" class="form-control" />
								<div class="help-block has-error" ng-messages="form3['beneficiaryBirthDate' + $index].$error" ng-if="form3['beneficiaryBirthDate' + $index].$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">* Relation</label>
								<select name="beneficiaryRelation{{$index}}"  ng-model="beneficiary.relation" class="form-control">
									<option>Mother</option>
									<option>Father</option>
									<option>Child</option>
									<option ng-if="applicant.civilStatus == 'Married'">Spouse</option>
									<option>Sister</option>
									<option>Brother</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<button class="btn btn-info" ng-click="addBeneficiaryField()" title="Add new field for beneficiaries">+</button>
							<button class="btn btn-info" ng-click="deleteBeneficiaryField()" title="Delete last field for beneficiaries">-</button>
						</div>
					</div>
				</div>
			</div>
				

				
			<!-- right row -->
			<div class="row col-md-6">
				<div class="col-md-12">
					<div class="well">
						<h5>Emergency Contact Person</h5>
						<div class="form-group" ng-class="{ 'has-error': form3.emergencyContactName.$invalid && form3.emergencyContactName.$touched }">
							<label class="control-label">Full Name</label>
							<input name="emergencyContactName" ng-model="applicant.emergencyContact.name" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="150" type="text" class="form-control" />
							<div class="help-block has-error" ng-messages="form3.emergencyContactName.$error" ng-if="form3.emergencyContactName.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error" style="color:red">This field requires letters only</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Relation</label>
							<select name="emergencyContactRelation" ng-model="applicant.emergencyContact.relation" class="form-control">
								<option>Mother</option>
								<option>Father</option>
								<option>Child</option>
								<option ng-if="applicant.civilStatus == 'Married'">Spouse</option>
								<option>Sister</option>
								<option>Brother</option>
							</select>
						</div>
						<div class="form-group" ng-class="{ 'has-error': form3.emergencyContactMobile.$invalid && form3.emergencyContactMobile.$touched }">
							<label class="control-label">Mobile Number</label>
							<input name="emergencyContactMobile" ng-model="applicant.emergencyContact.mobile" ng-pattern="numeric" ng-minlength="11" ng-maxlength="11" type="text" class="form-control" placeholder="11 digit mobile number starting with 09" />
							<div class="help-block has-error" ng-messages="form3.emergencyContactMobile.$error" ng-if="form3.emergencyContactMobile.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error" style="color:red">This field requires numbers only</div>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': form3.emergencyContactEmail.$invalid && form3.emergencyContactEmail.$touched }">
							<label class="control-label">Email Address</label>
							<input name="emergencyContactEmail" ng-model="applicant.emergencyContact.email" ng-minlength="5" ng-maxlength="100" type="email" class="form-control" />
							<div class="help-block has-error" ng-messages="form3.emergencyContactEmail.$error" ng-if="form3.emergencyContactEmail.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-12">
					<div class="well">
						<h5>Character References<small><br>3 references required</small></h5>
						<div ng-repeat="characterReference in applicant.characterReferences" class="well">
							<div class="form-group" ng-class="{ 'has-error': form3['charRefName' + $index].$invalid && form3['charRefName' + $index].$touched }">
								<label class="control-label">* Full Name</label>
								<input name="charRefName{{$index}}" ng-model="characterReference.name" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="150" type="text" class="form-control" />
								<div class="help-block has-error" ng-messages="form3['charRefName' + $index].$error" ng-if="form3['charRefName' + $index].$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
									<div ng-message="pattern" class="error" style="color:red">This field requires letters only</div>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': form3['charRefOccupation' + $index].$invalid && form3['charRefOccupation' + $index].$touched }">
								<label class="control-label">* Occupation</label>
								<input name="charRefOccupation{{$index}}" ng-model="characterReference.occupation" required ng-pattern="alphanumeric" ng-minlength="3" ng-maxlength="100" type="text" class="form-control" />
								<div class="help-block has-error" ng-messages="form3['charRefOccupation' + $index].$error" ng-if="form3['charRefOccupation' + $index].$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
									<div ng-message="pattern" class="error" style="color:red">This field requires letters and numbers only</div>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': form3['charRefCompany' + $index].$invalid && form3['charRefCompany' + $index].$touched }">
								<label class="control-label">* Company</label>
								<input name="charRefCompany{{$index}}" ng-model="characterReference.company" required ng-pattern="alphanumeric" ng-minlength="3" ng-maxlength="100" type="text" class="form-control" />
								<div class="help-block has-error" ng-messages="form3['charRefCompany' + $index].$error" ng-if="form3['charRefCompany' + $index].$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
									<div ng-message="pattern" class="error" style="color:red">This field requires letters and numbers only</div>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': form3['charRefMobile' + $index].$invalid && form3['charRefMobile' + $index].$touched }">
								<label class="control-label">* Mobile Number</label>
								<input name="charRefMobile{{$index}}" ng-model="characterReference.mobile" required ng-pattern="numeric" ng-minlength="11" ng-maxlength="11" type="text" class="form-control" placeholder="11 digit mobile number starting with 09" />
								<div class="help-block has-error" ng-messages="form3['charRefMobile' + $index].$error" ng-if="form3['charRefMobile' + $index].$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
									<div ng-message="pattern" class="error" style="color:red">This field requires numbers only</div>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': form3['charRefEmail' + $index].$invalid && form3['charRefEmail' + $index].$touched }">
								<label class="control-label">Email Address</label>
								<input name="charRefEmail{{$index}}" ng-model="characterReference.email" ng-minlength="5" ng-maxlength="100" type="email" class="form-control" />
								<div class="help-block has-error" ng-messages="form3['charRefEmail' + $index].$error" ng-if="form3['charRefEmail' + $index].$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
				

			<div class="col-md-12">
				<br><br>
				<div class="pull-right">
					<button name="previous" ng-click="previousForm()" class="btn btn-info">Prev</button>
					<button name="next" ng-click="submitForm()" ng-if="form3.$valid" class="btn btn-accent pull-right">Submit</button>
					<button name="next" ng-click="alertError(form3)" ng-if="form3.$invalid" class="btn btn-accent pull-right">Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>