<div class="panel panel-default form">
	<div class="panel-heading">Personal Information</div>
	<div class="panel-body">
		<form name="form1" novalidate>
			<!-- left row -->
			<div class="row col-md-6">
				<div class="col-md-12">
					<div class="well">
						<h5>Name</h5>
						<div class="form-group" ng-class="{ 'has-error': form1.firstName.$invalid && form1.firstName.$touched }">
							<label class="control-label">* First Name</label>
							<input name="firstName" ng-model="applicant.firstName" required ng-pattern="alpha" ng-minlength="2" ng-maxlength="30" type="text" class="form-control" />
							<div class="help-block has-error" ng-messages="form1.firstName.$error" ng-if="form1.firstName.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error" style="color:red">This field requires letters only</div>
							</div>
						</div>

						<div class="form-group" ng-class="{ 'has-error': form1.middleName.$invalid && form1.middleName.$touched }">
							<label class="control-label">Middle Name</label>
							<input name="middleName" ng-model="applicant.middleName" ng-pattern="alpha" ng-minlength="2" ng-maxlength="30" type="text" class="form-control" />
							<div class="help-block has-error" ng-messages="form1.middleName.$error" ng-if="form1.middleName.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error" style="color:red">This field requires letters only</div>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': form1.lastName.$invalid && form1.lastName.$touched }">
							<label class="control-label">* Last Name</label>
							<input name="lastName" ng-model="applicant.lastName" required ng-pattern="alpha" ng-minlength="2" ng-maxlength="30" type="text" class="form-control" />
							<div class="help-block has-error" ng-messages="form1.lastName.$error" ng-if="form1.lastName.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error" style="color:red">This field requires letters only</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-12">
					<div class="well">
						<h5>Other Personal Info</h5>
						<div class="form-group" ng-class="{ 'has-error': form1.birthDate.$invalid && form1.birthDate.$touched }">
							<label class="control-label">* Birth Date</label>
							<input name="birthDate" ng-model="applicant.birthDate" required ng-click="openDatepicker($event, 'applicantBirthDate')" uib-datepicker-popup show-button-bar="false" is-open="datepickerStatus.applicantBirthDate" type="text" class="form-control" />
							<div class="help-block has-error" ng-messages="form1.birthDate.$error" ng-if="form1.birthDate.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
							</div>
						</div>
						<div class="form-group">
							<label>* Gender</label>
							<div>
								<div class="radio">
									<label>
										<input name="gender" ng-model="applicant.gender" type="radio" value="male">
										Male
									</label>
								</div>
								<div class="radio">
									<label>
										<input name="gender" ng-model="applicant.gender" type="radio" value="female">
										Female
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">* Civil Status</label>
							<select name="civilStatus" ng-model="applicant.civilStatus" class="form-control">
								<option>Single</option>
								<option>Married</option>
								<option>Separated</option>
								<option>Divorced</option>
								<option>Widowed</option>
							</select>
						</div>
						<div class="form-group" ng-class="{ 'has-error': form1.religion.$invalid && form1.religion.$touched }">
							<label class="control-label">Religion</label>
							<input name="religion" ng-model="applicant.religion" ng-pattern="alpha" ng-minlength="2" ng-maxlength="30" type="text" class="form-control" />
							<div class="help-block has-error" ng-messages="form1.religion.$error" ng-if="form1.religion.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error" style="color:red">This field requires letters only</div>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': form1.height.$invalid && form1.height.$touched }">
							<label class="control-label">Height</label>
							<input name="height" ng-model="applicant.height" ng-pattern="numeric" ng-minlength="3" ng-maxlength="3" type="text" class="form-control" placeholder="(cm)" />
							<div class="help-block has-error" ng-messages="form1.height.$error" ng-if="form1.height.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error" style="color:red">This field requires numbers only</div>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': form1.weight.$invalid && form1.weight.$touched }">
							<label class="control-label">Weight</label>
							<input name="weight" ng-model="applicant.weight" ng-pattern="numeric" ng-minlength="2" ng-maxlength="3" type="text" class="form-control" placeholder="(kilograms)" />
							<div class="help-block has-error" ng-messages="form1.weight.$error" ng-if="form1.weight.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error" style="color:red">This field requires numbers only</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	

			<!-- right row -->
			<div class="row col-md-6">
				<div class="col-md-12">
					<div class="well">
						<h5>Profile Picture</h5>
						<div class="col-xs-12 text-center">
							<img src="/worktrustedV2/app/assets/images/default-avatar.jpg" ng-if="pictureFile == ''" class="profilePicturePreview" alt="Default Avatar">
							<img ngf-src="pictureFile" ng-if="pictureFile != ''" class="profilePicturePreview" alt="Profile Picture" />
						</div>
						<div class="form-group text-center">
							<!-- <label class="control-label">* Choose File</label> -->
							<button type="file" name="pictureFile" ngf-select="selectPicture($files)" ngf-fix-orientation="false" accept="image/*" class="form-control btn btn-info pictureFileButton">* Choose File</button>
						</div>
					</div>
				</div>

				<div class="col-md-12">
					<div class="well">
						<h5>Address</h5>
						<div class="form-group" ng-class="{ 'has-error': form1.street.$invalid && form1.street.$touched }">
							<label class="control-label">Street</label>
							<input name="street" ng-model="applicant.street" ng-pattern="alphanumericSymbol" ng-maxlength="150" type="text" class="form-control" />
							<div class="help-block has-error" ng-messages="form1.street.$error" ng-if="form1.street.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error" style="color:red">This field requires alphanumeric character and basic symbols only</div>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': form1.barangay.$invalid && form1.barangay.$touched }">
							<label class="control-label">* Barangay</label>
							<input name="barangay" ng-model="applicant.barangay" required ng-pattern="alphanumericSymbol" ng-maxlength="50" type="text" class="form-control" />
							<div class="help-block has-error" ng-messages="form1.barangay.$error" ng-if="form1.barangay.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error" style="color:red">This field requires alphanumeric character and basic symbols only</div>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': form1.city.$invalid && form1.city.$touched }">
							<label class="control-label">* City/Municipality</label>
							<input name="city" ng-model="applicant.city" required ng-pattern="alpha" ng-minlength="2" ng-maxlength="50" type="text" class="form-control" />
							<div class="help-block has-error" ng-messages="form1.city.$error" ng-if="form1.city.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error" style="color:red">This field requires letters only</div>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': form1.province.$invalid && form1.province.$touched }">
							<label class="control-label">* Province</label>
							<input name="province" ng-model="applicant.province" required ng-pattern="alpha" ng-minlength="2" ng-maxlength="50" type="text" class="form-control" />
							<div class="help-block has-error" ng-messages="form1.province.$error" ng-if="form1.province.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error" style="color:red">This field requires letters only</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-12">
					<div class="well">
						<h5>Contact Info</h5>
						<div class="form-group" ng-class="{ 'has-error': form1.mobile.$invalid && form1.mobile.$touched }">
							<label class="control-label">Mobile Number</label>
							<input name="mobile" ng-model="applicant.mobile" ng-pattern="numeric" ng-minlength="11" ng-maxlength="11" type="text" class="form-control" placeholder="11 digit number starting with 09" />
							<div class="help-block has-error" ng-messages="form1.mobile.$error" ng-if="form1.mobile.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error" style="color:red">This field requires numbers only</div>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': form1.email.$invalid && form1.email.$touched }">
							<label class="control-label">Email Address</label>
							<input name="email" ng-model="applicant.email" ng-minlength="5" ng-maxlength="100" type="email" class="form-control" />
							<div class="help-block has-error" ng-messages="form1.email.$error" ng-if="form1.email.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
				

				
					
				
				
				

				


			<div class="col-md-12">
				<br><br>
				<div class="pull-right">
					<button name="next" ng-click="nextForm()" ng-if="form1.$valid && pictureFile != ''" class="btn btn-info pull-right">Next</button>
					<button name="next" ng-click="alertError(form1)" ng-if="form1.$invalid || pictureFile == ''" class="btn btn-info pull-right">Next</button>
				</div>
			</div>
		</form>
	</div>
</div>