<div class="panel panel-accent">
	<div class="panel-heading">
		Intructions
	</div>
	<div class="panel-body">
		<ol>
			<li>Please fill-up this form, all fields with * (asterisk) are mandatory.</li>
			<li>Upload a decent 2x2 picture not greater than 500KB.</li>
			<li>Submit Membership Application Form</li>
			<li>Wait for 2-3 working days and you will receive email or phone call from WMSC's representative for your interview date.</li>
			<li>Bring the following requirements in your interview. 2 valid ID, ( original ang xerox copy ) Birtcertificate ( xerox copy )</li>
		</ol>
	</div>
</div>
