<!-- NAVBAR -->
<nav>
	<div class="navbar applyMembership navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button ui-sref="guestHome" class="visible-xs btn btn-accent btn-sm btn-raised extra-actions">Home</button>
				<button ng-click="showLogin()" class="visible-xs btn btn-accent btn-sm btn-raised extra-actions">Log In</button>
				<a class="navbar-brand" href="/worktrustedV2/"><img src="app/assets/images/worktrusted_06.png" alt="Worktrusted Manpower Services Cooperative">
					<h1 class="hidden-xs hidden-sm logo-text">Worktrusted Manpower Services Cooperative</h1>
					<h1 class="visible-xs visible-sm logo-text">WMSC</h1>
				</a>
			</div>
			<div class="navbar-collapse collapse navbar-responsive-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<button ui-sref="guestHome" class="hidden-xs btn btn-accent btn-sm btn-raised extra-actions">Home</button>
						<button ng-click="showLogin()" class="hidden-xs btn btn-accent btn-sm btn-raised extra-actions">Log In</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>