<div cg-busy="loadingProperties">


<div class="container applyMembershipForm">
	
	<!-- load navbar here -->
	<div ui-view="navbar"></div>
	
	<div class="navbar-margin-below"></div>

	<!-- load instructions here -->
	<div ui-view="instructions" class="intructions col-md-3"></div>
	

	<!-- forms here -->
	<div ui-view="form1" ng-if="currentForm == 1" class="col-md-9 am-fade-and-slide-top"></div>
	<div ui-view="form2" ng-if="currentForm == 2" class="col-md-9 am-fade-and-slide-top"></div>
	<div ui-view="form3" ng-if="currentForm == 3" class="col-md-9 am-fade-and-slide-top"></div>

</div>


</div> <!-- closing div for loading indicator -->