<md-dialog cg-busy="loadingProperties" layout="column" flex="60" style="max-height: 80%">
	
	
	<!-- toolbar -->
	<md-toolbar layout layout-align="end center">
		<div flex class="md-toolbar-tools">
			<span flex class="md-title">Schedule/Event Info</span>
			<div>
				<md-button ng-click="editEvent()" class="md-icon-button" aria-label="Edit">
					<md-icon class="mdi mdi-pencil"></md-icon>
					<md-tooltip>Edit</md-tooltip>
				</md-button>
			</div>
			<div>
				<md-button ng-click="deleteEvent()" class="md-icon-button" aria-label="Delete">
					<md-icon class="mdi mdi-delete"></md-icon>
					<md-tooltip>Delete</md-tooltip>
				</md-button>
			</div>
		</div>
	</md-toolbar>


	<md-dialog-content>
		<div layout="column" layout-padding>
			<md-input-container>
				<label>Training</label>
				<input ng-model="eventInfo.title" readonly />
			</md-input-container>

			<md-input-container>
				<label>Type</label>
				<input value="Training" readonly />
			</md-input-container>

			<md-input-container>
				<label>Start Date</label>
				<input value="{{ eventInfo.start | amDateFormat:'MMMM D, YYYY' }}" readonly />
			</md-input-container>

			<md-input-container>
				<label>End Date</label>
				<input value="{{ eventInfo.end | amDateFormat:'MMMM D, YYYY' }}" readonly />
			</md-input-container>
	
			<md-input-container>
				<label>Location</label>
				<input ng-model="eventInfo.location" name="location" readonly />
			</md-input-container>

			<md-input-container>
				<label>Slots</label>
				<input ng-model="eventInfo.slots" name="slots" readonly />
			</md-input-container>

			<md-input-container>
				<label>Additional Notes</label>
				<input ng-model="eventInfo.additionalNotes" name="additionalNotes" readonly />
			</md-input-container>
						
			<md-list>
				<md-subheader>Requirements</md-subheader>
				<md-list-item ng-repeat="requirement in eventInfo.requirements">
					&nbsp; {{ requirement }}
				</md-list-item>
			</md-list>

			<br><br>


			<div class="md-title" layout layout-padding layout-align="start center">
				Attendees
				<small ng-if="eventInfo.attendees.length == 0" class="subTitle">(No attendess found)</small>
				<small ng-if="eventInfo.attendees.length" class="subTitle">({{ eventInfo.attendees.length }} Attendees)</small>
			</div>
			<md-list flex="90">
				<md-list-item ng-click="memberInfo(attendee.member)" class="md-3-line am-fade-and-slide-bottom" ng-repeat="attendee in eventInfo.attendees">
					<div layout flex>
						<img ng-src="/worktrustedV2/app/assets/profilePhotos/{{ attendee.member.photo }}" class="md-avatar" />
						<div class="md-list-item-text" layout="column">
							<h3>{{ attendee.member.firstName }} {{ attendee.member.middleName }} {{ attendee.member.lastName }}</h3>
							<p></p>
							<p>{{ attendee.member.street }}, {{ attendee.member.barangay }}, {{ attendee.member.city }}, {{ attendee.member.province }}</p>
						</div>
					</div>
					<div layout="column" layout-align="center end" flex class="md-list-item-text">
						<p>{{ attendee.member.civilStatus }}</p>
						<p>{{ attendee.member.gender }}</p>
						<p>{{ attendee.member.age }} years old</p>
					</div>
				</md-list-item>
			</md-list>
		</div>
	</md-dialog-content>

	<md-dialog-actions>
		<md-button ng-click="dismiss()" class="md-primary">Close</md-button>
	</md-dialog-actions>


</md-dialog>

