<md-dialog cg-busy="loadingProperties" layout="column" flex="60" style="max-height: 80%">

	<!-- toolbar -->
	<md-toolbar layout layout-align="end center">
		<div flex class="md-toolbar-tools">
			<span flex class="md-title">Edit Training Event</span>
		</div>
	</md-toolbar>


	<form name="scheduleEditForm">
	<md-dialog-content layout="column" layout-padding>
		<div layout="column" layout-padding>
			<md-input-container>
				<label>* Training</label>
				<md-select ng-model="eventInfo.trainingId" name="trainingId" required>
					<md-option ng-repeat="option in trainingOptions | orderBy:'name'" ng-value="option.id" title="{{ option.description }}">{{ option.name }}</md-option>
				</md-select>
			</md-input-container>

			<div>
				<md-datepicker ng-model="eventInfo.start" required md-placeholder="* Start Date"></md-datepicker>
				<md-datepicker ng-model="eventInfo.end" required md-placeholder="* End Date"></md-datepicker>
				<br><br>
			</div>

			<md-input-container>
				<input ng-model="eventInfo.location" name="location" required ng-pattern="alphanumericSymbol" ng-minlength="3" ng-maxlength="100" placeholder="* Location" />
				<div ng-messages="scheduleEditForm.location.$error" ng-if="scheduleEditForm.location.$touched">
					<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
					<div ng-message="pattern" class="error">This field requires alphanumeric characters and basic symbols only</div>
				</div>
			</md-input-container>

			<md-input-container>
				<input ng-model="eventInfo.slots" name="slots" required ng-pattern="numeric" ng-minlength="1" ng-maxlength="4" placeholder="* Number of slots" />
				<div ng-messages="scheduleEditForm.slots.$error" ng-if="scheduleEditForm.slots.$touched">
					<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
					<div ng-message="pattern" class="error">This field requires numbers only</div>
				</div>
			</md-input-container>

			<md-input-container>
				<input ng-model="eventInfo.additionalNotes" name="additionalNotes" ng-pattern="alphanumericSymbol" ng-minlength="3" ng-maxlength="100" placeholder="Additional Notes" />
				<div ng-messages="scheduleEditForm.additionalNotes.$error" ng-if="scheduleEditForm.additionalNotes.$touched">
					<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
					<div ng-message="pattern" class="error">This field requires alphanumeric characters and basic symbols only</div>
				</div>
			</md-input-container>

			<md-chips ng-model="eventInfo.requirements" md-autocomplete-snap placeholder="Requirements" secondary-placeholder="Requirements(Press enter for every entry)">
				<md-autocomplete md-min-length="0" md-items="" md-search-text="searchText" md-autofocus="false" placeholder="Requirements">
					<md-item-template>{{item}}</md-item-template>
				</md-autocomplete>
			</md-chips>
			
			<br><br>


			<div class="md-title" layout layout-padding layout-align="start center">
				Attendees
				<small ng-if="eventInfo.attendees.length == 0" class="subTitle">(No attendess found)</small>
				<small ng-if="eventInfo.attendees.length" class="subTitle">({{ eventInfo.attendees.length }} Attendees)</small>
			</div>
			<md-list flex="90">
				<md-list-item ng-click="memberInfo(attendee.member)" class="md-3-line am-fade-and-slide-bottom" ng-repeat="(attendeeKey, attendee) in eventInfo.attendees">
					<div layout flex>
						<img ng-src="/worktrustedV2/app/assets/profilePhotos/{{ attendee.member.photo }}" class="md-avatar" />
						<div class="md-list-item-text" layout="column">
							<h3>{{ attendee.member.firstName }} {{ attendee.member.middleName }} {{ attendee.member.lastName }}</h3>
							<p></p>
							<p>{{ attendee.member.street }}, {{ attendee.member.barangay }}, {{ attendee.member.city }}, {{ attendee.member.province }}</p>
						</div>
					</div>
					<div layout="column" layout-align="center end" flex class="md-list-item-text">
						<p>{{ attendee.member.civilStatus }}</p>
						<p>{{ attendee.member.gender }}</p>
						<p>{{ attendee.member.age }} years old</p>
					</div>
					<div flex="10" layout layout-align="center center">
						<md-button ng-click="deleteAttendee(attendeeKey)" class="md-icon-button md-primary md-hue-1" aria-label="Delete">
							<md-icon class="mdi mdi-delete"></md-icon>
							<md-tooltip>Delete</md-tooltip>
						</md-button>
					</div>
				</md-list-item>
			</md-list>
		</div>
	</md-dialog-content>

	<md-dialog-actions>
		<md-button ng-click="dismiss()" class="md-primary">Cancel</md-button>
		<md-button ng-click="submitForm(scheduleEditForm)" class="md-primary">Save Changes</md-button>
	</md-dialog-actions>
	</form>

</md-dialog>