<section id="contactUs">
	<div class="container-fluid">
		<div cg-busy="loadingProperties">

		<form name="contactUsForm" novalidate>
			<fieldset ng-disabled="sent == true">
				<div class="jumbotron">
					<h1>Get in touch</h1>
					<p>Have any question? Send us a message. We look foward hearing from you.</p>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
						<div class="form-group" ng-class="{ 'has-error': contactUsForm.contactName.$invalid && contactUsForm.contactName.$touched }">
							<input ng-model="feedback.name" name="contactName" ng-pattern="alpha" ng-minlength="2" ng-maxlength="30" required class="form-control floating-label" placeholder="Name">
							<div class="help-block has-error" ng-messages="contactUsForm.contactName.$error" ng-if="contactUsForm.contactName.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error" style="color:red">This field requires letters only</div>
							</div>
						</div>
					</div>

					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
						<div class="form-group" ng-class="{ 'has-error': contactUsForm.email.$invalid && contactUsForm.email.$touched }">
							<input ng-model="feedback.email" name="email" type="email" ng-maxlength="30" required class="form-control floating-label" placeholder="Email">
							<div class="help-block has-error" ng-messages="contactUsForm.email.$error" ng-if="contactUsForm.email.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
							</div>
						</div>
					</div>
					
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
						<div class="form-group" ng-class="{ 'has-error': contactUsForm.subject.$invalid && contactUsForm.subject.$touched }">
							<input ng-model="feedback.subject" name="subject" ng-pattern="alphanumeric" ng-minlength="5" ng-maxlength="30" class="form-control floating-label" type="text" placeholder="Subject">
							<div class="help-block has-error" ng-messages="contactUsForm.subject.$error" ng-if="contactUsForm.subject.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error" style="color:red">This field requires alphanumeric characters only</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="form-group" ng-class="{ 'has-error': contactUsForm.message.$invalid && contactUsForm.message.$touched }">
							<textarea ng-model="feedback.message" name="message" ng-pattern="alphanumericSymbol" required ng-minlength="20" ng-maxlength="150" class="form-control" id="message" placeholder="Feel free to message us."></textarea>
							<div class="help-block has-error" ng-messages="contactUsForm.message.$error" ng-if="contactUsForm.message.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error" style="color:red">This field requires alphanumeric characters and basic sysmbols only</div>
							</div>
						</div>
					</div>
					<div class="send">
						<button ng-click="submitFeedback()" ng-disabled="contactUsForm.$invalid" class="btn btn-lg btn-raised submitFeedback pull-right">Send Message</button>
					</div>
				</div>
			</fieldset>
		</form>

		</div> <!-- closing div for loading indicator -->
	</div>
</section>