<header id="home">
	<div class="jumbotron header">
		<h1>Success through people</h1>
		<small>by providing quality jobs from quality employers.</small>
		<p><button ui-sref="applyMembershipForm" class="btn btn-raised btn-lg apply">Apply Membership</button></p>
	</div>
</header>