<!-- NAVBAR -->
<nav>
	<div class="navbar home navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button ng-click="showNavbarAside()" type="button" class="navbar-toggle btn btn-accent btn-raised extra-actions">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<button ng-click="showLogin()" class="visible-xs btn btn-accent btn-sm btn-raised extra-actions">Log In</button>
				<a class="navbar-brand" href="/worktrustedV2/"><img src="app/assets/images/worktrusted_06.png" alt="Worktrusted Manpower Services Cooperative">
					<h1 class="hidden-xs hidden-sm logo-text">Worktrusted Manpower Services Cooperative</h1>
					<h1 class="visible-xs visible-sm logo-text">WMSC</h1>
				</a>
			</div>
			<div class="navbar-collapse collapse navbar-responsive-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li data-target="#home" bs-scrollspy ng-class="{ 'active': activeLink === 'home' }"><a ng-click="changeActiveLink('home')">Home</a></li>
					<li data-target="#ourFocus" bs-scrollspy ng-class="{ 'active': activeLink === 'ourFocus' }"><a ng-click="changeActiveLink('ourFocus')">Our Focus</a></li>
					<li data-target="#services" bs-scrollspy ng-class="{ 'active': activeLink === 'services' }"><a ng-click="changeActiveLink('services')">Services</a></li>
					<li data-target="#contactUs" bs-scrollspy ng-class="{ 'active': activeLink === 'contactUs' }"><a ng-click="changeActiveLink('contactUs')">Contact Us</a></li>
					<li><a>|</a></li>
					<li><button ng-click="showLogin()" class="hidden-xs btn btn-accent btn-sm btn-raised extra-actions">Log In</button></li>
				</ul>
			</div>
		</div>
	</div>
</nav>