<section id="ourFocus">
	<div class="container">
		<div class="jumbotron">
			<h1 class="hidden-xs">OUR FOCUS</h1>
			<h3 class="visible-xs">OUR FOCUS</h3>
			<p>Worktrusted Manpower Services Cooperative is an institution empowering labor personnel towards cooperativism that provides excellent manpower services to its client companies and exercise beneficial undertakings through self-help initiative, various programs focused on achieving better economic environment for all its members and to the community.</p>
		</div>
		<div class="row wow fadeInLeft">
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 thumbs">
				<img src="app/assets/images/about/worker27_02.png" alt="excel">
				<h3>Excel</h3>
				<p>Maximize the skills and potentials of our member-workers to meet local industry requirements and standards.</p>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 thumbs">
				<img src="app/assets/images/about/businessman99.png" alt="labor force">
				<h3>Labor Force</h3>
				<p>Empower the labor force to become more productive, fair motivation and competitive.</p>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 thumbs">
				<img src="app/assets/images/about/worker25.png" alt="manpower">
				<h3>Manpower</h3>
				<p>Provide quality manpower service in response to fluctuating demands of our client companies.</p>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 thumbs">
				<img src="app/assets/images/about/employee4.png" alt="stability">
				<h3>Stability</h3>
				<p>Sustain the economic needs of member-workers by utilizing their skills to easily get the right job they need.</p>
			</div>
		</div>
	</div>
</section>