<section id="services">
	<div class="container">
		<div class="jumbotron">
			<h1 class="hidden-xs">SERVICES</h1>
			<h3 class="visible-xs">SERVICES</h3>
			<p><span title="Worktrusted Manpower Services Cooperative">WMSC</span> offers the following services.</p>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 thumbs">
				<img src="app/assets/images/services/avatar23_02.png" alt="maintenance">
				<h3>Maintenance</h3>
				<p>Janitorial Services, Supplies and Equipments</p>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 thumbs">
				<img src="app/assets/images/services/secretary1_02.png" alt="office">
				<h3>OFFICE PERSONNEL</h3>
				<p>Office Personnel: HR Staff, Accounting Clerk, Data Encoder, etc.</p>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 thumbs">
				<img src="app/assets/images/services/worker43_02.png" alt="production">
				<h3>Production</h3>
				<p>Production Operators: Sorters, Machine Operators, Warehouse Staff, Messenger, Welders, etc.</p>
			</div>
		</div>
	</div>
</section>