<div cg-busy="loadingProperties">

<div layout layout-align="end center" id="toolbar">
	<div flex class="md-toolbar-tools">
		<div>
			<md-button ng-click="cancelAddConfirm()" class="md-icon-button md-primary md-hue-1" aria-label="Back">
				<md-icon class="mdi mdi-arrow-left"></md-icon>&emsp;
				<md-tooltip>Back</md-tooltip>	
			</md-button>
		</div>
		<span class="md-title">Add/Create Company Record</span>
	</div>
	<md-list flex="10" class="md-toolbar-tools">
		<md-list-item>
			<md-button ng-click="cancelAddConfirm()" class="md-icon-button md-primary md-hue-1" aria-label="Cancel Edit">
				<md-icon class="mdi mdi-block-helper"></md-icon>
				<md-tooltip md-direction="left">Discard Changes</md-tooltip>
			</md-button>
		</md-list-item>
		<md-list-item>
			<md-button ng-click="submitCompanyAddForm(companyAddForm)" class="md-icon-button md-primary md-hue-1" aria-label="Save Changes">
				<md-icon class="mdi mdi-check"></md-icon>
				<md-tooltip md-direction="left">Save Changes</md-tooltip>
			</md-button>
		</md-list-item>
	</md-list>
</div>

<md-content id="companyAdd" class="container" layout layout-align="center start">
	<form name="companyAddForm" flex layout="col" layout-padding>
		<div layout="column" layout-padding flex="100">

			<!-- basic info -->
				<div layout="column">
					<div class="md-title" layout layout-padding layout-align="start center">
						Basic Info<small class="subTitle">(profile picture can be changed/saved after createing/adding the company)</small>
					</div>
					<div layout="column" layout-padding class="md-whiteframe-2dp">
						<div layout layout-align="center center" class="customMdInputContainer">
							<md-input-container flex>
								<label>Company Name</label>
								<input ng-model="company.name" name="name" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" />
								<div ng-messages="companyAddForm.name.$error" ng-if="companyAddForm.name.$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
									<div ng-message="pattern" class="error">This field requires letters only</div>
								</div>
							</md-input-container>
						</div>

						<div layout layout-align="center center" class="customMdInputContainer">
							<md-input-container flex>
								<label>Website</label>
								<input ng-model="company.website" name="website" required ng-minlength="3" ng-maxlength="50" />
								<div ng-messages="companyAddForm.website.$error" ng-if="companyAddForm.website.$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
									<div ng-message="pattern" class="error">This field requires alphanumeric characters and basic symbols only</div>
								</div>
							</md-input-container>
						</div>

						<div layout layout-align="center center" class="customMdInputContainer">
							<md-input-container flex>
								<label>Description</label>
								<textarea ng-model="company.description" name="description" required ng-pattern="alphanumericSymbol" ng-minlength="10"></textarea>
								<div ng-messages="companyAddForm.description.$error" ng-if="companyAddForm.description.$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
									<div ng-message="pattern" class="error">This field requires alphanumeric characters and basic symbols only</div>
								</div>
							</md-input-container>
						</div>
					</div>
				</div>

		</div>
	</form>
</md-content>



</div> <!-- closing div for loading indicator -->