<div cg-busy="loadingProperties">

<div layout layout-align="end center" id="toolbar">
	<div flex class="md-toolbar-tools">
		<div>
			<md-button ng-click="backToCompanyList()" class="md-icon-button md-primary md-hue-1" aria-label="Back">
				<md-icon class="mdi mdi-arrow-left"></md-icon>&emsp;
				<md-tooltip>Back</md-tooltip>	
			</md-button>
		</div>
		<span class="md-title">Company Info</span>
	</div>

	<!-- button icons -->
	<div flex="5">
		<md-button ng-click="editCompany()" class="md-icon-button md-primary md-hue-1" aria-label="editCompanyInfo">
			<md-icon class="mdi mdi-pencil"></md-icon>
			<md-tooltip md-direction="left">Edit company's info</md-tooltip>
		</md-button>
	</div>
</div>

<md-content id="profileInfo" class="container" layout layout-align="center start">
	<form name="profileInfoForm" flex layout="col" layout-padding>
		<div flex layout="column" layout-padding layout-wrap>
			<div layout="column" layout-padding flex="100">
				<!-- basic info -->
				<div layout="column">
					<div class="md-title" layout layout-padding layout-align="start center">
						Basic Info<small class="subTitle">(overview)</small>
					</div>
					<div layout="row" layout-padding class="md-whiteframe-2dp">
						<!-- <div layout="row"> -->
							<div ng-click="changePicture()" layout layout-align="center center">
								<div>
									<img src="/worktrustedV2/app/assets/profilePhotos/{{ company.photo }}" class="profile-circle-avatar" />
									<md-tooltip>Click to change picture</md-tooltip>
								</div>
							</div>
							<div layout="column" layout-padding flex>
								<div layout>
									<div flex>
										<span class="md-title" layout>{{ company.name }}</span>
									</div>
									<div layout layout-align="end end" flex>
										<span class="md-subhead">Partner since {{ company.partnershipDate | amDateFormat:'MMMM D, YYYY' }}</span>
									</div>
								</div>
								<div layout>
									<span class="md-subhead">Website: <a href="//{{ company.website }}" target="_blank">{{ company.website }}</a></span>
								</div>
								<div layout>
									<span>{{ company.description }}</span>
								</div>
							</div>
						<!-- </div> -->
					</div>
				</div>

				<!-- account info -->
				<div layout="column">
					<div class="md-title" layout layout-padding layout-align="start center">
						Account Info<small class="subTitle"></small>
					</div>
					<div layout layout-padding class="md-whiteframe-2dp">
						<div layout="column" layout-padding layout-align="start start" flex>
							<div layout>
								<span>
									{{ company.account.userName }}
									<md-tooltip>Username</md-tooltip>
								</span>
							</div>
							<div layout>
								<span>
									{{ company.account.status | upperFirst }}
									<md-tooltip>Account Status</md-tooltip>
								</span>
							</div>
							<div layout>
								<a ng-click="resetPasswordConfirm()">Reset Password</a>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</form>
</md-content>


</div> <!-- closing div for loading indicator -->


