<div cg-busy="loadingProperties">

<div layout layout-align="end center" id="toolbar">
	<div flex class="md-toolbar-tools">
		<div>
			<md-button ng-click="backToCompanyInfo()" class="md-icon-button md-primary md-hue-1" aria-label="Back">
				<md-icon class="mdi mdi-arrow-left"></md-icon>&emsp;
				<md-tooltip>Back</md-tooltip>	
			</md-button>
		</div>
		<span class="md-title">Edit Company's Profile Picture</span>
	</div>
	<md-list flex="10" class="md-toolbar-tools">
		<md-list-item>
			<md-button ng-click="backToCompanyInfo()" class="md-icon-button md-primary md-hue-1" aria-label="Cancel Edit">
				<md-icon class="mdi mdi-block-helper"></md-icon>
				<md-tooltip md-direction="left">Cancel Edit</md-tooltip>
			</md-button>
		</md-list-item>
		<md-list-item>
			<md-button ng-click="submit()" class="md-icon-button md-primary md-hue-1" aria-label="Save Changes">
				<md-icon class="mdi mdi-check"></md-icon>
				<md-tooltip md-direction="left">Save Changes/Upload Picture</md-tooltip>
			</md-button>
		</md-list-item>
	</md-list>
</div>


<md-content id="companyChangePicture" class="container" layout layout-align="center center">
	<div layout layout-padding flex="50">
		<div layout="column" layout-padding layout-align="center center">
			<!-- profile picture -->
			<div>
				<img ng-src="/worktrustedV2/app/assets/profilePhotos/{{ company.photo }}" ng-if="pictureFile == ''" class="profile-circle-avatar" />
				<img ngf-src="pictureFile" ng-if="pictureFile != ''" class="profile-circle-avatar" />
			</div>

			<!-- action buttons -->
			<div layout layout-padding layout-align="center center">
				<input id="uploadPicture" type="file" ngf-select="selectPicture($files)" ngf-fix-orientation="false" accept="image/*" />
				<md-button trigger-click="#companyChangePicture #uploadPicture" class="md-accent md-raised md-fab md-mini">
					<i class="mdi mdi-upload"></i>
					<md-tooltip>Upload picture from computer</md-tooltip>
				</md-button>
				<md-button trigger-click="#companyChangePicture #ng-camera-action" class="md-accent md-raised md-fab md-mini">
					<i class="mdi mdi-camera"></i>
					<md-tooltip>Take picture from live camera</md-tooltip>
				</md-button>
			</div>
		</div>

		<span flex></span>

		<!-- live camera preview -->
		<div layout layout-align="center center">
			<ng-camera
				viewer-height="320"
				viewer-width="426"
				crop-height="300"
				crop-width="300"
				image-format="jpeg"
				jpeg-quality="100"
				action-message="Take picture"
				snapshot="pictureFile"
				shutter-url="/worktrustedV2/app/assets/audios/shutter.mp3"
			></ng-camera>
		</div>
	</div>
</md-content>


</div> <!-- closing div for loading indicator -->

