<div cg-busy="loadingProperties">

<div layout layout-align="end center" id="toolbar">
	<div flex class="md-toolbar-tools">
		<span class="md-title">List of Companies/Clients</span>
	</div>
	<div>
		<md-input-container md-no-float class="md-primary md-hue-1">
			<input ng-model="searchKeyword" autofocus type="text" placeholder="Search here..." />
		</md-input-container>
	</div>
	<div flex="10">
		<md-button ng-click="addCompany()" class="md-icon-button md-primary md-hue-1" aria-label="Add new company/client">
			<md-icon class="mdi mdi-plus"></md-icon>
			<md-tooltip md-direction="left">Add new company/client</md-tooltip>
		</md-button>
		<md-button ng-click="reloadData()" class="md-icon-button md-primary md-hue-1" aria-label="Reload Data">
			<md-icon class="mdi mdi-refresh"></md-icon>
			<md-tooltip md-direction="left">Reload Data</md-tooltip>
		</md-button>
	</div>
</div>


<md-content id="memberList" class="container" layout layout-align="center start">

	<md-list flex="90">
		<md-list-item ng-if="companies.length == 0">No companies/clients found.</md-list-item>
		<md-list-item class="md-3-line am-fade-and-slide-bottom" ng-repeat="(index, company) in companies" ng-hide="company.id == user.memberId" ng-click="companyInfo(company)">
			<div layout flex>
				<img ng-src="/worktrustedV2/app/assets/profilePhotos/{{ company.photo }}" class="md-avatar" />
				<div class="md-list-item-text" layout="column">
					<h3>{{ company.name }}</h3>
					<p title="{{ company.description }}"}}>
						{{ company.description | limitTo:150 }} ...
					</p>
				</div>
			</div>
			<div layout="column" layout-align="center end" flex class="md-list-item-text">
				<p>{{ company.partnershipDate | amDateFormat:'MMMM D, YYYY h:mm a' }}</p>
				<a href="//{{ company.website }}" target="_blank">{{ company.website }}</a>
			</div>
			<div flex="5">
				<p></p>
				<md-menu>
					<span ng-click="$mdOpenMenu($event)">
						<md-button class="md-icon-button md-primary md-hue-1" aria-label="Menu">
							<md-icon class="mdi mdi-dots-vertical"></md-icon>
						</md-button>
					</span>
					<md-menu-content width="3">
						<md-menu-item>
							<md-button ng-click="companyInfo(company)">
								<md-icon class="mdi mdi-information md-primary md-hue-1"></md-icon>
								&nbsp;
								View Info
							</md-button>
						</md-menu-item>
						<md-menu-item>
							<md-button>
								<md-icon class="mdi mdi-account-remove md-primary md-hue-1"></md-icon>
								&nbsp;
								...
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
				<p></p>
			</div>
			<!-- <md-divider ng-if="!$last"></md-divider> -->
		</md-list-item>
	</md-list>

</md-content>


</div> <!-- closing div for loading indicator -->