<div cg-busy="loadingProperties">

<div layout layout-align="end center" id="toolbar">
	<div flex class="md-toolbar-tools">
		<div>
			<md-button ng-click="cancelEditConfirm()" class="md-icon-button md-primary md-hue-1" aria-label="Back">
				<md-icon class="mdi mdi-arrow-left"></md-icon>&emsp;
				<md-tooltip>Back</md-tooltip>	
			</md-button>
		</div>
		<span class="md-title">Edit Company's Info</span>
	</div>
	<md-list flex="10" class="md-toolbar-tools">
		<md-list-item>
			<md-button ng-click="cancelEditConfirm()" class="md-icon-button md-primary md-hue-1" aria-label="Cancel Edit">
				<md-icon class="mdi mdi-block-helper"></md-icon>
				<md-tooltip md-direction="left">Cancel Edit</md-tooltip>
			</md-button>
		</md-list-item>
		<md-list-item>
			<md-button ng-click="submitCompanyEditForm(companyEditForm)" class="md-icon-button md-primary md-hue-1" aria-label="Save Changes">
				<md-icon class="mdi mdi-check"></md-icon>
				<md-tooltip md-direction="left">Save Changes</md-tooltip>
			</md-button>
		</md-list-item>
	</md-list>
</div>

<md-content id="companyEdit" class="container" layout layout-align="center start">
	<form name="companyEditForm" flex layout="col" layout-padding>
		<div layout="column" layout-padding flex="100">

			<!-- basic info -->
				<div layout="column">
					<div class="md-title" layout layout-padding layout-align="start center">
						Basic Info<small class="subTitle">(profile picture can be changed/saved separately)</small>
					</div>
					<div layout="row" layout-padding class="md-whiteframe-2dp">
						<div ng-click="changePicture()" layout layout-align="center center">
							<div>
								<img src="/worktrustedV2/app/assets/profilePhotos/{{ company.photo }}" class="profile-circle-avatar" />
								<md-tooltip>Click to change picture</md-tooltip>
							</div>
						</div>

						<div layout="column" layout-padding flex>
							<div layout layout-align="center center" class="customMdInputContainer">
								<md-input-container flex>
									<label>Company Name</label>
									<input ng-model="company.name" name="name" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" />
									<div ng-messages="companyEditForm.name.$error" ng-if="companyEditForm.name.$touched">
										<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
										<div ng-message="pattern" class="error">This field requires letters only</div>
									</div>
								</md-input-container>
							</div>

							<div layout layout-align="center center" class="customMdInputContainer">
								<md-input-container flex>
									<label>Website</label>
									<input ng-model="company.website" name="website" required ng-minlength="3" ng-maxlength="50" />
									<div ng-messages="companyEditForm.website.$error" ng-if="companyEditForm.website.$touched">
										<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
										<div ng-message="pattern" class="error">This field requires alphanumeric characters and basic symbols only</div>
									</div>
								</md-input-container>
							</div>

							<div layout layout-align="center center" class="customMdInputContainer">
								<md-input-container flex>
									<label>Partner Since</label>
									<input name="partnershipDate" readonly value="{{ company.partnershipDate | amDateFormat:'MMMM D, YYYY' }}" />
								</md-input-container>
							</div>

							<div layout layout-align="center center" class="customMdInputContainer">
								<md-input-container flex>
									<label>Description</label>
									<textarea ng-model="company.description" name="description" required ng-pattern="alphanumericSymbol" ng-minlength="10"></textarea>
									<div ng-messages="companyEditForm.description.$error" ng-if="companyEditForm.description.$touched">
										<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
										<div ng-message="pattern" class="error">This field requires alphanumeric characters and basic symbols only</div>
									</div>
								</md-input-container>
							</div>
						</div>
					</div>
				</div>

								

			<!-- account info -->
			<div layout="column" layout-padding>
				<div class="md-title" layout layout-padding layout-align="start center">
					Account Info<small class="subTitle"></small>
				</div>
				<div layout="column" class="md-whiteframe-2dp">
					<div flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<input ng-model="company.account.userName" readonly placeholder="Username" />
						</md-input-container>
					</div>
					<div flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<md-select ng-model="company.account.status" name="accountStatus" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" placeholder="Account Type">
								<md-option value="active">Active</md-option>
								<md-option value="inactive">Inactive</md-option>
							</md-select>
							<div ng-messages="memberEditForm.accountStatus.$error" ng-if="memberEditForm.accountStatus.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
					</div>
					<div layout>
						<a ng-click="resetPasswordConfirm()">Reset Password</a>
					</div>
				</div>
			</div>

			

			<!-- training events/schedules -->
			<!-- <div layout="column" layout-padding>
				<div class="md-title" layout layout-padding layout-align="start center">
					Training Events/Schedules <small></small>
				</div>
				<div class="tableHeading" layout layout-padding flex>
					<span flex>Date</span>
					<span flex>Location</span>
					<span flex>Remark</span>
					<md-button ng-click="showTrainingScheduleList()" class="md-fab md-mini md-accent" aria-label="Schedule training">
						<i class="mdi mdi-plus"></i>
						<md-tooltip md-direction="left">Add/Schedule a training to this member</md-tooltip>
					</md-button>
				</div>
				<div layout="column" class="md-whiteframe-2dp">
					<div ng-repeat="memberTrainingEvent in member.trainingEvents | orderBy:'start'" flex layout layout-align="center center" class="customMdInputContainer">
						<span flex>{{ memberTrainingEvent.trainingEvent.start | amDateFormat:'MMMM D, YYYY' }} - {{ memberTrainingEvent.trainingEvent.end | amDateFormat:'MMMM D, YYYY' }}</span>
						<span flex>{{ memberTrainingEvent.trainingEvent.location }}</span>
						<md-input-container flex md-no-float>
							<md-select ng-model="memberTrainingEvent.remark" name="memberTrainingEventRemark{{$index}}" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="100" placeholder="Remarks">
								<md-option>PENDING</md-option>
								<md-option>PASSED</md-option>
								<md-option>FAILED</md-option>
							</md-select>
							<div ng-messages="memberEditForm['memberTrainingEventRemark' + $index].$error" ng-if="memberEditForm['memberTrainingEventRemark' + $index].$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters and numbers only</div>
							</div>
						</md-input-container>
						<md-button ng-click="removeTrainingEventField($index)" class="md-icon-button md-primary md-hue-1" aria-label="Delete Skill">
							<md-icon class="mdi mdi-delete"></md-icon>
							<md-tooltip md-direction="left">Delete</md-tooltip>
						</md-button>
					</div>
				</div>
			</div> -->

		</div>
	</form>
</md-content>



</div> <!-- closing div for loading indicator -->