<div cg-busy="loadingProperties">

<div layout layout-align="end center" id="toolbar">
	<div flex class="md-toolbar-tools">
		<span class="md-title">List of Job Applicants</span>
	</div>
	<div>
		<md-input-container md-no-float>
			<md-select ng-model="filters.status" ng-change="loadJobApplicants()" required placeholder="Select View">
				<md-option>All</md-option>
				<md-option>Pending</md-option>
				<md-option>Agency Interview</md-option>
				<md-option>Company Interview</md-option>
				<md-option>Hired</md-option>
			</md-select>
		</md-input-container>
	</div>
	<div>
		<md-input-container md-no-float class="md-primary md-hue-1">
			<input ng-model="filters.search" ng-keyup="searchChange()" autofocus type="text" placeholder="Search here..." />
		</md-input-container>
		<md-tooltip>Search by date</md-tooltip>
	</div>
	<div flex="10">
		<md-button ng-click="showAdvancedSearch()" class="md-icon-button md-primary md-hue-1" aria-label="Advanced Search">
			<md-icon class="mdi mdi-magnify"></md-icon>
			<md-tooltip md-direction="left">Advanced Search</md-tooltip>
		</md-button>
		<md-button ng-click="reloadData()" class="md-icon-button md-primary md-hue-1" aria-label="Reload Data">
			<md-icon class="mdi mdi-refresh"></md-icon>
			<md-tooltip md-direction="left">Reload Data</md-tooltip>
		</md-button>
	</div>
</div>


<md-content id="jobApplicantList" class="container" layout layout-align="center start">

	<md-list flex="90">
		<md-list-item ng-if="jobOpening.applicants.length == 0">No applicants found.</md-list-item>
		<md-list-item class="md-3-line am-fade-and-slide-bottom" ng-repeat="(index, applicant) in jobApplicants" ng-click="jobApplicantInfo(applicant)">
			<div layout flex>
				<img ng-src="/worktrustedV2/app/assets/profilePhotos/{{ applicant.member.photo }}" class="md-avatar" />
				<div class="md-list-item-text" layout="column">
					<h3>{{ applicant.member.firstName }} {{ applicant.member.middleName }} {{ applicant.member.lastName }}</h3>
					<p>
						{{ applicant.date | amDateFormat:'MMMM D, YYYY h:mm a' }}
						<md-tooltip ng-if="applicant.status == 'Pending' || filters.status == 'ALL'">Application date</md-tooltip>
						<md-tooltip ng-if="applicant.status == 'Agency Interview' || applicant.status == 'Company Interview' || filters.status == 'ALL'">Interview date</md-tooltip>
					</p>
					<p>
						Applying for: {{ applicant.jobOpening.title }}
					</p>
				</div>
			</div>
			<div layout="column" layout-align="center end" flex class="md-list-item-text">
				<p>{{ applicant.member.civilStatus }} | {{ applicant.member.gender }}</p>
				<p>{{ applicant.status }}</p>
				<p>{{ applicant.member.age }} years old</p>
			</div>
			<div flex="5">
				<p></p>
				<md-menu>
					<span ng-click="$mdOpenMenu($event)">
						<md-button class="md-icon-button md-primary md-hue-1" aria-label="Menu">
							<md-icon class="mdi mdi-dots-vertical"></md-icon>
						</md-button>
					</span>
					<md-menu-content width="3">
						<md-menu-item>
							<md-button ng-click="applicantInfo(applicant.member)">
								<md-icon class="mdi mdi-information md-primary md-hue-1"></md-icon>
								&nbsp;
								View Info
							</md-button>
						</md-menu-item>
						<md-menu-item>
							<md-button>
								<md-icon class="mdi mdi-account-remove md-primary md-hue-1"></md-icon>
								&nbsp;
								...
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
				<p></p>
			</div>
			<!-- <md-divider ng-if="!$last"></md-divider> -->
		</md-list-item>
	</md-list>

</md-content>


</div> <!-- closing div for loading indicator -->