<div cg-busy="loadingProperties">

<div layout layout-align="end center" id="toolbar">
	<div flex class="md-toolbar-tools">
		<div>
			<md-button ng-click="backToJobApplicantList()" class="md-icon-button md-primary md-hue-1" aria-label="Back">
				<md-icon class="mdi mdi-arrow-left"></md-icon>&emsp;
				<md-tooltip>Back</md-tooltip>	
			</md-button>
		</div>
		<span class="md-title">Applicant's Info</span>
	</div>

	<!-- button icons -->
	<div flex="5">
		<md-button ng-click="hireApplicantConfirm()" ng-if="jobApplicant.status == 'Company Interview'" class="md-icon-button md-primary md-hue-1" aria-label="Hire Applicant">
			<md-icon class="mdi mdi-account-check"></md-icon>
			<md-tooltip md-direction="left">Hire applicant</md-tooltip>
		</md-button>
	</div>
</div>

<md-content id="applicantInfo" class="container" layout layout-align="center start">
	<form name="applicantInfoForm" flex layout="col" layout-padding>
		<div flex layout="column" layout-padding layout-wrap>
			<div layout="column" layout-padding flex="100">
				<!-- basic info -->
				<div layout="column">
					<div class="md-title" layout layout-padding layout-align="start center">
						Basic Info<small class="subTitle">(overview)</small>
					</div>
					<div layout layout-padding class="md-whiteframe-2dp">
						<div ng-click="changePicture()" layout layout-align="center center">
							<div>
								<img src="/worktrustedV2/app/assets/profilePhotos/{{ member.photo }}" class="profile-circle-avatar" />
								<md-tooltip>Click to change picture</md-tooltip>
							</div>
						</div>
						<div layout="column" layout-padding layout-align="start start" flex>
							<div layout class="md-title">
								<span>
									{{ member.firstName }}
								</span>
								<span>
									&nbsp;{{ member.middleName }}
								</span>
								<span>
									&nbsp;{{ member.lastName }}
								</span>
							</div>
							<div layout>
								<span>
									{{ member.civilStatus }}
								</span>
								<span>
									&emsp;{{ member.gender }}
								</span>
								<span>
									&emsp;{{ member.age }} years old
									<md-tooltip>{{ member.birthDate | amDateFormat:'MMMM D, YYYY' }}</md-tooltip>
								</span>
							</div>
							<div layout layout-wrap>
								<span>
									{{ member.street }}
								</span>
								<span>
									, {{ member.barangay }}
								</span>
								<span>
									, {{ member.city }}
								</span>
								<span>
									, {{ member.province }}
								</span>
							</div>
							<div layout>
								<span>{{ member.height }} cm</span>
								<span>&emsp;{{ member.weight }} kg</span>
							</div>
						</div>
						<div layout="column" layout-padding layout-align="start start" flex>
							<span layout class="md-title">&nbsp;</span>
							<span layout>{{ member.email }}</span>
							<span layout>{{ member.mobile }}</span>
							<span layout>{{ member.religion }}</span>
						</div>
						<div layout="column" layout-padding layout-align="start start" flex>
							<span layout class="md-title">&nbsp;</span>
							<span layout class="md-subhead">Member since {{ member.membershipDate | amDateFormat:'MMMM D, YYYY' }}</span>
						</div>
					</div>
				</div>

				<!-- job opening info -->
				<div layout="column">
					<div class="md-title" layout layout-padding layout-align="start center">
						Job Opening<small class="subTitle">(Application status: {{ jobApplicant.status }})</small>
					</div>
					<div layout layout-padding class="md-whiteframe-2dp">
						<div layout="column" layout-padding layout-align="start start" flex>
							<div layout>
								<span>
									{{ jobOpening.title }}
								</span>
							</div>
							<div layout>
								<span>
									{{ jobOpening.description }}
								</span>
							</div>
							<div layout>
								<span>
									Salary Range: {{ jobOpening.minSalary }} - {{ jobOpening.maxSalary }}
								</span>
							</div>
							<div layout>
								<span>
									Type: {{ jobOpening.employmentType }} | {{ jobOpening.industryType }}
								</span>
							</div>
							<div layout>
								<span>
									Current Available Slots: {{ jobOpening.slots }}
								</span>
							</div>
						</div>
					</div>
				</div>

				<!-- educational attainment -->
				<div layout="column">
					<div class="md-title" layout layout-padding layout-align="start center">
						Educational Attainment<small class="subTitle"></small>
					</div>
					<div layout layout-padding class="md-whiteframe-2dp">
						<div layout="column" layout-padding layout-align="start start" flex>
							<div layout>
								<span>
									{{ member.education.attainment }}
								</span>
							</div>
							<div layout ng-if="member.education != 'High School Graduate'">
								<span>
									{{ member.education.course }}
								</span>
							</div>
							<div layout>
								<span>
									{{ member.education.startYear }}
								</span>
								&nbsp;-&nbsp;
								<span>
									{{ member.education.endYear }}
								</span>
							</div>
						</div>
					</div>
				</div>

				<!-- skills -->
				<div layout="column">
					<div class="md-title" layout layout-padding layout-align="start center">
						Skills
						<small class="subTitle">
							(relative to field of work)
							<span ng-if="member.skills.length == 0">(No skills found)</span>
						</small>
					</div>
					<md-list class="md-whiteframe-2dp">
						<md-list-item ng-repeat="skill in member.skills">
							<div flex layout layout-padding>
								<span>{{ skill.skill }}</span>
							</div>
							<md-divider ng-if="!$last"></md-divider>
						</md-list-item>
					</md-list>
				</div>

				<!-- work history -->
				<div layout="column">
					<div class="md-title" layout layout-padding layout-align="start center">
						Work Histories
						<small>
							<span ng-if="member.workHistories.length == 0">(No work history found)</span>
						</small>
					</div>
					<div class="tableHeading" layout layout-padding flex>
						<span flex>Company</span>
						<span flex>Position</span>
						<span flex>Start Date</span>
						<span flex>End Date</span>
					</div>
					<md-list class="md-whiteframe-2dp">
						<md-list-item ng-repeat="workHistory in member.workHistories">
							<div flex layout layout-padding>
								<span flex>{{ workHistory.company }}</span>
								<span flex>{{ workHistory.position }}</span>
								<span flex>{{ workHistory.startDate | amDateFormat:'MMMM D, YYYY' }}</span>
								<span flex>{{ workHistory.endDate | amDateFormat:'MMMM D, YYYY' }}</span>
							</div>
							<md-divider ng-if="!$last"></md-divider>
						</md-list-item>
					</md-list>
				</div>

				<!-- parents -->
				<div layout="column" ng-if="member.parent.motherName != '' || member.parent.fatherName != ''">
					<div class="md-title" layout layout-padding layout-align="start center">
						Parents
					</div>
					<div class="tableHeading" layout layout-padding flex>
						<span flex>Name</span>
						<span flex>Relation</span>
						<span flex>Occupation</span>
					</div>
					<md-list class="md-whiteframe-2dp">
						<md-list-item>
							<div flex layout layout-padding>
								<span flex>{{ member.parent.motherName }}</span>
								<span flex>Mother</span>
								<span flex>{{ member.parent.motherOccupation }}</span>
							</div>
						</md-list-item>
						<md-divider></md-divider>
						<md-list-item>
							<div flex layout layout-padding>
								<span flex>{{ member.parent.fatherName }}</span>
								<span flex>Father</span>
								<span flex>{{ member.parent.fatherOccupation }}</span>
							</div>
						</md-list-item>
					</md-list>
				</div>

				<!-- spouse info -->
				<div layout="column" ng-if="member.civilStatus != 'Single' && member.civilStatus != 'Divorced'">
					<div class="md-title" layout layout-padding layout-align="start center">
						Spouse<small class="subTitle"></small>
					</div>
					<div layout layout-padding class="md-whiteframe-2dp">
						<div layout="column" layout-padding layout-align="start start" flex>
							<div layout>
								<span>
									{{ member.spouse.firstName }}
									<md-tooltip>First Name</md-tooltip>
								</span>
								<span>
									&nbsp;{{ member.spouse.middleName }}
									<md-tooltip>Middle Name</md-tooltip>
								</span>
								<span>
									&nbsp;{{ member.spouse.lastName }}
									<md-tooltip>Last Name</md-tooltip>
								</span>
							</div>
							<div layout>
								<span>
									{{ member.spouse.age }} years old, 
								</span>
								<span>
									&nbsp;{{ member.spouse.birthDate | amDateFormat:'MMMM D, YYYY' }}
								</span>
							</div>
							<div layout>
								<span>{{ member.spouse.occupation }}</span>
							</div>
						</div>
						<div layout="column" layout-padding layout-align="start start" flex>
							<span layout>{{ member.spouse.email }}</span>
							<span layout>{{ member.spouse.mobile }}</span>
						</div>
					</div>
				</div>

				<!-- beneficiaries -->
				<div layout="column">
					<div class="md-title" layout layout-padding layout-align="start center">
						Beneficiaries
						<small>
							<span ng-if="member.beneficiaries.length == 0">(No beneficiaries found)</span>
						</small>
					</div>
					<div class="tableHeading" layout layout-padding flex>
						<span flex>Name</span>
						<span flex>Relation</span>
						<span flex>Birth Date</span>
						<span flex>Age</span>
					</div>
					<md-list class="md-whiteframe-2dp">
						<md-list-item ng-repeat="beneficiary in member.beneficiaries">
							<div flex layout layout-padding>
								<span flex>{{ beneficiary.name }}</span>
								<span flex>{{ beneficiary.relation }}</span>
								<span flex>{{ beneficiary.birthDate | amDateFormat:'MMMM D, YYYY' }}</span>
								<span flex>{{ beneficiary.age }}</span>
							</div>
							<md-divider ng-if="!$last"></md-divider>
						</md-list-item>
					</md-list>
				</div>

				<!-- character references -->
				<div layout="column">
					<div class="md-title" layout layout-padding layout-align="start center">
						Character References
						<small>
							<span ng-if="member.characterReferences.length == 0">(No character references found)</span>
						</small>
					</div>
					<div class="tableHeading" layout layout-padding flex>
						<span flex>Name</span>
						<span flex>Occupation</span>
						<span flex>Company</span>
						<span flex>Mobile No.</span>
						<span flex>Email Address</span>
					</div>
					<md-list class="md-whiteframe-2dp">
						<md-list-item ng-repeat="charRef in member.characterReferences">
							<div flex layout layout-padding>
								<span flex>{{ charRef.name }}</span>
								<span flex>{{ charRef.occupation }}</span>
								<span flex>{{ charRef.company }}</span>
								<span flex>{{ charRef.mobile }}</span>
								<span flex>{{ charRef.email }}</span>
							</div>
							<md-divider ng-if="!$last"></md-divider>
						</md-list-item>
					</md-list>
				</div>

			</div>
		</div>
	</form>
</md-content>


</div> <!-- closing div for loading indicator -->