<div cg-busy="loadingProperties">

<div layout layout-align="end center" id="toolbar">
	<div flex class="md-toolbar-tools">
		<div>
			<md-button ng-click="backToProfileInfo()" class="md-icon-button md-primary md-hue-1" aria-label="Back">
				<md-icon class="mdi mdi-arrow-left"></md-icon>&emsp;
				<md-tooltip>Back to "Profile"</md-tooltip>	
			</md-button>
		</div>
		<span class="md-title">Change Password and Username</span>
	</div>

	<!-- button icons -->
	<div flex="5">
		<md-button ng-click="backToProfileInfo()" class="md-icon-button md-primary md-hue-1" aria-label="Cancel Edit">
			<md-icon class="mdi mdi-block-helper"></md-icon>
			<md-tooltip md-direction="left">Cancel</md-tooltip>
		</md-button>
	</div>
	<div flex="5">
		<md-button ng-click="submitAccountEditForm(accountEditForm)" class="md-icon-button md-primary md-hue-1" aria-label="Save Changes">
			<md-icon class="mdi mdi-check"></md-icon>
			<md-tooltip md-direction="left">Save Changes</md-tooltip>
		</md-button>
	</div>
</div>

<md-content id="profileInfo" class="container" layout layout-align="center start">
	<form name="accountEditForm" flex layout="col" layout-padding>
		<div flex layout="column" layout-padding layout-wrap>

			<div layout="column">
				<div class="md-title" layout layout-padding layout-align="start center">
					Account Edit Form<small class="subTitle">(Will automatically logout after saving changes)</small>
				</div>
				<div layout="column" layout-padding class="md-whiteframe-2dp">
					<md-input-container flex md-is-error="accountEditForm.newUserName.$invalid && accountEditForm.newUserName.$touched">
						<input ng-model="accountInfo.newUserName" ng-keyup="userNameCheck()" name="newUserName" required ng-pattern="alphanumeric" ng-minlength="4" ng-maxlength="50" placeholder="UserName(will automatically turn to upercase upon saving)" />
						<div ng-messages="accountEditForm.newUserName.$error" ng-if="accountEditForm.newUserName.$touched">
							<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
							<div ng-message="pattern" class="error">This field requires letters and numbers only</div>
							<div ng-message="alreadyTaken" class="error">This username is already taken</div>
						</div>
					</md-input-container>

					<md-checkbox ng-model="dontChangePassword" aria-label="Dont change password" class="md-warn">I don't want to change my password</md-checkbox>

					<md-input-container flex ng-if="dontChangePassword == false" md-is-error="accountEditForm.password.$invalid && accountEditForm.password.$touched">
						<input ng-model="accountInfo.password" name="password" type="password" required ng-pattern="alphanumericSymbol" ng-minlength="4" ng-maxlength="50" placeholder="New password" />
						<div ng-messages="accountEditForm.password.$error" ng-if="accountEditForm.password.$touched">
							<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
							<div ng-message="pattern" class="error">This field requires alpanumeric characters and basic symbols only</div>
							<div ng-message="wrongPassword" class="error">Wrong password!</div>
						</div>
					</md-input-container>

					<md-input-container flex ng-if="dontChangePassword == false" md-is-error="accountEditForm.confirmPassword.$invalid && accountEditForm.confirmPassword.$touched">
						<input ng-model="accountInfo.confirmPassword" ng-keyup="confirmPasswordCheck()" name="confirmPassword" type="password" required ng-pattern="alphanumericSymbol" ng-minlength="4" ng-maxlength="50" placeholder="Confirm New Password" />
						<div ng-messages="accountEditForm.confirmPassword.$error" ng-if="accountEditForm.confirmPassword.$touched">
							<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
							<div ng-message="pattern" class="error">This field requires alpanumeric characters and basic symbols only</div>
							<div ng-message="passwordNotMatch" class="error">Password didnt matched!</div>
						</div>
					</md-input-container>
				</div>
			</div>
			
		</div>
	</form>
</md-content>


</div> <!-- closing div for loading indicator -->