<div cg-busy="loadingProperties">

<div layout layout-align="end center" id="toolbar">
	<div flex class="md-toolbar-tools">
		<span class="md-title">List of Trainings</span>
	</div>
	<div>
		<md-input-container md-no-float class="md-primary md-hue-1">
			<input ng-model="searchKeyword" autofocus type="text" placeholder="Search here..." />
		</md-input-container>
	</div>
	<div flex="10">
		<md-button ng-click="showAddTraining()" class="md-icon-button md-primary md-hue-1" aria-label="Create new training">
			<md-icon class="mdi mdi-plus"></md-icon>
			<md-tooltip md-direction="left">Add/Create new training</md-tooltip>
		</md-button>
		<md-button ng-click="reloadData()" class="md-icon-button md-primary md-hue-1" aria-label="Reload Data">
			<md-icon class="mdi mdi-refresh"></md-icon>
			<md-tooltip md-direction="left">Reload Data</md-tooltip>
		</md-button> 
	</div>
</div>


<md-content id="trainingList" class="container" layout layout-align="center start">

	<md-list flex="90">
		<md-list-item ng-if="trainings.length == 0">No trainings found.</md-list-item>
		<md-list-item class="md-2-line am-fade-and-slide-bottom" ng-repeat="(index, training) in trainings" ng-init="countTrainingEventTypes(index)" ng-click="trainingInfo(training)">
			<div layout flex>
				<img class="md-avatar" />
				<div class="md-list-item-text" layout="column">
					<h3>{{ training.name }}</h3>
					<p>{{ training.description }}</p>
				</div>
			</div>
			<div layout="column" layout-align="center end" flex class="md-list-item-text">
				<p>Done: {{ training.trainingEventCount.done }}</p>
				<p>Upcoming: {{ training.trainingEventCount.upcoming }}</p>
				<p>Ongoing: {{ training.trainingEventCount.ongoing }}</p>
			</div>
			<div flex="5">
				<p></p>
				<md-menu>
					<span ng-click="$mdOpenMenu($event)">
						<md-button class="md-icon-button md-primary md-hue-1" aria-label="Menu">
							<md-icon class="mdi mdi-dots-vertical"></md-icon>
						</md-button>
					</span>
					<md-menu-content width="3">
						<md-menu-item>
							<md-button ng-click="trainingInfo(training)">
								<md-icon class="mdi mdi-information md-primary md-hue-1"></md-icon>
								&nbsp;
								View Info
							</md-button>
						</md-menu-item>
						<md-menu-item>
							<md-button>
								<md-icon class="mdi mdi-account-remove md-primary md-hue-1"></md-icon>
								&nbsp;
								...
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
				<p></p>
			</div>
			<!-- <md-divider ng-if="!$last"></md-divider> -->
		</md-list-item>
	</md-list>

</md-content>


