<div cg-busy="loadingProperties">

<div layout layout-align="end center" id="toolbar">
	<div flex class="md-toolbar-tools">
		<div>
			<md-button ng-click="backToTrainingList()" class="md-icon-button md-primary md-hue-1" aria-label="Back">
				<md-icon class="mdi mdi-arrow-left"></md-icon>&emsp;
				<md-tooltip>Back</md-tooltip>	
			</md-button>
		</div>
		<span class="md-title">Training's Info</span>
	</div>

	<!-- button icons -->
	<div flex="10">
		<md-button ng-click="deleteTrainingConfirm()" class="md-icon-button md-primary md-hue-1" aria-label="deleteTraining">
			<md-icon class="mdi mdi-delete"></md-icon>
			<md-tooltip md-direction="left">Delete this training</md-tooltip>
		</md-button>
		<md-button ng-click="editTraining()" class="md-icon-button md-primary md-hue-1" aria-label="editTraining">
			<md-icon class="mdi mdi-pencil"></md-icon>
			<md-tooltip md-direction="left">Edit training's info</md-tooltip>
		</md-button>
	</div>
</div>

<md-content id="trainingInfo" class="container" layout layout-align="center start">
	<form name="trainingInfoForm" flex layout="col" layout-padding>
		<div flex layout="column" layout-padding layout-wrap>
			<div layout="column" layout-padding flex="100">

				<!-- main info -->
				<div layout="column">
					<div layout layout-padding class="md-whiteframe-2dp">
						<div layout="column" layout-padding layout-align="start start" flex>
							<div layout>
								<span class="md-title">
									{{ training.name }}
								</span>
							</div>
							<div layout>
								<span>
									{{ training.description }}
								</span>
							</div>
							<!-- <div layout>
								<span>Done: {{ training.trainingEventCount.done }}</span>
							</div>
							<div layout>
								<span>Upcoming: {{ training.trainingEventCount.upcoming }}</span>
							</div>
							<div layout>
								<span>Ongoing: {{ training.trainingEventCount.ongoing }}</span>
							</div> -->
						</div>
					</div>
				</div>

				<!-- training events -->
				<div layout="column" ng-if="training.trainingEvents.length == 0">
					<div class="md-title" layout layout-padding layout-align="start center">
						No training events found <small>(<a ng-click="addTrainingEvent()">Click here to add!</a>)</small>
					</div>
				</div>

				<div layout="column" ng-if="training.trainingEvents.length > 0">
					<div class="md-title" layout layout-padding layout-align="start center">
						Training Events <small>(List of events using this training)</small>
					</div>
					<div class="tableHeading" layout layout-padding flex>
						<span flex>Date</span>
						<span flex>Location</span>
						<span flex>Attendees/Slot</span>
						<span flex="10">
							<md-button ng-click="addTrainingEvent()" class="md-fab md-mini md-accent" aria-label="Add Work History">
								<i class="mdi mdi-plus"></i>
								<md-tooltip>Add event/schedule for {{ training.name }}</md-tooltip>
							</md-button>
						</span>
					</div>
					<md-list class="md-whiteframe-2dp">
						<md-list-item ng-repeat="trainingEvent in training.trainingEvents | orderBy:'start'">
							<div flex layout layout-padding>
								<span flex>{{ trainingEvent.start | amDateFormat:'MMMM D, YYYY' }} - {{ trainingEvent.end | amDateFormat:'MMMM D, YYYY' }}</span>
								<span flex>{{ trainingEvent.location }}</span>
								<span flex>{{ trainingEvent.attendees.length }}/{{ trainingEvent.slots }}</span>
								<span flex="10">
									<md-button ng-click="trainingEventInfo(trainingEvent)" class="md-icon-button md-primary md-hue-1" aria-label="Show full info">
										<md-icon class="mdi mdi-information"></md-icon>
										<md-tooltip md-direction="left">Click for more info</md-tooltip>
									</md-button>
								</span>
							</div>
							<md-divider ng-if="!$last"></md-divider>
						</md-list-item>
					</md-list>
				</div>

			</div>
		</div>
	</form>
</md-content>


</div> <!-- closing div for loading indicator -->