<div cg-busy="loadingProperties">

<div layout layout-align="end center" id="toolbar">
	<div flex class="md-toolbar-tools">
		<span class="md-title">List of Applicants</span>
	</div>
	<div>
		<md-input-container md-no-float>
			<md-select ng-model="applicantListView" ng-change="loadApplicants()" required placeholder="Select View">
				<md-option value="newApplicants">New Applicants</md-option>
				<md-option value="applicantsForInterview">Applicants for Interview</md-option>
			</md-select>
		</md-input-container>
	</div>
	<div>
		<md-input-container md-no-float class="md-primary md-hue-1">
			<input ng-model="searchKeyword" autofocus type="text" placeholder="Search here..." />
		</md-input-container>
	</div>
	<div flex="5">
		<md-button ng-click="reloadData()" class="md-icon-button md-primary md-hue-1" aria-label="Reload Data">
			<md-icon class="mdi mdi-refresh"></md-icon>
			<md-tooltip md-direction="left">Reload Data</md-tooltip>
		</md-button> 
	</div>
</div>


<md-content id="membershipApplicantList" class="container" layout layout-align="center start">

	<md-list flex="90">
		<md-list-item ng-if="applicants.length == 0">No applicants found.</md-list-item>
		<md-list-item class="md-3-line am-fade-and-slide-bottom" ng-repeat="(index, applicant) in applicants" ng-click="applicantInfo(applicant)">
			<div layout flex>
				<img ng-src="/worktrustedV2/app/assets/profilePhotos/{{ applicant.photo }}" class="md-avatar" />
				<div class="md-list-item-text" layout="column">
					<h3>{{ applicant.firstName }} {{ applicant.middleName }} {{ applicant.lastName }}</h3>
					<p ng-if="!applicant.interview">
						{{ applicant.applicationDate | amDateFormat:'MMM D, YYYY h:mm a' }}
						<md-tooltip md-direction="down">Application date</md-tooltip>
					</p>
					<p ng-if="applicant.interview">
						{{ applicant.interview.schedule.start | amDateFormat:'MMM D, YYYY h:mm a' }}
						<md-tooltip md-direction="down">Interview date</md-tooltip>
					</p>
					<p>{{ applicant.street }}, {{ applicant.barangay }}, {{ applicant.city }}, {{ applicant.province }}</p>
				</div>
			</div>
			<div layout="column" layout-align="center end" flex class="md-list-item-text">
				<p>{{ applicant.civilStatus }}</p>
				<p>{{ applicant.gender }}</p>
				<p>{{ applicant.age }} years old</p>
			</div>
			<div flex="5">
				<p></p>
				<md-menu>
					<span ng-click="$mdOpenMenu($event)">
						<md-button class="md-icon-button md-primary md-hue-1" aria-label="Menu">
							<md-icon class="mdi mdi-dots-vertical"></md-icon>
						</md-button>
					</span>
					<md-menu-content width="3">
						<md-menu-item>
							<md-button ng-click="applicantInfo(applicant)">
								<md-icon class="mdi mdi-information md-primary md-hue-1"></md-icon>
								&nbsp;
								View Info
							</md-button>
						</md-menu-item>
						<md-menu-item>
							<md-button ng-click="showRejectConfirm(applicant)">
								<md-icon class="mdi mdi-account-remove md-primary md-hue-1"></md-icon>
								&nbsp;
								Reject
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
				<p></p>
			</div>
			<!-- <md-divider ng-if="!$last"></md-divider> -->
		</md-list-item>
	</md-list>

</md-content>


</div> <!-- closing div for loading indicator -->