<div cg-busy="loadingProperties">

<div layout layout-align="end center" id="toolbar">
	<div flex class="md-toolbar-tools">
		<div>
			<md-button ng-click="backToMembershipApplicantInfo()" class="md-icon-button md-primary md-hue-1" aria-label="Back">
				<md-icon class="mdi mdi-arrow-left"></md-icon>&emsp;
				<md-tooltip>Back</md-tooltip>	
			</md-button>
		</div>
		<span class="md-title">Edit Applicant's Info</span>
	</div>
	<md-list flex="10" class="md-toolbar-tools">
		<md-list-item>
			<md-button ng-click="cancelEditConfirm()" class="md-icon-button md-primary md-hue-1" aria-label="Cancel Edit">
				<md-icon class="mdi mdi-block-helper"></md-icon>
				<md-tooltip md-direction="left">Cancel Edit</md-tooltip>
			</md-button>
		</md-list-item>
		<md-list-item>
			<md-button ng-click="submitMembershipApplicantEditForm(membershipApplicantEditForm)" class="md-icon-button md-primary md-hue-1" aria-label="Save Changes">
				<md-icon class="mdi mdi-check"></md-icon>
				<md-tooltip md-direction="left">Save Changes</md-tooltip>
			</md-button>
		</md-list-item>
	</md-list>
</div>

<md-content id="membershipApplicantEdit" class="container" layout layout-align="center start">
	<form name="membershipApplicantEditForm" flex layout="col" layout-padding>
		<div layout="column" layout-padding flex="100">

			<!-- basic info -->
			<div layout="column" layout-padding>
				<div class="md-title" layout layout-padding layout-align="start center">
					Basic Info<small class="subTitle">(profile picture can be changed/saved separately)</small>
				</div>
				<div layout layout-padding class="md-whiteframe-2dp">
					<div ng-click="changePicture()" layout layout-align="center center">
						<div>
							<img src="/worktrustedV2/app/assets/profilePhotos/{{ applicant.photo }}" class="profile-circle-avatar" />
							<md-tooltip>Click to change picture</md-tooltip>
						</div>
					</div>
					<div flex layout="column">
						<div flex layout layout-align="start center" class="customMdInputContainer">
							<div layout flex="50">
								<md-input-container flex md-no-float>
									<input ng-model="applicant.firstName" name="firstName" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" placeholder="First Name" />
									<div ng-messages="membershipApplicantEditForm.firstName.$error" ng-if="membershipApplicantEditForm.firstName.$touched">
										<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
										<div ng-message="pattern" class="error">This field requires letters only</div>
									</div>
								</md-input-container>
								<md-input-container flex md-no-float>
									<input ng-model="applicant.middleName" name="middleName" ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" placeholder="Middle Name" />
									<div ng-messages="membershipApplicantEditForm.middleName.$error" ng-if="membershipApplicantEditForm.middleName.$touched">
										<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
										<div ng-message="pattern" class="error">This field requires letters only</div>
									</div>
								</md-input-container>
								<md-input-container flex md-no-float>
									<input ng-model="applicant.lastName" name="lastName" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" placeholder="Last Name" />
									<div ng-messages="membershipApplicantEditForm.lastName.$error" ng-if="membershipApplicantEditForm.lastName.$touched">
										<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
										<div ng-message="pattern" class="error">This field requires letters only</div>
									</div>
								</md-input-container>
							</div>
						</div>
						<div flex layout layout-align="start center" class="customMdInputContainer">
							<md-input-container flex="25" md-no-float>
								<md-select ng-model="applicant.civilStatus" name="civilStatus" required placeholder="Civil Status">
									<md-option ng-repeat="option in civilStatusOptions">{{ option }}</md-option>
								</md-select>
								<div ng-messages="membershipApplicantEditForm.civilStatus.$error" ng-if="membershipApplicantEditForm.civilStatus.$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
									<div ng-message="pattern" class="error">This field requires letters only</div>
								</div>
							</md-input-container>
							<md-input-container flex="25" md-no-float>
								<md-select ng-model="applicant.gender" name="firstName" required placeholder="Gender">
									<md-option ng-repeat="option in genderOptions">{{ option }}</md-option>
								</md-select>
								<div ng-messages="membershipApplicantEditForm.firstName.$error" ng-if="membershipApplicantEditForm.firstName.$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
									<div ng-message="pattern" class="error">This field requires letters only</div>
								</div>
							</md-input-container>
							<md-datepicker ng-model="applicant.birthDate"></md-datepicker>
						</div>
						<div flex layout layout-align="start center" class="customMdInputContainer">
							<div flex="80" layout>
								<md-input-container flex md-no-float>
									<input ng-model="applicant.street" name="street" ng-pattern="alphanumericSymbol" ng-minlength="2" ng-maxlength="100" placeholder="Street" />
									<div ng-messages="membershipApplicantEditForm.street.$error" ng-if="membershipApplicantEditForm.street.$touched">
										<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
										<div ng-message="pattern" class="error">This field requires alphanumeric characters and basic symbols only</div>
									</div>
								</md-input-container>
								<md-input-container flex md-no-float>
									<input ng-model="applicant.barangay" name="barangay" required ng-pattern="alphanumericSymbol" ng-minlength="1" ng-maxlength="100" placeholder="Barangay" />
									<div ng-messages="membershipApplicantEditForm.barangay.$error" ng-if="membershipApplicantEditForm.barangay.$touched">
										<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
										<div ng-message="pattern" class="error">This field requires alphanumeric characters and basic symbols only</div>
									</div>
								</md-input-container>
								<md-input-container flex md-no-float>
									<input ng-model="applicant.city" name="city" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="100" placeholder="City/Municipality" />
									<div ng-messages="membershipApplicantEditForm.city.$error" ng-if="membershipApplicantEditForm.city.$touched">
										<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
										<div ng-message="pattern" class="error">This field requires letters only</div>
									</div>
								</md-input-container>
								<md-input-container flex md-no-float>
									<input ng-model="applicant.province" name="province" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" placeholder="Province" />
									<div ng-messages="membershipApplicantEditForm.province.$error" ng-if="membershipApplicantEditForm.province.$touched">
										<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
										<div ng-message="pattern" class="error">This field requires letters only</div>
									</div>
								</md-input-container>
							</div>
						</div>
						<div flex layout layout-align="start center" class="customMdInputContainer">
							<md-input-container flex md-no-float>
								<input ng-model="applicant.religion" name="religion" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" placeholder="Religion" />
								<div ng-messages="membershipApplicantEditForm.religion.$error" ng-if="membershipApplicantEditForm.religion.$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
									<div ng-message="pattern" class="error">This field requires letters only</div>
								</div>
							</md-input-container>
							<md-input-container flex md-no-float>
								<input ng-model="applicant.height" name="height" required ng-pattern="numeric" ng-minlength="3" ng-maxlength="3" placeholder="Height(cm)" />
								<div ng-messages="membershipApplicantEditForm.height.$error" ng-if="membershipApplicantEditForm.height.$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
									<div ng-message="pattern" class="error">This field requires numbers only</div>
								</div>
							</md-input-container>
							<md-input-container flex md-no-float>
								<input ng-model="applicant.weight" name="weight" required ng-pattern="numeric" ng-minlength="2" ng-maxlength="3" placeholder="Weight(cm)" />
								<div ng-messages="membershipApplicantEditForm.weight.$error" ng-if="membershipApplicantEditForm.weight.$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
									<div ng-message="pattern" class="error">This field requires numbers only</div>
								</div>
							</md-input-container>
							<md-input-container flex md-no-float>
								<input ng-model="applicant.email" name="email" type="email" ng-minlength="5" ng-maxlength="100" placeholder="Email Address" />
								<div ng-messages="membershipApplicantEditForm.email.$error" ng-if="membershipApplicantEditForm.email.$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								</div>
							</md-input-container>
							<md-input-container flex md-no-float>
								<input ng-model="applicant.mobile" name="mobile" required ng-pattern="numeric" ng-minlength="11" ng-maxlength="11" placeholder="11 digit mobile number" />
								<div ng-messages="membershipApplicantEditForm.mobile.$error" ng-if="membershipApplicantEditForm.mobile.$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
									<div ng-message="pattern" class="error">This field requires numbers only</div>
								</div>
							</md-input-container>
						</div>
						<md-chips flex ng-model="applicant.tags" md-autocomplete-snap ng-if="applicant.tags" placeholder="Always use predefined tags for consistency" secondary-placeholder="Type any tag(s) you want">
							<md-autocomplete md-min-length="0" md-items="" md-search-text="searchText" md-autofocus="false" placeholder="Type any tag(s) you want">
								<md-item-template>{{item}}</md-item-template>
							</md-autocomplete>
						</md-chips>
					</div>
				</div>
			</div>

			<!-- educational attainment -->
			<div layout="column" layout-padding>
				<div class="md-title" layout layout-padding layout-align="start center">
					Educational Attainment<small class="subTitle"></small>
				</div>
				<div layout="column" class="md-whiteframe-2dp">
					<div flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<md-select ng-model="applicant.education.attainment" name="educAttainment" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" placeholder="Attainment">
								<md-option ng-repeat="option in attainmentOptions">{{ option }}</md-option>
							</md-select>
							<div ng-messages="membershipApplicantEditForm.educAttainment.$error" ng-if="membershipApplicantEditForm.educAttainment.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
					</div>
					<div ng-if="applicant.education.attainment != 'Elementary Graduate' && applicant.education.attainment != 'High School Graduate'" flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<input ng-model="applicant.education.course" name="educCourse" required ng-pattern="alpha" ng-minlength="2" ng-maxlength="100" placeholder="Course" />
							<div ng-messages="membershipApplicantEditForm.educCourse.$error" ng-if="membershipApplicantEditForm.educCourse.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
					</div>
					<div flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<input ng-model="applicant.education.startYear" name="educStartYear" required ng-pattern="numeric" ng-minlength="4" ng-maxlength="4" placeholder="Start Year" />
							<div ng-messages="membershipApplicantEditForm.educStartYear.$error" ng-if="membershipApplicantEditForm.educStartYear.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires numbers only</div>
							</div>
						</md-input-container>
						<md-input-container flex md-no-float>
							<input ng-model="applicant.education.endYear" name="educEndYear" required ng-pattern="numeric" ng-minlength="4" ng-maxlength="4" placeholder="End Year" />
							<div ng-messages="membershipApplicantEditForm.educEndYear.$error" ng-if="membershipApplicantEditForm.educEndYear.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires numbers only</div>
							</div>
						</md-input-container>
					</div>
				</div>
			</div>

			<!-- skills -->
			<div layout="column" layout-padding>
				<div class="md-title" layout layout-padding layout-align="start center">
					Skills<small class="subTitle">(relative to field of work)</small>
					<span flex></span>
					<md-button ng-click="addSkillField()" class="md-fab md-mini md-accent" aria-label="Add Skill">
						<i class="mdi mdi-plus"></i>
						<md-tooltip>Add more skill field</md-tooltip>
					</md-button>
				</div>
				<div layout="column" class="md-whiteframe-2dp">
					<div ng-repeat="skill in applicant.skills" flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<input ng-model="skill.skill" name="skill{{$index}}" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="100" placeholder="Skill related to field of work" />
							<div ng-messages="membershipApplicantEditForm['skill' + $index].$error" ng-if="membershipApplicantEditForm['skill' + $index].$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
						<md-button ng-click="removeSkillField($index)" class="md-icon-button md-primary md-hue-1" aria-label="Delete Skill">
							<md-icon class="mdi mdi-delete"></md-icon>
							<md-tooltip md-direction="left">Delete</md-tooltip>
						</md-button>
					</div>
				</div>
			</div>

			<!-- work history -->
			<div layout="column" layout-padding>
				<div class="md-title" layout layout-padding layout-align="start center">
					Work Histories
				</div>
				<div class="tableHeading" layout layout-padding flex>
					<span flex>Company</span>
					<span flex>Position</span>
					<span flex>Start Date</span>
					<span flex>End Date</span>
					<md-button ng-click="addWorkHistoryField()" class="md-fab md-mini md-accent" aria-label="Add Work History">
						<i class="mdi mdi-plus"></i>
						<md-tooltip>Add more work history field</md-tooltip>
					</md-button>
				</div>
				<div layout="column" class="md-whiteframe-2dp">
					<div ng-repeat="workHistory in applicant.workHistories" flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex="" md-no-float>
							<input ng-model="workHistory.company" name="workHistoryCompany{{$index}}" required ng-pattern="alphanumeric" ng-minlength="3" ng-maxlength="100" placeholder="Company Name" />
							<div ng-messages="membershipApplicantEditForm['workHistoryCompany' + $index].$error" ng-if="membershipApplicantEditForm['workHistoryCompany' + $index].$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters and numbers only</div>
							</div>
						</md-input-container>
						<md-input-container flex md-no-float>
							<input ng-model="workHistory.position" name="workHistoryPosition{{$index}}" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="100" placeholder="Position" />
							<div ng-messages="membershipApplicantEditForm['workHistoryPosition' + $index].$error" ng-if="membershipApplicantEditForm['workHistoryPosition' + $index].$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
						<md-datepicker ng-model="workHistory.startDate" flex></md-datepicker>
						<md-datepicker ng-model="workHistory.endDate" flex></md-datepicker>
						<md-button ng-click="removeWorkHistoryField($index)" class="md-icon-button md-primary md-hue-1" aria-label="Delete Skill">
							<md-icon class="mdi mdi-delete"></md-icon>
							<md-tooltip md-direction="left">Delete</md-tooltip>
						</md-button>
					</div>
				</div>
			</div>

			<!-- parents -->
			<div layout="column" layout-padding>
				<div class="md-title" layout layout-padding layout-align="start center">
					Parents<small class="subTitle">(Leave the fields blank if unapplicable)</small>
				</div>
				<div class="tableHeading" layout layout-padding flex>
					<span flex>Name</span>
					<span flex>Relation</span>
					<span flex>Occupation</span>
				</div>
				<div layout="column" class="md-whiteframe-2dp">
					<div flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<input ng-model="applicant.parent.motherName" name="motherName" ng-pattern="alpha" ng-minlength="3" ng-maxlength="100" placeholder="Name" />
							<div ng-messages="membershipApplicantEditForm.motherName.$error" ng-if="membershipApplicantEditForm.motherName.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
						<md-input-container flex md-no-float>
							<input value="Mother" readonly placeholder="Relation" />
						</md-input-container>
						<md-input-container flex md-no-float>
							<input ng-model="applicant.parent.motherOccupation" name="motherOccupation" ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" placeholder="Occupation" />
							<div ng-messages="membershipApplicantEditForm.motherOccupation.$error" ng-if="membershipApplicantEditForm.motherOccupation.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
					</div>
					<div flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<input ng-model="applicant.parent.fatherName" name="fatherName" ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" placeholder="Name" />
							<div ng-messages="membershipApplicantEditForm.fatherName.$error" ng-if="membershipApplicantEditForm.fatherName.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
						<md-input-container flex md-no-float>
							<input value="Father" readonly placeholder="Relation" />
						</md-input-container>
						<md-input-container flex md-no-float>
							<input ng-model="applicant.parent.fatherOccupation" name="fatherOccupation" ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" placeholder="Occupation" />
							<div ng-messages="membershipApplicantEditForm.fatherOccupation.$error" ng-if="membershipApplicantEditForm.fatherOccupation.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
					</div>
				</div>
			</div>

			<!-- spouse info -->
			<div layout="column" layout-padding ng-if="applicant.civilStatus != 'Single' && applicant.civilStatus != 'Divorced'">
				<div class="md-title" layout layout-padding layout-align="start center">
					Spouse<small class="subTitle"></small>
				</div>
				<div layout="column" class="md-whiteframe-2dp">
					<div flex layout layout-align="center center" class="customMdInputContainer">
						<div flex>
							<md-input-container md-no-float>
								<input ng-model="applicant.spouse.firstName" name="spouseFirstName" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" placeholder="First Name" />
								<div ng-messages="membershipApplicantEditForm.spouseFirstName.$error" ng-if="membershipApplicantEditForm.spouseFirstName.$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
									<div ng-message="pattern" class="error">This field requires letters only</div>
								</div>
							</md-input-container>
							<md-input-container md-no-float>
								<input ng-model="applicant.spouse.middleName" name="spouseMiddleName" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" placeholder="Middle Name" />
								<div ng-messages="membershipApplicantEditForm.spouseMiddleName.$error" ng-if="membershipApplicantEditForm.spouseMiddleName.$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
									<div ng-message="pattern" class="error">This field requires letters only</div>
								</div>
							</md-input-container>
							<md-input-container md-no-float>
								<input ng-model="applicant.spouse.lastName" name="spouseLastName" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" placeholder="Last Name" />
								<div ng-messages="membershipApplicantEditForm.spouseLastName.$error" ng-if="membershipApplicantEditForm.spouseLastName.$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
									<div ng-message="pattern" class="error">This field requires letters only</div>
								</div>
							</md-input-container>
						</div>
						<md-input-container flex md-no-float>
							<input ng-model="applicant.spouse.email" type="email" name="spouseEmail" ng-minlength="5" ng-maxlength="100" placeholder="Email Address" />
							<div ng-messages="membershipApplicantEditForm.spouseEmail.$error" ng-if="membershipApplicantEditForm.spouseEmail.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
							</div>
						</md-input-container>
					</div>
					<div flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<input ng-model="applicant.spouse.mobile" name="spouseMobile" required ng-pattern="numeric" ng-minlength="11" ng-maxlength="11" placeholder="11 digit mobile number" />
							<div ng-messages="membershipApplicantEditForm.spouseMobile.$error" ng-if="membershipApplicantEditForm.spouseMobile.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires numbers only</div>
							</div>
						</md-input-container>
						<md-datepicker ng-model="applicant.spouse.birthDate" flex></md-datepicker>
					</div>
					<div flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<input ng-model="applicant.spouse.occupation" name="spouseOccupation" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="100" placeholder="Occupation" />
							<div ng-messages="membershipApplicantEditForm.spouseOccupation.$error" ng-if="membershipApplicantEditForm.spouseOccupation.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
					</div>
				</div>
			</div>

			<!-- emergency contact person info -->
			<div layout="column" layout-padding>
				<div class="md-title" layout layout-padding layout-align="start center">
					Emergency Contact Person<small class="subTitle"></small>
				</div>
				<div layout="column" class="md-whiteframe-2dp">
					<div flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<input ng-model="applicant.emergencyContact.name" name="emergencyContactName" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="100" placeholder="Name" />
							<div ng-messages="membershipApplicantEditForm.emergencyContactName.$error" ng-if="membershipApplicantEditForm.emergencyContactName.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
						<md-input-container flex md-no-float>
							<input ng-model="applicant.emergencyContact.email" type="email" name="emergencyContactEmail" ng-minlength="3" ng-maxlength="100" placeholder="Email Address" />
							<div ng-messages="membershipApplicantEditForm.emergencyContactEmail.$error" ng-if="membershipApplicantEditForm.emergencyContactEmail.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
							</div>
						</md-input-container>
					</div>
					<div flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<md-select ng-model="applicant.emergencyContact.relation" name="emergencyContactRelation" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="100" placeholder="Relation">
								<md-option ng-repeat="option in relationOptions">{{ option }}</md-option>
								<md-option ng-if="applicant.civilStatus != 'Single' && applicant.civilStatus != 'Divorced'">Spouse</md-option>
								<md-option>Other</md-option>
							</md-select>
							<div ng-messages="membershipApplicantEditForm.emergencyContactRelation.$error" ng-if="membershipApplicantEditForm.emergencyContactRelation.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
						<md-input-container flex md-no-float>
							<input ng-model="applicant.emergencyContact.mobile" name="emergencyContactMobile" required ng-pattern="numeric" ng-minlength="11" ng-maxlength="11" placeholder="11 digit mobile number" />
							<div ng-messages="membershipApplicantEditForm.emergencyContactMobile.$error" ng-if="membershipApplicantEditForm.emergencyContactMobile.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires numbers only</div>
							</div>
						</md-input-container>
					</div>
				</div>
			</div>

			<!-- beneficiaries -->
			<div layout="column" layout-padding>
				<div class="md-title" layout layout-padding layout-align="start center">
					Beneficiaries<small class="subTitle">(Maximum of 2 beneficiaries only)</small>
				</div>
				<div class="tableHeading" layout layout-padding flex>
					<span flex>Name</span>
					<span flex>Relation</span>
					<span flex>Birth Date</span>
					<span flex>Age</span>
					<md-button ng-click="addBeneficiaryField()" class="md-fab md-mini md-accent" aria-label="Add Beneficiary">
						<i class="mdi mdi-plus"></i>
						<md-tooltip>Add more beneficiaries field</md-tooltip>
					</md-button>
				</div>
				<div layout="column" class="md-whiteframe-2dp">
					<div ng-repeat="beneficiary in applicant.beneficiaries" flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<input ng-model="beneficiary.name" name="beneficiaryName{{$index}}" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="100" placeholder="Name" />
							<div ng-messages="membershipApplicantEditForm['beneficiaryName' + $index].$error" ng-if="membershipApplicantEditForm['beneficiaryName' + $index].$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
						<md-input-container flex md-no-float>
							<md-select ng-model="beneficiary.relation" name="beneficiaryRelation{{$index}}" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="100" placeholder="Relation">
								<md-option ng-repeat="option in relationOptions">{{ option }}</md-option>
								<md-option ng-if="applicant.civilStatus != 'Single' && applicant.civilStatus != 'Divorced'">Spouse</md-option>
							</md-select>
							<div ng-messages="membershipApplicantEditForm['beneficiaryRelation' + $index].$error" ng-if="membershipApplicantEditForm['beneficiaryRelation' + $index].$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
						<md-datepicker ng-model="beneficiary.birthDate" flex></md-datepicker>
						<md-input-container flex md-no-float>
							<input ng-model="beneficiary.age" placeholder="Age" readonly />
						</md-input-container>
						<md-button ng-click="removeBeneficiaryField($index)" class="md-icon-button md-primary md-hue-1" aria-label="Delete Skill">
							<md-icon class="mdi mdi-delete"></md-icon>
							<md-tooltip md-direction="left">Delete</md-tooltip>
						</md-button>
					</div>
				</div>
			</div>

			<!-- character references -->
			<div layout="column" layout-padding>
				<div class="md-title" layout layout-padding layout-align="start center">
					Character References<small class="subTitle">(3 character references required)</small>
				</div>
				<div class="tableHeading" layout layout-padding flex>
					<span flex>Name</span>
					<span flex>Occupation</span>
					<span flex>Company</span>
					<span flex>Mobile No.</span>
					<span flex>Email Address</span>
					<md-button ng-click="addCharacterReferenceField()" class="md-fab md-mini md-accent" aria-label="Add Character Reference">
						<i class="mdi mdi-plus"></i>
						<md-tooltip>Add more skill field</md-tooltip>
					</md-button>
				</div>
				<div layout="column" class="md-whiteframe-2dp">
					<div ng-repeat="charRef in applicant.characterReferences" flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<input ng-model="charRef.name" name="charRefName{{$index}}" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="100" placeholder="Name" />
							<div ng-messages="membershipApplicantEditForm['charRefName' + $index].$error" ng-if="membershipApplicantEditForm['charRefName' + $index].$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
						<md-input-container flex md-no-float>
							<input ng-model="charRef.occupation" name="charRefOccupation{{$index}}" required ng-pattern="alpha" ng-minlength="2" ng-maxlength="100" placeholder="Occupation" />
							<div ng-messages="membershipApplicantEditForm['charRefOccupation' + $index].$error" ng-if="membershipApplicantEditForm['charRefOccupation' + $index].$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
						<md-input-container flex md-no-float>
							<input ng-model="charRef.company" name="charRefCompany{{$index}}" required ng-pattern="alphanumeric" ng-minlength="2" ng-maxlength="100" placeholder="Company" />
							<div ng-messages="membershipApplicantEditForm['charRefCompany' + $index].$error" ng-if="membershipApplicantEditForm['charRefCompany' + $index].$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters and numbers only</div>
							</div>
						</md-input-container>
						<md-input-container flex md-no-float>
							<input ng-model="charRef.mobile" name="charRefMobile{{$index}}" required ng-pattern="numeric" ng-minlength="11" ng-maxlength="11" placeholder="11 digit mobile number" />
							<div ng-messages="membershipApplicantEditForm['charRefMobile' + $index].$error" ng-if="membershipApplicantEditForm['charRefMobile' + $index].$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires numbers only</div>
							</div>
						</md-input-container>
						<md-input-container flex md-no-float>
							<input ng-model="charRef.email" type="email" name="charRefEmail{{$index}}" required ng-minlength="5" ng-maxlength="100" placeholder="Email Address" />
							<div ng-messages="membershipApplicantEditForm['charRefEmail' + $index].$error" ng-if="membershipApplicantEditForm['charRefEmail' + $index].$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
							</div>
						</md-input-container>
						<md-button ng-click="removeCharacterReferenceField($index)" class="md-icon-button md-primary md-hue-1" aria-label="Delete Skill">
							<md-icon class="mdi mdi-delete"></md-icon>
							<md-tooltip md-direction="left">Delete</md-tooltip>
						</md-button>
					</div>
				</div>
			</div>

		</div>
	</form>
</md-content>


</div> <!-- closing div for loading indicator -->