<div cg-busy="loadingProperties">

<div layout layout-align="end center" id="toolbar">
	<div flex class="md-toolbar-tools">
		<div>
			<md-button ng-click="backToMembershipApplicants()" class="md-icon-button md-primary md-hue-1" aria-label="Back">
				<md-icon class="mdi mdi-arrow-left"></md-icon>&emsp;
				<md-tooltip>Back</md-tooltip>	
			</md-button>
		</div>
		<span class="md-title">Applicant's Info</span>
	</div>

	<!-- button icons -->
	<div flex="5">
		<md-button ng-click="editApplicant()" class="md-icon-button md-primary md-hue-1" aria-label="editApplicantInfo">
			<md-icon class="mdi mdi-pencil"></md-icon>
			<md-tooltip md-direction="left">Edit applicant's info</md-tooltip>
		</md-button>
	</div>
	<div flex="5" ng-if="applicant.interview.id == null">
		<md-button ng-click="showInterviewScheduleList()" class="md-icon-button md-primary md-hue-1" aria-label="Schedule for an interview">
			<md-icon class="mdi mdi-calendar-check"></md-icon>
			<md-tooltip md-direction="left">Schedule for interview</md-tooltip>
		</md-button>
	</div>
	<div flex="5">
		<md-button ng-click="showRejectConfirm()" class="md-icon-button md-primary md-hue-1" aria-label="Reject Applicant">
			<md-icon class="mdi mdi-account-off"></md-icon>
			<md-tooltip md-direction="left">Reject applicant</md-tooltip>
		</md-button>
	</div>
	<div flex="5" ng-if="applicant.interview.id != null">
		<md-button ng-click="acceptApplicant()" class="md-icon-button md-primary md-hue-1" aria-label="Accept Applicant">
			<md-icon class="mdi mdi-account-check"></md-icon>
			<md-tooltip md-direction="left">Accept applicant</md-tooltip>
		</md-button>
	</div>
</div>

<md-content id="membershipApplicantInfo" class="container" layout layout-align="center start">
	<form name="applicantInfoForm" flex layout="col" layout-padding>
		<div flex layout="column" layout-padding layout-wrap>
			<div layout="column" layout-padding flex="100">
				<!-- basic info -->
				<div layout="column">
					<div class="md-title" layout layout-padding layout-align="start center">
						Basic Info<small class="subTitle">(overview)</small>
					</div>
					<div layout layout-padding class="md-whiteframe-2dp">
						<div ng-click="changePicture()" layout layout-align="center center">
							<div>
								<img src="/worktrustedV2/app/assets/profilePhotos/{{ applicant.photo }}" class="profile-circle-avatar" />
								<md-tooltip>Click to change picture</md-tooltip>
							</div>
						</div>
						<div layout="column" layout-padding layout-align="start start" flex>
							<div layout>
								<span class="md-title">
									{{ applicant.firstName }}
								</span>
								<span class="md-title">
									&nbsp;{{ applicant.middleName }}
								</span>
								<span class="md-title">
									&nbsp;{{ applicant.lastName }}
								</span>
							</div>
							<div layout>
								<span>
									{{ applicant.civilStatus }}
								</span>
								<span>
									&emsp;{{ applicant.gender }}
								</span>
								<span>
									&emsp;{{ applicant.age }} years old
									<md-tooltip>{{ applicant.birthDate | amDateFormat:'MMMM D, YYYY' }}</md-tooltip>
								</span>
							</div>
							<div layout layout-wrap>
								<span>
									{{ applicant.street }}
								</span>
								<span>
									, {{ applicant.barangay }}
								</span>
								<span>
									, {{ applicant.city }}
								</span>
								<span>
									, {{ applicant.province }}
								</span>
							</div>
							<div layout>
								<span>{{ applicant.height }} cm</span>
								<span>&emsp;{{ applicant.weight }} kg</span>
							</div>
						</div>
						<div layout="column" layout-padding layout-align="start start" flex>
							<span layout class="md-title">&nbsp;</span>
							<span layout>{{ applicant.email }}</span>
							<span layout>{{ applicant.mobile }}</span>
							<span layout>{{ applicant.religion }}</span>
						</div>
						<div layout="column" layout-padding layout-align="start start" flex>
							<span layout class="md-title">&nbsp;</span>
							<span ng-if="applicant.interview.id == null" layout class="md-subhead">Applied at {{ applicant.applicationDate | amDateFormat:'MMM D, YYYY - h:mm a' }}</span>
							<span ng-if="applicant.interview.id != null" layout class="md-subhead">Interview at {{ applicant.interview.schedule.start | amDateFormat:'MMM D, YYYY' }}</span>
							<i class="md-subhead subTitle" ng-if="applicant.tags.length == 0 || (applicant.tags[0] == '' && applicant.tags.length == 1)">No Tags available</i>
							<md-chips ng-model="applicant.tags" readonly="true"></md-chips>
						</div>
					</div>
				</div>

				<!-- educational attainment -->
				<div layout="column">
					<div class="md-title" layout layout-padding layout-align="start center">
						Educational Attainment<small class="subTitle"></small>
					</div>
					<div layout layout-padding class="md-whiteframe-2dp">
						<div layout="column" layout-padding layout-align="start start" flex>
							<div layout>
								<span>
									{{ applicant.education.attainment }}
								</span>
							</div>
							<div layout ng-if="applicant.education != 'High School Graduate'">
								<span>
									{{ applicant.education.course }}
								</span>
							</div>
							<div layout>
								<span>
									{{ applicant.education.startYear }}
								</span>
								&nbsp;-&nbsp;
								<span>
									{{ applicant.education.endYear }}
								</span>
							</div>
						</div>
					</div>
				</div>

				<!-- skills -->
				<div layout="column">
					<div class="md-title" layout layout-padding layout-align="start center">
						Skills<small class="subTitle">(relative to field of work) <span ng-if="applicant.skills.length == 0">(No skills found)</span></small>
					</div>
					<md-list class="md-whiteframe-2dp">
						<md-list-item ng-repeat="skill in applicant.skills">
							<div flex layout layout-padding>
								<span>{{ skill.skill }}</span>
							</div>
							<md-divider ng-if="!$last"></md-divider>
						</md-list-item>
					</md-list>
				</div>

				<!-- work history -->
				<div layout="column">
					<div class="md-title" layout layout-padding layout-align="start center">
						Work Histories
						<small>
							<span ng-if="applicant.workHistories.length == 0">(No work histories found)</span>
						</small>
					</div>
					<div class="tableHeading" layout layout-padding flex>
						<span flex>Company</span>
						<span flex>Position</span>
						<span flex>Start Date</span>
						<span flex>End Date</span>
					</div>
					<md-list class="md-whiteframe-2dp">
						<md-list-item ng-repeat="workHistory in applicant.workHistories">
							<div flex layout layout-padding>
								<span flex>{{ workHistory.company }}</span>
								<span flex>{{ workHistory.position }}</span>
								<span flex>{{ workHistory.startDate | amDateFormat:'MMM D, YYYY' }}</span>
								<span flex>{{ workHistory.endDate | amDateFormat:'MMM D, YYYY' }}</span>
							</div>
							<md-divider ng-if="!$last"></md-divider>
						</md-list-item>
					</md-list>
				</div>

				<!-- parents -->
				<div layout="column" ng-if="applicant.parent.motherName != '' || applicant.parent.fatherName != ''">
					<div class="md-title" layout layout-padding layout-align="start center">
						Parents
					</div>
					<div class="tableHeading" layout layout-padding flex>
						<span flex>Name</span>
						<span flex>Relation</span>
						<span flex>Occupation</span>
					</div>
					<md-list class="md-whiteframe-2dp">
						<md-list-item>
							<div flex layout layout-padding>
								<span flex>{{ applicant.parent.motherName }}</span>
								<span flex>Mother</span>
								<span flex>{{ applicant.parent.motherOccupation }}</span>
							</div>
						</md-list-item>
						<md-divider></md-divider>
						<md-list-item>
							<div flex layout layout-padding>
								<span flex>{{ applicant.parent.fatherName }}</span>
								<span flex>Father</span>
								<span flex>{{ applicant.parent.fatherOccupation }}</span>
							</div>
						</md-list-item>
					</md-list>
				</div>

				<!-- spouse info -->
				<div layout="column" ng-if="applicant.civilStatus != 'Single' && applicant.civilStatus != 'Divorced'">
					<div class="md-title" layout layout-padding layout-align="start center">
						Spouse<small class="subTitle"></small>
					</div>
					<div layout layout-padding class="md-whiteframe-2dp">
						<div layout="column" layout-padding layout-align="start start" flex>
							<div layout>
								<span>
									{{ applicant.spouse.firstName }}
									<md-tooltip>First Name</md-tooltip>
								</span>
								<span>
									&nbsp;{{ applicant.spouse.middleName }}
									<md-tooltip>Middle Name</md-tooltip>
								</span>
								<span>
									&nbsp;{{ applicant.spouse.lastName }}
									<md-tooltip>Last Name</md-tooltip>
								</span>
							</div>
							<div layout>
								<span>
									{{ applicant.spouse.age }} years old, 
								</span>
								<span>
									&nbsp;{{ applicant.spouse.birthDate | amDateFormat:'MMM D, YYYY' }}
								</span>
							</div>
							<div layout>
								<span>{{ applicant.spouse.occupation }}</span>
							</div>
						</div>
						<div layout="column" layout-padding layout-align="start start" flex>
							<span layout>{{ applicant.spouse.email }}</span>
							<span layout>{{ applicant.spouse.mobile }}</span>
						</div>
					</div>
				</div>

				<!-- emergency contact person info -->
				<div layout="column" ng-if="applicant.emergencyContact.name != ''">
					<div class="md-title" layout layout-padding layout-align="start center">
						Emergency Contact Person<small class="subTitle"></small>
					</div>
					<div layout layout-padding class="md-whiteframe-2dp">
						<div layout="column" layout-padding layout-align="start start" flex>
							<div layout>
								<span>
									{{ applicant.emergencyContact.name }}
								</span>
							</div>
							<div layout>
								<span>
									{{ applicant.emergencyContact.relation }} 
								</span>
							</div>
						</div>
						<div layout="column" layout-padding layout-align="start start" flex>
							<span layout>{{ applicant.emergencyContact.email }}</span>
							<span layout>{{ applicant.emergencyContact.mobile }}</span>
						</div>
					</div>
				</div>

				<!-- beneficiaries -->
				<div layout="column">
					<div class="md-title" layout layout-padding layout-align="start center">
						Beneficiaries
						<small>
							<span ng-if="applicant.beneficiaries.length == 0">(No beneficiaries found)</span>
						</small>
					</div>
					<div class="tableHeading" layout layout-padding flex>
						<span flex>Name</span>
						<span flex>Relation</span>
						<span flex>Birth Date</span>
						<span flex>Age</span>
					</div>
					<md-list class="md-whiteframe-2dp">
						<md-list-item ng-repeat="beneficiary in applicant.beneficiaries">
							<div flex layout layout-padding>
								<span flex>{{ beneficiary.name }}</span>
								<span flex>{{ beneficiary.relation }}</span>
								<span flex>{{ beneficiary.birthDate | amDateFormat:'MMM D, YYYY' }}</span>
								<span flex>{{ beneficiary.age }}</span>
							</div>
							<md-divider ng-if="!$last"></md-divider>
						</md-list-item>
					</md-list>
				</div>

				<!-- character references -->
				<div layout="column">
					<div class="md-title" layout layout-padding layout-align="start center">
						Character References
						<small>
							<span ng-if="applicant.characterReferences.length == 0">(No character references found)</span>
						</small>
					</div>
					<div class="tableHeading" layout layout-padding flex>
						<span flex>Name</span>
						<span flex>Occupation</span>
						<span flex>Company</span>
						<span flex>Mobile No.</span>
						<span flex>Email Address</span>
					</div>
					<md-list class="md-whiteframe-2dp">
						<md-list-item ng-repeat="charRef in applicant.characterReferences">
							<div flex layout layout-padding>
								<span flex>{{ charRef.name }}</span>
								<span flex>{{ charRef.occupation }}</span>
								<span flex>{{ charRef.company }}</span>
								<span flex>{{ charRef.mobile }}</span>
								<span flex>{{ charRef.email }}</span>
							</div>
							<md-divider ng-if="!$last"></md-divider>
						</md-list-item>
					</md-list>
				</div>

			</div>
		</div>
	</form>
</md-content>


</div> <!-- closing div for loading indicator -->