@import './variables.scss';


body {
	main.mainOutput {
		// background-color: palette(Deep Orange, A100);
		overflow: auto;
	}
}



div.tableHeading {
	span {
		font-weight: bold;
		color: #666666;
	}
}



i.mdi {
	font-size: 18px;
}



// hide input for ng-camera(show custom buttom instead)
button#ng-camera-action, input#uploadPicture {
	display: none;
}




// CUSTOM SCROLLBAR
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
 
::-webkit-scrollbar-track {
	/*background: rgba(0,0,0,0.1); */
	border-radius: 10px;
	/*border:1px gray solid;*/
}
 
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgba(0,0,0,0.3);
	&:hover{
		background: rgba(0,0,0,0.3);
		border:1px solid rgba(0,0,0,0.3);
	}
	&:active{
		background: rgba(0,0,0,0.5);
		border:1px solid rgba(0,0,0,0.5);
	}
	/*&:not(:active){
		background: none;
		border:0px solid rgba(0,0,0,0.5);
	}   */
}




// CIRCLE IMAGE
img.circleAvatar {
	border-radius: 50%;
	height: 55px;
	width: 55px;
}












// ANGULAR MATERIAL MODS
.customMdInputContainer {
	md-input-container {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	
	// label {
	// 	color: rgba(0,0,0,.541176);
	// 	font-size: 11px;
	// 	font-family: Helvetica, Arial, sans-serif;
	// 	padding: 0px 0px 0px 0px;
	// 	margin: 0px 0px 0px 0px;
	// }
	
	md-select {
		margin-bottom: 20px; // para pumatay sa normal md-input
	}

	md-datepicker {
		margin-bottom: 20px; // para pumatay sa normal md-input

		position: relative;
		// left: -12px;

		.md-datepicker-input-container{
			margin-left: 0;
		}
		.md-datepicker-button.md-icon-button {
			margin-right: 0;
		}
	}
}





md-tooltip .md-content {
	height: auto;
}





















// DESIGN FOR BOOTSTRAP(used by guest module, apply-membership, and anything that uses bootstrap as framework)
div.navbar-margin-below {
	clear: 100%;
	width: 100%;
	height: 90px;
}






// CUSTOM NAVBAR
div.customNavbar {
	height: 50px;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 1000;
	padding: 0px 0px 0px 0px;

	div.item {
		height: 50px;
	}

	.logo {
		position: relative;
		display: flex;
		align-items: center;

		img {
			max-height: 40px;
			max-width: 40px;
		}

		h1.logo-text {
			font-size: small;
			margin-bottom: 20px;
			margin-left: 5px;
			font-weight: bold;
			color: #FFF;
		} 
	}
}