/* VARIABLES */
@import './palette.scss';

$xsView: 768px;
$smView: 992px;
$mdView: 1200px;

$tealPrimary: #009688;
$orangePrimary: #FE5621;
$orangeDarker: #d8481c;
$textPrimaryColor: rgba(0,0,0,0.87);


