<md-dialog cg-busy="loadingProperties" flex="35">


	<!-- toolbar -->
	<md-toolbar layout layout-align="end center">
		<div flex class="md-toolbar-tools">
			<span flex class="md-title">Add/Create New Training</span>
		</div>
	</md-toolbar>


	<form name="addTrainingForm">
	<md-dialog-content layout="column" layout-padding>
		<div layout="column" layout-padding>
			<md-input-container>
				<label>Title</label>
				<input ng-model="training.name" name="trainingTitle" required ng-pattern="alphanumeric" ng-minlength="3" ng-maxlength="100" />
				<div ng-messages="addTrainingForm.trainingTitle.$error" ng-if="addTrainingForm.trainingTitle.$touched">
					<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
					<div ng-message="pattern" class="error">This field requires letters and numbers only</div>
				</div>
			</md-input-container>


			<md-input-container>
				<label>Description</label>
				<input ng-model="training.description" name="trainingDescription" required ng-pattern="alphanumericSymbol" ng-minlength="3" ng-maxlength="100" />
				<div ng-messages="addTrainingForm.trainingDescription.$error" ng-if="addTrainingForm.trainingDescription.$touched">
					<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
					<div ng-message="pattern" class="error">This field requires alphanumeric character and basic symbols only</div>
				</div>
			</md-input-container>
		</div>
	</md-dialog-content>



	<md-dialog-actions>
		<md-button ng-click="dismiss()" class="md-primary">Cancel</md-button>
		<md-button ng-click="submitForm(addTrainingForm)" class="md-primary">Add</md-button>
	</md-dialog-actions>
	</form>

</md-dialog>