<md-dialog cg-busy="loadingProperties" flex="35">

	<!-- toolbar -->
	<md-toolbar layout layout-align="end center">
		<div flex class="md-toolbar-tools">
			<span flex class="md-title">Add new schedule/event</span>
		</div>
	</md-toolbar>
	

	<form name="addScheduleForm">
	<md-content>
		<div layout="column" layout-padding>

			<md-input-container>
				<md-select ng-model="scheduleView" ng-change="scheduleViewChange()" name="scheduleView" required placeholder="* Select Events">
					<md-option ng-repeat="option in scheduleOptions" ng-value="option.value">
						<md-icon class="mdi mdi-checkbox-blank-circle" style="color: {{ option.color }}"></md-icon>
						{{ option.name }}
					</md-option>
				</md-select>
			</md-input-container>



			
			<!-- field for membership applicant interview -->
			<div ng-if="scheduleView == 'membershipApplicantInterview'" layout layout-padding>
				<md-datepicker ng-model="newSchedule.start" required md-placeholder="* Start Date"></md-datepicker>
				<md-datepicker ng-model="newSchedule.end" required md-placeholder="* End Date"></md-datepicker>
			</div>




			<!-- field for training event -->
			<div ng-if="scheduleView == 'training'" layout="column" layout-padding>

				<div flex layout layout-align="center center">
					<md-input-container flex>
						<md-select ng-model="newSchedule.trainingId" name="trainingId" required placeholder="* Select a training">
							<md-option ng-repeat="option in trainingOptions | orderBy:'name'" ng-value="option.id" title="{{ option.description }}">{{ option.name }}</md-option>
						</md-select>
						<div ng-messages="addScheduleForm.trainingId.$error" ng-if="addScheduleForm.trainingId.$touched">
							<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
						</div>
					</md-input-container>
					<md-button ng-click="showAddTraining()" class="md-icon-button md-primary md-hue-1" aria-label="Create new training">
						<md-icon class="mdi mdi-plus"></md-icon>
						<md-tooltip md-direction="left">Click here to add/create new training</md-tooltip>
					</md-button>
				</div>

				<div flex layout layout-align="start center">
					<md-datepicker ng-model="newSchedule.start" required md-placeholder="* Start Date"></md-datepicker>
					<md-datepicker ng-model="newSchedule.end" required md-placeholder="* End Date"></md-datepicker>
				</div>

				<div flex layout layout-align="center center">
					<md-input-container flex>
						<input ng-model="newSchedule.location" name="location" required ng-pattern="alphanumericSymbol" ng-minlength="3" ng-maxlength="100" placeholder="* Location" />
						<div ng-messages="addScheduleForm.location.$error" ng-if="addScheduleForm.location.$touched">
							<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
							<div ng-message="pattern" class="error">This field requires alphanumeric characters and basic symbols only</div>
						</div>
					</md-input-container>
				</div>

				<div flex layout layout-align="center center">
					<md-input-container flex>
						<input ng-model="newSchedule.slots" name="slots" required ng-pattern="numeric" ng-minlength="1" ng-maxlength="4" placeholder="* Number of slots" />
						<div ng-messages="addScheduleForm.slots.$error" ng-if="addScheduleForm.slots.$touched">
							<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
							<div ng-message="pattern" class="error">This field requires numbers only</div>
						</div>
					</md-input-container>
				</div>

				<md-chips flex ng-model="newSchedule.requirements" md-autocomplete-snap placeholder="Requirements" secondary-placeholder="Requirements(Press enter for every entry)">
					<md-autocomplete md-min-length="0" md-items="" md-search-text="searchText" md-autofocus="false" placeholder="Requirements">
						<md-item-template>{{item}}</md-item-template>
					</md-autocomplete>
				</md-chips>

				<div flex layout layout-align="center center">
					<md-input-container flex>
						<input ng-model="newSchedule.additionalNotes" name="additionalNotes" ng-pattern="alphanumericSymbol" ng-minlength="3" ng-maxlength="100" placeholder="Additional Notes" />
						<div ng-messages="addScheduleForm.additionalNotes.$error" ng-if="addScheduleForm.additionalNotes.$touched">
							<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
							<div ng-message="pattern" class="error">This field requires alphanumeric characters and basic symbols only</div>
						</div>
					</md-input-container>
				</div>
			</div>

		</div>
	</md-content>



	<md-dialog-actions>
		<md-button ng-click="dismiss()" class="md-primary">Cancel</md-button>
		<md-button ng-click="submitForm(addScheduleForm)" class="md-primary">Add</md-button>
	</md-dialog-actions>
	</form>

</md-dialog>