<md-dialog cg-busy="loadingProperties" layout="column" flex="40" style="max-height: 80%">
	
	
	<!-- toolbar -->
	<md-toolbar layout layout-align="end center">
		<div flex class="md-toolbar-tools">
			<span flex class="md-title">Advanced Search</span>
			<div>
				<md-button ng-click="clearFilters()" class="md-icon-button" aria-label="clearFilters">
					<md-icon class="mdi mdi-notification-clear-all"></md-icon>
					<md-tooltip>Clear Filters</md-tooltip>
				</md-button>
			</div>
		</div>
	</md-toolbar>




	<form name="advancedSearchForm">
	<md-dialog-content>
		<div layout="column" layout-padding>
			<md-input-container>
				<label>Company</label>
				<md-select ng-model="filters.companyId" name="company" required>
					<md-option ng-repeat="company in companies" value="{{ company.id }}">{{ company.name }}</md-option>
				</md-select>
			</md-input-container>

			<md-input-container>
				<label>Status</label>
				<md-select ng-model="filters.status" name="status" required>
					<md-option ng-repeat="option in statusOptions">{{ option }}</md-option>
				</md-select>
			</md-input-container>

			<md-input-container>
				<label>Title/Description</label>
				<input ng-model="filters.search" name="search" ng-pattern="alphanumericSymbol" ng-minlength="3" ng-maxlength="100" />
				<div ng-messages="advancedSearchForm.search.$error" ng-if="advancedSearchForm.search.$touched">
					<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
					<div ng-message="pattern" class="error">This field requires alphanumeric characters and basic symbols only</div>
				</div>
			</md-input-container>

			<md-input-container>
				<label>Expected Salary</label>
				<input ng-model="filters.expectedSalary" name="expectedSalary" ng-pattern="numeric" ng-minlength="3" ng-maxlength="100" />
				<div ng-messages="advancedSearchForm.expectedSalary.$error" ng-if="advancedSearchForm.expectedSalary.$touched">
					<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
					<div ng-message="pattern" class="error">This field requires numbers only</div>
				</div>
			</md-input-container>

			<md-input-container>
				<label>Employment Type</label>
				<md-select ng-model="filters.employmentType" name="employmentType" required>
					<md-option ng-repeat="option in employmentTypeOptions">{{ option }}</md-option>
				</md-select>
			</md-input-container>

			<md-input-container flex>
				<label>Industry</label>
				<md-select ng-model="filters.industryType" name="industryType" required>
					<md-option>All</md-option>
					<md-option ng-repeat="option in industryOptions | orderBy">{{ option }}</md-option>
				</md-select>
			</md-input-container>
		</div>
	</md-dialog-content>



	<md-dialog-actions>
		<md-button ng-click="dismiss()" class="md-primary">Close</md-button>
		<md-button ng-click="search(advancedSearchForm)" class="md-primary">Search</md-button>
	</md-dialog-actions>
	</form>


</md-dialog>

