<div cg-busy="loadingProperties">

<div layout layout-align="end center" id="toolbar">
	<div flex class="md-toolbar-tools">
		<div>
			<md-button ng-click="backToMemberList()" class="md-icon-button md-primary md-hue-1" aria-label="Back">
				<md-icon class="mdi mdi-arrow-left"></md-icon>&emsp;
				<md-tooltip>Back</md-tooltip>	
			</md-button>
		</div>
		<span class="md-title">Add/Create New Member</span>
	</div>
	<md-list flex="10" class="md-toolbar-tools">
		<md-list-item>
			<md-button ng-click="cancelAddConfirm()" class="md-icon-button md-primary md-hue-1" aria-label="Discard Changes">
				<md-icon class="mdi mdi-block-helper"></md-icon>
				<md-tooltip md-direction="left">Discard Changes</md-tooltip>
			</md-button>
		</md-list-item>
		<md-list-item>
			<md-button ng-click="submitAddMemberForm(addMemberForm)" class="md-icon-button md-primary md-hue-1" aria-label="Save Changes">
				<md-icon class="mdi mdi-check"></md-icon>
				<md-tooltip md-direction="left">Save Changes</md-tooltip>
			</md-button>
		</md-list-item>
	</md-list>
</div>

<md-content id="addMember" class="container" layout layout-align="center start">
	<form novalidate name="addMemberForm" flex layout="col" layout-padding>
		<div layout="column" layout-padding flex="100">

			<!-- basic info -->
			<div layout="column" layout-padding>
				<div class="md-title" layout layout-padding layout-align="start center">
					Basic Info<small class="subTitle">(profile picture can be changed/saved after creating/adding the member)</small>
				</div>
				<div flex layout="column" class="md-whiteframe-2dp">
					<div flex layout layout-align="start center" class="customMdInputContainer">
						<div layout flex="50">
							<md-input-container flex md-no-float>
								<input ng-model="member.firstName" name="firstName" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" placeholder="First Name" />
								<div ng-messages="addMemberForm.firstName.$error" ng-if="addMemberForm.firstName.$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
									<div ng-message="pattern" class="error">This field requires letters only</div>
								</div>
							</md-input-container>
							<md-input-container flex md-no-float>
								<input ng-model="member.middleName" name="middleName" ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" placeholder="Middle Name" />
								<div ng-messages="addMemberForm.middleName.$error" ng-if="addMemberForm.middleName.$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
									<div ng-message="pattern" class="error">This field requires letters only</div>
								</div>
							</md-input-container>
							<md-input-container flex md-no-float>
								<input ng-model="member.lastName" name="lastName" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" placeholder="Last Name" />
								<div ng-messages="addMemberForm.lastName.$error" ng-if="addMemberForm.lastName.$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
									<div ng-message="pattern" class="error">This field requires letters only</div>
								</div>
							</md-input-container>
						</div>
					</div>
					<div flex layout layout-align="start center" class="customMdInputContainer">
						<md-input-container flex="25" md-no-float>
							<md-select ng-model="member.civilStatus" name="civilStatus" required placeholder="Civil Status">
								<md-option ng-repeat="option in civilStatusOptions">{{ option }}</md-option>
							</md-select>
							<div ng-messages="addMemberForm.civilStatus.$error" ng-if="addMemberForm.civilStatus.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
						<md-input-container flex="25" md-no-float>
							<md-select ng-model="member.gender" name="gender" required placeholder="Gender">
								<md-option ng-repeat="option in genderOptions">{{ option }}</md-option>
							</md-select>
							<div ng-messages="addMemberForm.gender.$error" ng-if="addMemberForm.gender.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
						<md-datepicker ng-model="member.birthDate"></md-datepicker>
					</div>
					<div flex layout layout-align="start center" class="customMdInputContainer">
						<div flex="80" layout>
							<md-input-container flex md-no-float>
								<input ng-model="member.street" name="street" ng-pattern="alphanumericSymbol" ng-minlength="2" ng-maxlength="100" placeholder="Street" />
								<div ng-messages="addMemberForm.street.$error" ng-if="addMemberForm.street.$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
									<div ng-message="pattern" class="error">This field requires alphanumeric characters and basic symbols only</div>
								</div>
							</md-input-container>
							<md-input-container flex md-no-float>
								<input ng-model="member.barangay" name="barangay" required ng-pattern="alphanumericSymbol" ng-minlength="1" ng-maxlength="100" placeholder="Barangay" />
								<div ng-messages="addMemberForm.barangay.$error" ng-if="addMemberForm.barangay.$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
									<div ng-message="pattern" class="error">This field requires alphanumeric characters and basic symbols only</div>
								</div>
							</md-input-container>
							<md-input-container flex md-no-float>
								<input ng-model="member.city" name="city" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="100" placeholder="City/Municipality" />
								<div ng-messages="addMemberForm.city.$error" ng-if="addMemberForm.city.$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
									<div ng-message="pattern" class="error">This field requires letters only</div>
								</div>
							</md-input-container>
							<md-input-container flex md-no-float>
								<input ng-model="member.province" name="province" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" placeholder="Province" />
								<div ng-messages="addMemberForm.province.$error" ng-if="addMemberForm.province.$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
									<div ng-message="pattern" class="error">This field requires letters only</div>
								</div>
							</md-input-container>
						</div>
					</div>
					<div flex layout layout-align="start center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<input ng-model="member.religion" name="religion" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" placeholder="Religion" />
							<div ng-messages="addMemberForm.religion.$error" ng-if="addMemberForm.religion.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
						<md-input-container flex md-no-float>
							<input ng-model="member.height" name="height" required ng-pattern="numeric" ng-minlength="3" ng-maxlength="3" placeholder="Height(cm)" />
							<div ng-messages="addMemberForm.height.$error" ng-if="addMemberForm.height.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires numbers only</div>
							</div>
						</md-input-container>
						<md-input-container flex md-no-float>
							<input ng-model="member.weight" name="weight" required ng-pattern="numeric" ng-minlength="2" ng-maxlength="3" placeholder="Weight(cm)" />
							<div ng-messages="addMemberForm.weight.$error" ng-if="addMemberForm.weight.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires numbers only</div>
							</div>
						</md-input-container>
						<md-input-container flex md-no-float>
							<input ng-model="member.email" name="email" type="email" required ng-minlength="5" ng-maxlength="100" placeholder="Email Address" />
							<div ng-messages="addMemberForm.email.$error" ng-if="addMemberForm.email.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
							</div>
						</md-input-container>
						<md-input-container flex md-no-float>
							<input ng-model="member.mobile" name="mobile" required ng-pattern="numeric" ng-minlength="11" ng-maxlength="11" placeholder="11 digit mobile number" />
							<div ng-messages="addMemberForm.mobile.$error" ng-if="addMemberForm.mobile.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires numbers only</div>
							</div>
						</md-input-container>
					</div>
					<md-chips flex ng-model="member.tags" md-autocomplete-snap ng-if="member.tags" placeholder="Always use predefined tags for consistency" secondary-placeholder="Type any tag(s) you want">
						<md-autocomplete md-min-length="0" md-items="" md-search-text="searchText" md-autofocus="false" placeholder="Type any tag(s) you want">
							<md-item-template>{{item}}</md-item-template>
						</md-autocomplete>
					</md-chips>
				</div>
			</div>

			<!-- account info -->
			<div layout="column" layout-padding>
				<div class="md-title" layout layout-padding layout-align="start center">
					Account Info<small class="subTitle">(The username you will enter will be the default password)</small>
				</div>
				<div layout="column" class="md-whiteframe-2dp">
					<div flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float md-is-error="addMemberForm.accountUserName.$invalid && addMemberForm.accountUserName.$touched">
							<input ng-model="account.userName" ng-keyup="userNameCheck()" name="accountUserName" required ng-pattern="alphanumeric" ng-minlength="4" ng-maxlength="50" placeholder="Username(will automatically turn to uupercase upon saving)" />
							<div ng-messages="addMemberForm.accountUserName.$error" ng-if="addMemberForm.accountUserName.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters and numbers only</div>
								<div ng-message="alreadyTaken" class="error">This username is already taken</div>
							</div>
						</md-input-container>
					</div>
					<div flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<md-select ng-model="account.type" name="accountType" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" placeholder="Account Type">
								<md-option ng-repeat="option in accountTypeOptions" ng-value="option.id">{{ option.value }}</md-option>
							</md-select>
							<div ng-messages="addMemberForm.accountType.$error" ng-if="addMemberForm.accountType.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
					</div>
				</div>
			</div>

			<!-- educational attainment -->
			<div layout="column" layout-padding>
				<div class="md-title" layout layout-padding layout-align="start center">
					Educational Attainment<small class="subTitle"></small>
				</div>
				<div layout="column" class="md-whiteframe-2dp">
					<div flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<md-select ng-model="member.education.attainment" name="educAttainment" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" placeholder="Attainment">
								<md-option ng-repeat="option in attainmentOptions">{{ option }}</md-option>
							</md-select>
							<div ng-messages="addMemberForm.educAttainment.$error" ng-if="addMemberForm.educAttainment.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
					</div>
					<div ng-if="member.education.attainment != 'Elementary Graduate' && member.education.attainment != 'High School Graduate'" flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<input ng-model="member.education.course" name="educCourse" required ng-pattern="alpha" ng-minlength="2" ng-maxlength="100" placeholder="Course" />
							<div ng-messages="addMemberForm.educCourse.$error" ng-if="addMemberForm.educCourse.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
					</div>
					<div flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<input ng-model="member.education.startYear" name="educStartYear" required ng-pattern="numeric" ng-minlength="4" ng-maxlength="4" placeholder="Start Year" />
							<div ng-messages="addMemberForm.educStartYear.$error" ng-if="addMemberForm.educStartYear.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires numbers only</div>
							</div>
						</md-input-container>
						<md-input-container flex md-no-float>
							<input ng-model="member.education.endYear" name="educEndYear" required ng-pattern="numeric" ng-minlength="4" ng-maxlength="4" placeholder="End Year" />
							<div ng-messages="addMemberForm.educEndYear.$error" ng-if="addMemberForm.educEndYear.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires numbers only</div>
							</div>
						</md-input-container>
					</div>
				</div>
			</div>

			<!-- skills -->
			<div layout="column" layout-padding>
				<div class="md-title" layout layout-padding layout-align="start center">
					Skills<small class="subTitle">(relative to field of work)</small>
					<span flex></span>
					<md-button ng-click="addSkillField()" class="md-fab md-mini md-accent" aria-label="Add Skill">
						<i class="mdi mdi-plus"></i>
						<md-tooltip md-direction="left">Add more skill field</md-tooltip>
					</md-button>
				</div>
				<div layout="column" class="md-whiteframe-2dp">
					<div ng-repeat="skill in member.skills" flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<input ng-model="skill.skill" name="skill{{$index}}" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="100" placeholder="Skill related to field of work" />
							<div ng-messages="addMemberForm['skill' + $index].$error" ng-if="addMemberForm['skill' + $index].$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
						<md-button ng-click="removeSkillField($index)" class="md-icon-button md-primary md-hue-1" aria-label="Delete Skill">
							<md-icon class="mdi mdi-delete"></md-icon>
							<md-tooltip md-direction="left">Delete</md-tooltip>
						</md-button>
					</div>
				</div>
			</div>

			<!-- work history -->
			<div layout="column" layout-padding>
				<div class="md-title" layout layout-padding layout-align="start center">
					Work Histories
				</div>
				<div class="tableHeading" layout layout-padding flex>
					<span flex>Company</span>
					<span flex>Position</span>
					<span flex>Start Date</span>
					<span flex>End Date</span>
					<md-button ng-click="addWorkHistoryField()" class="md-fab md-mini md-accent" aria-label="Add Work History">
						<i class="mdi mdi-plus"></i>
						<md-tooltip md-direction="left">Add more work history field</md-tooltip>
					</md-button>
				</div>
				<div layout="column" class="md-whiteframe-2dp">
					<div ng-repeat="workHistory in member.workHistories" flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex="" md-no-float>
							<input ng-model="workHistory.company" name="workHistoryCompany{{$index}}" required ng-pattern="alphanumeric" ng-minlength="3" ng-maxlength="100" placeholder="Company Name" />
							<div ng-messages="addMemberForm['workHistoryCompany' + $index].$error" ng-if="addMemberForm['workHistoryCompany' + $index].$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters and numbers only</div>
							</div>
						</md-input-container>
						<md-input-container flex md-no-float>
							<input ng-model="workHistory.position" name="workHistoryPosition{{$index}}" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="100" placeholder="Position" />
							<div ng-messages="addMemberForm['workHistoryPosition' + $index].$error" ng-if="addMemberForm['workHistoryPosition' + $index].$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
						<md-datepicker ng-model="workHistory.startDate" flex></md-datepicker>
						<md-datepicker ng-model="workHistory.endDate" flex></md-datepicker>
						<md-button ng-click="removeWorkHistoryField($index)" class="md-icon-button md-primary md-hue-1" aria-label="Delete Skill">
							<md-icon class="mdi mdi-delete"></md-icon>
							<md-tooltip md-direction="left">Delete</md-tooltip>
						</md-button>
					</div>
				</div>
			</div>

			<!-- parents -->
			<div layout="column" layout-padding>
				<div class="md-title" layout layout-padding layout-align="start center">
					Parents<small class="subTitle">(Leave the fields blank if unapplicable)</small>
				</div>
				<div class="tableHeading" layout layout-padding flex>
					<span flex>Name</span>
					<span flex>Relation</span>
					<span flex>Occupation</span>
				</div>
				<div layout="column" class="md-whiteframe-2dp">
					<div flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<input ng-model="member.parent.motherName" name="motherName" ng-pattern="alpha" ng-minlength="3" ng-maxlength="100" placeholder="Name" />
							<div ng-messages="addMemberForm.motherName.$error" ng-if="addMemberForm.motherName.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
						<md-input-container flex md-no-float>
							<input value="Mother" readonly placeholder="Relation" />
						</md-input-container>
						<md-input-container flex md-no-float>
							<input ng-model="member.parent.motherOccupation" name="motherOccupation" ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" placeholder="Occupation" />
							<div ng-messages="addMemberForm.motherOccupation.$error" ng-if="addMemberForm.motherOccupation.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
					</div>
					<div flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<input ng-model="member.parent.fatherName" name="fatherName" ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" placeholder="Name" />
							<div ng-messages="addMemberForm.fatherName.$error" ng-if="addMemberForm.fatherName.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
						<md-input-container flex md-no-float>
							<input value="Father" readonly placeholder="Relation" />
						</md-input-container>
						<md-input-container flex md-no-float>
							<input ng-model="member.parent.fatherOccupation" name="fatherOccupation" ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" placeholder="Occupation" />
							<div ng-messages="addMemberForm.fatherOccupation.$error" ng-if="addMemberForm.fatherOccupation.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
					</div>
				</div>
			</div>

			<!-- spouse info -->
			<div layout="column" layout-padding ng-if="member.civilStatus != 'Single' && member.civilStatus != 'Divorced'">
				<div class="md-title" layout layout-padding layout-align="start center">
					Spouse<small class="subTitle"></small>
				</div>
				<div layout="column" class="md-whiteframe-2dp">
					<div flex layout layout-align="center center" class="customMdInputContainer">
						<div flex>
							<md-input-container md-no-float>
								<input ng-model="member.spouse.firstName" name="spouseFirstName" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" placeholder="First Name" />
								<div ng-messages="addMemberForm.spouseFirstName.$error" ng-if="addMemberForm.spouseFirstName.$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
									<div ng-message="pattern" class="error">This field requires letters only</div>
								</div>
							</md-input-container>
							<md-input-container md-no-float>
								<input ng-model="member.spouse.middleName" name="spouseMiddleName" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" placeholder="Middle Name" />
								<div ng-messages="addMemberForm.spouseMiddleName.$error" ng-if="addMemberForm.spouseMiddleName.$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
									<div ng-message="pattern" class="error">This field requires letters only</div>
								</div>
							</md-input-container>
							<md-input-container md-no-float>
								<input ng-model="member.spouse.lastName" name="spouseLastName" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" placeholder="Last Name" />
								<div ng-messages="addMemberForm.spouseLastName.$error" ng-if="addMemberForm.spouseLastName.$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
									<div ng-message="pattern" class="error">This field requires letters only</div>
								</div>
							</md-input-container>
						</div>
						<md-input-container flex md-no-float>
							<input ng-model="member.spouse.email" type="email" name="spouseEmail" ng-minlength="5" ng-maxlength="100" placeholder="Email Address" />
							<div ng-messages="addMemberForm.spouseEmail.$error" ng-if="addMemberForm.spouseEmail.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
							</div>
						</md-input-container>
					</div>
					<div flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<input ng-model="member.spouse.mobile" name="spouseMobile" required ng-pattern="numeric" ng-minlength="11" ng-maxlength="11" placeholder="11 digit mobile number" />
							<div ng-messages="addMemberForm.spouseMobile.$error" ng-if="addMemberForm.spouseMobile.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires numbers only</div>
							</div>
						</md-input-container>
						<md-datepicker ng-model="member.spouse.birthDate" flex></md-datepicker>
					</div>
					<div flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<input ng-model="member.spouse.occupation" name="spouseOccupation" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="100" placeholder="Occupation" />
							<div ng-messages="addMemberForm.spouseOccupation.$error" ng-if="addMemberForm.spouseOccupation.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
					</div>
				</div>
			</div>

			<!-- emergency contact person info -->
			<div layout="column" layout-padding>
				<div class="md-title" layout layout-padding layout-align="start center">
					Emergency Contact Person<small class="subTitle"></small>
				</div>
				<div layout="column" class="md-whiteframe-2dp">
					<div flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<input ng-model="member.emergencyContact.name" name="emergencyContactName" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="100" placeholder="Name" />
							<div ng-messages="addMemberForm.emergencyContactName.$error" ng-if="addMemberForm.emergencyContactName.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
						<md-input-container flex md-no-float>
							<input ng-model="member.emergencyContact.email" type="email" name="emergencyContactEmail" ng-minlength="3" ng-maxlength="100" placeholder="Email Address" />
							<div ng-messages="addMemberForm.emergencyContactEmail.$error" ng-if="addMemberForm.emergencyContactEmail.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
							</div>
						</md-input-container>
					</div>
					<div flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<md-select ng-model="member.emergencyContact.relation" name="emergencyContactRelation" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="100" placeholder="Relation">
								<md-option ng-repeat="option in relationOptions">{{ option }}</md-option>
								<md-option ng-if="member.civilStatus != 'Single' && member.civilStatus != 'Divorced'">Spouse</md-option>
								<md-option>Other</md-option>
							</md-select>
							<div ng-messages="addMemberForm.emergencyContactRelation.$error" ng-if="addMemberForm.emergencyContactRelation.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
						<md-input-container flex md-no-float>
							<input ng-model="member.emergencyContact.mobile" name="emergencyContactMobile" required ng-pattern="numeric" ng-minlength="11" ng-maxlength="11" placeholder="11 digit mobile number" />
							<div ng-messages="addMemberForm.emergencyContactMobile.$error" ng-if="addMemberForm.emergencyContactMobile.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires numbers only</div>
							</div>
						</md-input-container>
					</div>
				</div>
			</div>

			<!-- beneficiaries -->
			<div layout="column" layout-padding>
				<div class="md-title" layout layout-padding layout-align="start center">
					Beneficiaries<small class="subTitle">(Maximum of 2 beneficiaries only)</small>
				</div>
				<div class="tableHeading" layout layout-padding flex>
					<span flex>Name</span>
					<span flex>Relation</span>
					<span flex>Birth Date</span>
					<span flex>Age</span>
					<md-button ng-click="addBeneficiaryField()" class="md-fab md-mini md-accent" aria-label="Add Beneficiary">
						<i class="mdi mdi-plus"></i>
						<md-tooltip md-direction="left">Add more beneficiaries field</md-tooltip>
					</md-button>
				</div>
				<div layout="column" class="md-whiteframe-2dp">
					<div ng-repeat="beneficiary in member.beneficiaries" flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<input ng-model="beneficiary.name" name="beneficiaryName{{$index}}" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="100" placeholder="Name" />
							<div ng-messages="addMemberForm['beneficiaryName' + $index].$error" ng-if="addMemberForm['beneficiaryName' + $index].$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
						<md-input-container flex md-no-float>
							<md-select ng-model="beneficiary.relation" name="beneficiaryRelation{{$index}}" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="100" placeholder="Relation">
								<md-option ng-repeat="option in relationOptions">{{ option }}</md-option>
								<md-option ng-if="member.civilStatus != 'Single' && member.civilStatus != 'Divorced'">Spouse</md-option>
							</md-select>
							<div ng-messages="addMemberForm['beneficiaryRelation' + $index].$error" ng-if="addMemberForm['beneficiaryRelation' + $index].$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
						<md-datepicker ng-model="beneficiary.birthDate" flex></md-datepicker>
						<md-input-container flex md-no-float>
							<input ng-model="beneficiary.age" placeholder="Age" readonly />
						</md-input-container>
						<md-button ng-click="removeBeneficiaryField($index)" class="md-icon-button md-primary md-hue-1" aria-label="Delete Skill">
							<md-icon class="mdi mdi-delete"></md-icon>
							<md-tooltip md-direction="left">Delete</md-tooltip>
						</md-button>
					</div>
				</div>
			</div>

			<!-- character references -->
			<div layout="column" layout-padding>
				<div class="md-title" layout layout-padding layout-align="start center">
					Character References<small class="subTitle">(3 character references required)</small>
				</div>
				<div class="tableHeading" layout layout-padding flex>
					<span flex>Name</span>
					<span flex>Occupation</span>
					<span flex>Company</span>
					<span flex>Mobile No.</span>
					<span flex>Email Address</span>
					<md-button ng-click="addCharacterReferenceField()" class="md-fab md-mini md-accent" aria-label="Add Character Reference">
						<i class="mdi mdi-plus"></i>
						<md-tooltip md-direction="left">Add more character reference</md-tooltip>
					</md-button>
				</div>
				<div layout="column" class="md-whiteframe-2dp">
					<div ng-repeat="charRef in member.characterReferences" flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<input ng-model="charRef.name" name="charRefName{{$index}}" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="100" placeholder="Name" />
							<div ng-messages="addMemberForm['charRefName' + $index].$error" ng-if="addMemberForm['charRefName' + $index].$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
						<md-input-container flex md-no-float>
							<input ng-model="charRef.occupation" name="charRefOccupation{{$index}}" required ng-pattern="alpha" ng-minlength="2" ng-maxlength="100" placeholder="Occupation" />
							<div ng-messages="addMemberForm['charRefOccupation' + $index].$error" ng-if="addMemberForm['charRefOccupation' + $index].$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
						<md-input-container flex md-no-float>
							<input ng-model="charRef.company" name="charRefCompany{{$index}}" required ng-pattern="alphanumeric" ng-minlength="2" ng-maxlength="100" placeholder="Company" />
							<div ng-messages="addMemberForm['charRefCompany' + $index].$error" ng-if="addMemberForm['charRefCompany' + $index].$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters and numbers only</div>
							</div>
						</md-input-container>
						<md-input-container flex md-no-float>
							<input ng-model="charRef.mobile" name="charRefMobile{{$index}}" required ng-pattern="numeric" ng-minlength="11" ng-maxlength="11" placeholder="11 digit mobile number" />
							<div ng-messages="addMemberForm['charRefMobile' + $index].$error" ng-if="addMemberForm['charRefMobile' + $index].$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires numbers only</div>
							</div>
						</md-input-container>
						<md-input-container flex md-no-float>
							<input ng-model="charRef.email" type="email" name="charRefEmail{{$index}}" required ng-minlength="5" ng-maxlength="100" placeholder="Email Address" />
							<div ng-messages="addMemberForm['charRefEmail' + $index].$error" ng-if="addMemberForm['charRefEmail' + $index].$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
							</div>
						</md-input-container>
						<md-button ng-click="removeCharacterReferenceField($index)" class="md-icon-button md-primary md-hue-1" aria-label="Delete Skill">
							<md-icon class="mdi mdi-delete"></md-icon>
							<md-tooltip md-direction="left">Delete</md-tooltip>
						</md-button>
					</div>
				</div>
			</div>

			<!-- training events/schedules -->
			<div layout="column" layout-padding>
				<div class="md-title" layout layout-padding layout-align="start center">
					Training Events/Schedules <small></small>
				</div>
				<div class="tableHeading" layout layout-padding flex>
					<span flex>Date</span>
					<span flex>Location</span>
					<span flex>Remark</span>
					<md-button ng-click="showTrainingScheduleList()" class="md-fab md-mini md-accent" aria-label="Schedule training">
						<i class="mdi mdi-plus"></i>
						<md-tooltip md-direction="left">Add/Schedule a training to this member</md-tooltip>
					</md-button>
				</div>
				<div layout="column" class="md-whiteframe-2dp">
					<div ng-repeat="memberTrainingEvent in member.trainingEvents | orderBy:'start'" flex layout layout-align="center center" class="customMdInputContainer">
						<span flex>{{ memberTrainingEvent.trainingEvent.start | amDateFormat:'MMMM D, YYYY' }} - {{ memberTrainingEvent.trainingEvent.end | amDateFormat:'MMMM D, YYYY' }}</span>
						<span flex>{{ memberTrainingEvent.trainingEvent.location }}</span>
						<md-input-container flex md-no-float>
							<md-select ng-model="memberTrainingEvent.remark" name="memberTrainingEventRemark{{$index}}" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="100" placeholder="Remarks">
								<md-option>PENDING</md-option>
								<md-option>PASSED</md-option>
								<md-option>FAILED</md-option>
							</md-select>
							<div ng-messages="addMemberForm['memberTrainingEventRemark' + $index].$error" ng-if="addMemberForm['memberTrainingEventRemark' + $index].$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters and numbers only</div>
							</div>
						</md-input-container>
						<md-button ng-click="removeTrainingEventField($index)" class="md-icon-button md-primary md-hue-1" aria-label="Delete Skill">
							<md-icon class="mdi mdi-delete"></md-icon>
							<md-tooltip md-direction="left">Delete</md-tooltip>
						</md-button>
					</div>
				</div>
			</div>

		</div>
	</form>
</md-content>



</div> <!-- closing div for loading indicator -->