<div cg-busy="loadingProperties">

<div layout layout-align="end center" id="toolbar">
	<div flex class="md-toolbar-tools">
		<div>
			<md-button ng-click="backToMemberInfo()" class="md-icon-button md-primary md-hue-1" aria-label="Back">
				<md-icon class="mdi mdi-arrow-left"></md-icon>&emsp;
				<md-tooltip>Back</md-tooltip>	
			</md-button>
		</div>
		<span class="md-title">Edit Member's Info</span>
	</div>
	<md-list flex="10" class="md-toolbar-tools">
		<md-list-item>
			<md-button ng-click="cancelEditConfirm()" class="md-icon-button md-primary md-hue-1" aria-label="Cancel Edit">
				<md-icon class="mdi mdi-block-helper"></md-icon>
				<md-tooltip md-direction="left">Cancel Edit</md-tooltip>
			</md-button>
		</md-list-item>
		<md-list-item>
			<md-button ng-click="submitMemberEditForm(memberEditForm)" class="md-icon-button md-primary md-hue-1" aria-label="Save Changes">
				<md-icon class="mdi mdi-check"></md-icon>
				<md-tooltip md-direction="left">Save Changes</md-tooltip>
			</md-button>
		</md-list-item>
	</md-list>
</div>

<md-content id="memberEdit" class="container" layout layout-align="center start">
	<form name="memberEditForm" flex layout="col" layout-padding>
		<div layout="column" layout-padding flex="100">

			<!-- basic info -->
			<div layout="column" layout-padding>
				<div class="md-title" layout layout-padding layout-align="start center">
					Basic Info<small class="subTitle">(profile picture can be changed/saved separately)</small>
				</div>
				<div layout layout-padding class="md-whiteframe-2dp">
					<div ng-click="changePicture()" layout layout-align="center center">
						<div>
							<img src="/worktrustedV2/app/assets/profilePhotos/{{ member.photo }}" class="profile-circle-avatar" />
							<md-tooltip>Click to change picture</md-tooltip>
						</div>
					</div>
					<div flex layout="column">
						<div flex layout layout-align="start center" class="customMdInputContainer">
							<div layout flex="50">
								<md-input-container flex md-no-float>
									<input ng-model="member.firstName" name="firstName" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" placeholder="First Name" />
									<div ng-messages="memberEditForm.firstName.$error" ng-if="memberEditForm.firstName.$touched">
										<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
										<div ng-message="pattern" class="error">This field requires letters only</div>
									</div>
								</md-input-container>
								<md-input-container flex md-no-float>
									<input ng-model="member.middleName" name="middleName" ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" placeholder="Middle Name" />
									<div ng-messages="memberEditForm.middleName.$error" ng-if="memberEditForm.middleName.$touched">
										<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
										<div ng-message="pattern" class="error">This field requires letters only</div>
									</div>
								</md-input-container>
								<md-input-container flex md-no-float>
									<input ng-model="member.lastName" name="lastName" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" placeholder="Last Name" />
									<div ng-messages="memberEditForm.lastName.$error" ng-if="memberEditForm.lastName.$touched">
										<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
										<div ng-message="pattern" class="error">This field requires letters only</div>
									</div>
								</md-input-container>
							</div>
						</div>
						<div flex layout layout-align="start center" class="customMdInputContainer">
							<md-input-container flex="25" md-no-float>
								<md-select ng-model="member.civilStatus" name="civilStatus" required placeholder="Civil Status">
									<md-option ng-repeat="option in civilStatusOptions">{{ option }}</md-option>
								</md-select>
								<div ng-messages="memberEditForm.civilStatus.$error" ng-if="memberEditForm.civilStatus.$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
									<div ng-message="pattern" class="error">This field requires letters only</div>
								</div>
							</md-input-container>
							<md-input-container flex="25" md-no-float>
								<md-select ng-model="member.gender" name="gender" required placeholder="Gender">
									<md-option ng-repeat="option in genderOptions">{{ option }}</md-option>
								</md-select>
								<div ng-messages="memberEditForm.gender.$error" ng-if="memberEditForm.gender.$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
									<div ng-message="pattern" class="error">This field requires letters only</div>
								</div>
							</md-input-container>
							<md-datepicker ng-model="member.birthDate"></md-datepicker>
						</div>
						<div flex layout layout-align="start center" class="customMdInputContainer">
							<div flex="80" layout>
								<md-input-container flex md-no-float>
									<input ng-model="member.street" name="street" ng-pattern="alphanumericSymbol" ng-minlength="2" ng-maxlength="100" placeholder="Street" />
									<div ng-messages="memberEditForm.street.$error" ng-if="memberEditForm.street.$touched">
										<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
										<div ng-message="pattern" class="error">This field requires alphanumeric characters and basic symbols only</div>
									</div>
								</md-input-container>
								<md-input-container flex md-no-float>
									<input ng-model="member.barangay" name="barangay" required ng-pattern="alphanumericSymbol" ng-minlength="1" ng-maxlength="100" placeholder="Barangay" />
									<div ng-messages="memberEditForm.barangay.$error" ng-if="memberEditForm.barangay.$touched">
										<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
										<div ng-message="pattern" class="error">This field requires alphanumeric characters and basic symbols only</div>
									</div>
								</md-input-container>
								<md-input-container flex md-no-float>
									<input ng-model="member.city" name="city" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="100" placeholder="City/Municipality" />
									<div ng-messages="memberEditForm.city.$error" ng-if="memberEditForm.city.$touched">
										<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
										<div ng-message="pattern" class="error">This field requires letters only</div>
									</div>
								</md-input-container>
								<md-input-container flex md-no-float>
									<input ng-model="member.province" name="province" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" placeholder="Province" />
									<div ng-messages="memberEditForm.province.$error" ng-if="memberEditForm.province.$touched">
										<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
										<div ng-message="pattern" class="error">This field requires letters only</div>
									</div>
								</md-input-container>
							</div>
						</div>
						<div flex layout layout-align="start center" class="customMdInputContainer">
							<md-input-container flex md-no-float>
								<input ng-model="member.religion" name="religion" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" placeholder="Religion" />
								<div ng-messages="memberEditForm.religion.$error" ng-if="memberEditForm.religion.$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
									<div ng-message="pattern" class="error">This field requires letters only</div>
								</div>
							</md-input-container>
							<md-input-container flex md-no-float>
								<input ng-model="member.height" name="height" required ng-pattern="numeric" ng-minlength="3" ng-maxlength="3" placeholder="Height(cm)" />
								<div ng-messages="memberEditForm.height.$error" ng-if="memberEditForm.height.$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
									<div ng-message="pattern" class="error">This field requires numbers only</div>
								</div>
							</md-input-container>
							<md-input-container flex md-no-float>
								<input ng-model="member.weight" name="weight" required ng-pattern="numeric" ng-minlength="2" ng-maxlength="3" placeholder="Weight(cm)" />
								<div ng-messages="memberEditForm.weight.$error" ng-if="memberEditForm.weight.$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
									<div ng-message="pattern" class="error">This field requires numbers only</div>
								</div>
							</md-input-container>
							<md-input-container flex md-no-float>
								<input ng-model="member.email" name="email" type="email" required ng-minlength="5" ng-maxlength="100" placeholder="Email Address" />
								<div ng-messages="memberEditForm.email.$error" ng-if="memberEditForm.email.$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								</div>
							</md-input-container>
							<md-input-container flex md-no-float>
								<input ng-model="member.mobile" name="mobile" required ng-pattern="numeric" ng-minlength="11" ng-maxlength="11" placeholder="11 digit mobile number" />
								<div ng-messages="memberEditForm.mobile.$error" ng-if="memberEditForm.mobile.$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
									<div ng-message="pattern" class="error">This field requires numbers only</div>
								</div>
							</md-input-container>
						</div>
						<md-chips flex ng-model="member.tags" md-autocomplete-snap ng-if="member.tags" placeholder="Always use predefined tags for consistency" secondary-placeholder="Type any tag(s) you want">
							<md-autocomplete md-min-length="0" md-items="" md-search-text="searchText" md-autofocus="false" placeholder="Type any tag(s) you want">
								<md-item-template>{{item}}</md-item-template>
							</md-autocomplete>
						</md-chips>
					</div>
				</div>
			</div>

			<!-- account info -->
			<div layout="column" layout-padding>
				<div class="md-title" layout layout-padding layout-align="start center">
					Account Info<small class="subTitle"></small>
				</div>
				<div layout="column" class="md-whiteframe-2dp">
					<div flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<input ng-model="member.account.userName" readonly placeholder="Username" />
						</md-input-container>
					</div>
					<div flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<md-select ng-model="member.account.type" name="accountType" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" placeholder="Account Type">
								<md-option ng-repeat="option in accountTypeOptions" ng-value="option.id">{{ option.value }}</md-option>
							</md-select>
							<div ng-messages="memberEditForm.accountType.$error" ng-if="memberEditForm.accountType.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
					</div>
					<div flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<md-select ng-model="member.account.status" name="accountStatus" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" placeholder="Account Type">
								<md-option value="active">Active</md-option>
								<md-option value="inactive">Inactive</md-option>
							</md-select>
							<div ng-messages="memberEditForm.accountStatus.$error" ng-if="memberEditForm.accountStatus.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
					</div>
					<div layout>
						<a ng-click="resetPasswordConfirm()">Reset Password</a>
					</div>
				</div>
			</div>

			<!-- educational attainment -->
			<div layout="column" layout-padding>
				<div class="md-title" layout layout-padding layout-align="start center">
					Educational Attainment<small class="subTitle"></small>
				</div>
				<div layout="column" class="md-whiteframe-2dp">
					<div flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<md-select ng-model="member.education.attainment" name="educAttainment" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" placeholder="Attainment">
								<md-option ng-repeat="option in attainmentOptions">{{ option }}</md-option>
							</md-select>
							<div ng-messages="memberEditForm.educAttainment.$error" ng-if="memberEditForm.educAttainment.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
					</div>
					<div ng-if="member.education.attainment != 'Elementary Graduate' && member.education.attainment != 'High School Graduate'" flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<input ng-model="member.education.course" name="educCourse" required ng-pattern="alpha" ng-minlength="2" ng-maxlength="100" placeholder="Course" />
							<div ng-messages="memberEditForm.educCourse.$error" ng-if="memberEditForm.educCourse.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
					</div>
					<div flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<input ng-model="member.education.startYear" name="educStartYear" required ng-pattern="numeric" ng-minlength="4" ng-maxlength="4" placeholder="Start Year" />
							<div ng-messages="memberEditForm.educStartYear.$error" ng-if="memberEditForm.educStartYear.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires numbers only</div>
							</div>
						</md-input-container>
						<md-input-container flex md-no-float>
							<input ng-model="member.education.endYear" name="educEndYear" required ng-pattern="numeric" ng-minlength="4" ng-maxlength="4" placeholder="End Year" />
							<div ng-messages="memberEditForm.educEndYear.$error" ng-if="memberEditForm.educEndYear.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires numbers only</div>
							</div>
						</md-input-container>
					</div>
				</div>
			</div>

			<!-- skills -->
			<div layout="column" layout-padding>
				<div class="md-title" layout layout-padding layout-align="start center">
					Skills<small class="subTitle">(relative to field of work)</small>
					<span flex></span>
					<md-button ng-click="addSkillField()" class="md-fab md-mini md-accent" aria-label="Add Skill">
						<i class="mdi mdi-plus"></i>
						<md-tooltip md-direction="left">Add more skill field</md-tooltip>
					</md-button>
				</div>
				<div layout="column" class="md-whiteframe-2dp">
					<div ng-repeat="skill in member.skills" flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<input ng-model="skill.skill" name="skill{{$index}}" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="100" placeholder="Skill related to field of work" />
							<div ng-messages="memberEditForm['skill' + $index].$error" ng-if="memberEditForm['skill' + $index].$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
						<md-button ng-click="removeSkillField($index)" class="md-icon-button md-primary md-hue-1" aria-label="Delete Skill">
							<md-icon class="mdi mdi-delete"></md-icon>
							<md-tooltip md-direction="left">Delete</md-tooltip>
						</md-button>
					</div>
				</div>
			</div>

			<!-- work history -->
			<div layout="column" layout-padding>
				<div class="md-title" layout layout-padding layout-align="start center">
					Work Histories
				</div>
				<div class="tableHeading" layout layout-padding flex>
					<span flex>Company</span>
					<span flex>Position</span>
					<span flex>Start Date</span>
					<span flex>End Date</span>
					<md-button ng-click="addWorkHistoryField()" class="md-fab md-mini md-accent" aria-label="Add Work History">
						<i class="mdi mdi-plus"></i>
						<md-tooltip md-direction="left">Add more work history field</md-tooltip>
					</md-button>
				</div>
				<div layout="column" class="md-whiteframe-2dp">
					<div ng-repeat="workHistory in member.workHistories | orderBy:'-endDate'" flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex="" md-no-float>
							<input ng-model="workHistory.company" name="workHistoryCompany{{$index}}" required ng-pattern="alphanumeric" ng-minlength="3" ng-maxlength="100" placeholder="Company Name" />
							<div ng-messages="memberEditForm['workHistoryCompany' + $index].$error" ng-if="memberEditForm['workHistoryCompany' + $index].$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters and numbers only</div>
							</div>
						</md-input-container>
						<md-input-container flex md-no-float>
							<input ng-model="workHistory.position" name="workHistoryPosition{{$index}}" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="100" placeholder="Position" />
							<div ng-messages="memberEditForm['workHistoryPosition' + $index].$error" ng-if="memberEditForm['workHistoryPosition' + $index].$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
						<md-datepicker ng-model="workHistory.startDate" flex></md-datepicker>
						<md-datepicker ng-model="workHistory.endDate" flex></md-datepicker>
						<md-button ng-click="removeWorkHistoryField($index)" class="md-icon-button md-primary md-hue-1" aria-label="Delete Skill">
							<md-icon class="mdi mdi-delete"></md-icon>
							<md-tooltip md-direction="left">Delete</md-tooltip>
						</md-button>
					</div>
				</div>
			</div>

			<!-- parents -->
			<div layout="column" layout-padding>
				<div class="md-title" layout layout-padding layout-align="start center">
					Parents<small class="subTitle">(Leave the fields blank if unapplicable)</small>
				</div>
				<div class="tableHeading" layout layout-padding flex>
					<span flex>Name</span>
					<span flex>Relation</span>
					<span flex>Occupation</span>
				</div>
				<div layout="column" class="md-whiteframe-2dp">
					<div flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<input ng-model="member.parent.motherName" name="motherName" ng-pattern="alpha" ng-minlength="3" ng-maxlength="100" placeholder="Name" />
							<div ng-messages="memberEditForm.motherName.$error" ng-if="memberEditForm.motherName.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
						<md-input-container flex md-no-float>
							<input value="Mother" readonly placeholder="Relation" />
						</md-input-container>
						<md-input-container flex md-no-float>
							<input ng-model="member.parent.motherOccupation" name="motherOccupation" ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" placeholder="Occupation" />
							<div ng-messages="memberEditForm.motherOccupation.$error" ng-if="memberEditForm.motherOccupation.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
					</div>
					<div flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<input ng-model="member.parent.fatherName" name="fatherName" ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" placeholder="Name" />
							<div ng-messages="memberEditForm.fatherName.$error" ng-if="memberEditForm.fatherName.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
						<md-input-container flex md-no-float>
							<input value="Father" readonly placeholder="Relation" />
						</md-input-container>
						<md-input-container flex md-no-float>
							<input ng-model="member.parent.fatherOccupation" name="fatherOccupation" ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" placeholder="Occupation" />
							<div ng-messages="memberEditForm.fatherOccupation.$error" ng-if="memberEditForm.fatherOccupation.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
					</div>
				</div>
			</div>

			<!-- spouse info -->
			<div layout="column" layout-padding ng-if="member.civilStatus != 'Single' && member.civilStatus != 'Divorced'">
				<div class="md-title" layout layout-padding layout-align="start center">
					Spouse<small class="subTitle"></small>
				</div>
				<div layout="column" class="md-whiteframe-2dp">
					<div flex layout layout-align="center center" class="customMdInputContainer">
						<div flex>
							<md-input-container md-no-float>
								<input ng-model="member.spouse.firstName" name="spouseFirstName" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" placeholder="First Name" />
								<div ng-messages="memberEditForm.spouseFirstName.$error" ng-if="memberEditForm.spouseFirstName.$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
									<div ng-message="pattern" class="error">This field requires letters only</div>
								</div>
							</md-input-container>
							<md-input-container md-no-float>
								<input ng-model="member.spouse.middleName" name="spouseMiddleName" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" placeholder="Middle Name" />
								<div ng-messages="memberEditForm.spouseMiddleName.$error" ng-if="memberEditForm.spouseMiddleName.$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
									<div ng-message="pattern" class="error">This field requires letters only</div>
								</div>
							</md-input-container>
							<md-input-container md-no-float>
								<input ng-model="member.spouse.lastName" name="spouseLastName" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="50" placeholder="Last Name" />
								<div ng-messages="memberEditForm.spouseLastName.$error" ng-if="memberEditForm.spouseLastName.$touched">
									<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
									<div ng-message="pattern" class="error">This field requires letters only</div>
								</div>
							</md-input-container>
						</div>
						<md-input-container flex md-no-float>
							<input ng-model="member.spouse.email" type="email" name="spouseEmail" ng-minlength="5" ng-maxlength="100" placeholder="Email Address" />
							<div ng-messages="memberEditForm.spouseEmail.$error" ng-if="memberEditForm.spouseEmail.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
							</div>
						</md-input-container>
					</div>
					<div flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<input ng-model="member.spouse.mobile" name="spouseMobile" required ng-pattern="numeric" ng-minlength="11" ng-maxlength="11" placeholder="11 digit mobile number" />
							<div ng-messages="memberEditForm.spouseMobile.$error" ng-if="memberEditForm.spouseMobile.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires numbers only</div>
							</div>
						</md-input-container>
						<md-datepicker ng-model="member.spouse.birthDate" flex></md-datepicker>
					</div>
					<div flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<input ng-model="member.spouse.occupation" name="spouseOccupation" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="100" placeholder="Occupation" />
							<div ng-messages="memberEditForm.spouseOccupation.$error" ng-if="memberEditForm.spouseOccupation.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
					</div>
				</div>
			</div>

			<!-- emergency contact person info -->
			<div layout="column" layout-padding>
				<div class="md-title" layout layout-padding layout-align="start center">
					Emergency Contact Person<small class="subTitle"></small>
				</div>
				<div layout="column" class="md-whiteframe-2dp">
					<div flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<input ng-model="member.emergencyContact.name" name="emergencyContactName" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="100" placeholder="Name" />
							<div ng-messages="memberEditForm.emergencyContactName.$error" ng-if="memberEditForm.emergencyContactName.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
						<md-input-container flex md-no-float>
							<input ng-model="member.emergencyContact.email" type="email" name="emergencyContactEmail" ng-minlength="3" ng-maxlength="100" placeholder="Email Address" />
							<div ng-messages="memberEditForm.emergencyContactEmail.$error" ng-if="memberEditForm.emergencyContactEmail.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
							</div>
						</md-input-container>
					</div>
					<div flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<md-select ng-model="member.emergencyContact.relation" name="emergencyContactRelation" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="100" placeholder="Relation">
								<md-option ng-repeat="option in relationOptions">{{ option }}</md-option>
								<md-option ng-if="member.civilStatus != 'Single' && member.civilStatus != 'Divorced'">Spouse</md-option>
								<md-option>Other</md-option>
							</md-select>
							<div ng-messages="memberEditForm.emergencyContactRelation.$error" ng-if="memberEditForm.emergencyContactRelation.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
						<md-input-container flex md-no-float>
							<input ng-model="member.emergencyContact.mobile" name="emergencyContactMobile" required ng-pattern="numeric" ng-minlength="11" ng-maxlength="11" placeholder="11 digit mobile number" />
							<div ng-messages="memberEditForm.emergencyContactMobile.$error" ng-if="memberEditForm.emergencyContactMobile.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires numbers only</div>
							</div>
						</md-input-container>
					</div>
				</div>
			</div>

			<!-- beneficiaries -->
			<div layout="column" layout-padding>
				<div class="md-title" layout layout-padding layout-align="start center">
					Beneficiaries<small class="subTitle">(Maximum of 2 beneficiaries only)</small>
				</div>
				<div class="tableHeading" layout layout-padding flex>
					<span flex>Name</span>
					<span flex>Relation</span>
					<span flex>Birth Date</span>
					<span flex>Age</span>
					<md-button ng-click="addBeneficiaryField()" class="md-fab md-mini md-accent" aria-label="Add Beneficiary">
						<i class="mdi mdi-plus"></i>
						<md-tooltip md-direction="left">Add more beneficiaries field</md-tooltip>
					</md-button>
				</div>
				<div layout="column" class="md-whiteframe-2dp">
					<div ng-repeat="beneficiary in member.beneficiaries" flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<input ng-model="beneficiary.name" name="beneficiaryName{{$index}}" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="100" placeholder="Name" />
							<div ng-messages="memberEditForm['beneficiaryName' + $index].$error" ng-if="memberEditForm['beneficiaryName' + $index].$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
						<md-input-container flex md-no-float>
							<md-select ng-model="beneficiary.relation" name="beneficiaryRelation{{$index}}" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="100" placeholder="Relation">
								<md-option ng-repeat="option in relationOptions">{{ option }}</md-option>
								<md-option ng-if="member.civilStatus != 'Single' && member.civilStatus != 'Divorced'">Spouse</md-option>
							</md-select>
							<div ng-messages="memberEditForm['beneficiaryRelation' + $index].$error" ng-if="memberEditForm['beneficiaryRelation' + $index].$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
						<md-datepicker ng-model="beneficiary.birthDate" flex></md-datepicker>
						<md-input-container flex md-no-float>
							<input ng-model="beneficiary.age" placeholder="Age" readonly />
						</md-input-container>
						<md-button ng-click="removeBeneficiaryField($index)" class="md-icon-button md-primary md-hue-1" aria-label="Delete Skill">
							<md-icon class="mdi mdi-delete"></md-icon>
							<md-tooltip md-direction="left">Delete</md-tooltip>
						</md-button>
					</div>
				</div>
			</div>

			<!-- character references -->
			<div layout="column" layout-padding>
				<div class="md-title" layout layout-padding layout-align="start center">
					Character References<small class="subTitle">(3 character references required)</small>
				</div>
				<div class="tableHeading" layout layout-padding flex>
					<span flex>Name</span>
					<span flex>Occupation</span>
					<span flex>Company</span>
					<span flex>Mobile No.</span>
					<span flex>Email Address</span>
					<md-button ng-click="addCharacterReferenceField()" class="md-fab md-mini md-accent" aria-label="Add Character Reference">
						<i class="mdi mdi-plus"></i>
						<md-tooltip md-direction="left">Add more character reference</md-tooltip>
					</md-button>
				</div>
				<div layout="column" class="md-whiteframe-2dp">
					<div ng-repeat="charRef in member.characterReferences" flex layout layout-align="center center" class="customMdInputContainer">
						<md-input-container flex md-no-float>
							<input ng-model="charRef.name" name="charRefName{{$index}}" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="100" placeholder="Name" />
							<div ng-messages="memberEditForm['charRefName' + $index].$error" ng-if="memberEditForm['charRefName' + $index].$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
						<md-input-container flex md-no-float>
							<input ng-model="charRef.occupation" name="charRefOccupation{{$index}}" required ng-pattern="alpha" ng-minlength="2" ng-maxlength="100" placeholder="Occupation" />
							<div ng-messages="memberEditForm['charRefOccupation' + $index].$error" ng-if="memberEditForm['charRefOccupation' + $index].$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters only</div>
							</div>
						</md-input-container>
						<md-input-container flex md-no-float>
							<input ng-model="charRef.company" name="charRefCompany{{$index}}" required ng-pattern="alphanumeric" ng-minlength="2" ng-maxlength="100" placeholder="Company" />
							<div ng-messages="memberEditForm['charRefCompany' + $index].$error" ng-if="memberEditForm['charRefCompany' + $index].$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters and numbers only</div>
							</div>
						</md-input-container>
						<md-input-container flex md-no-float>
							<input ng-model="charRef.mobile" name="charRefMobile{{$index}}" required ng-pattern="numeric" ng-minlength="11" ng-maxlength="11" placeholder="11 digit mobile number" />
							<div ng-messages="memberEditForm['charRefMobile' + $index].$error" ng-if="memberEditForm['charRefMobile' + $index].$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires numbers only</div>
							</div>
						</md-input-container>
						<md-input-container flex md-no-float>
							<input ng-model="charRef.email" type="email" name="charRefEmail{{$index}}" required ng-minlength="5" ng-maxlength="100" placeholder="Email Address" />
							<div ng-messages="memberEditForm['charRefEmail' + $index].$error" ng-if="memberEditForm['charRefEmail' + $index].$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
							</div>
						</md-input-container>
						<md-button ng-click="removeCharacterReferenceField($index)" class="md-icon-button md-primary md-hue-1" aria-label="Delete Skill">
							<md-icon class="mdi mdi-delete"></md-icon>
							<md-tooltip md-direction="left">Delete</md-tooltip>
						</md-button>
					</div>
				</div>
			</div>

			<!-- training events/schedules -->
			<div layout="column" layout-padding>
				<div class="md-title" layout layout-padding layout-align="start center">
					Training Events/Schedules <small></small>
				</div>
				<div class="tableHeading" layout layout-padding flex>
					<span flex>Date</span>
					<span flex>Location</span>
					<span flex>Remark</span>
					<md-button ng-click="showTrainingScheduleList()" class="md-fab md-mini md-accent" aria-label="Schedule training">
						<i class="mdi mdi-plus"></i>
						<md-tooltip md-direction="left">Add/Schedule a training to this member</md-tooltip>
					</md-button>
				</div>
				<div layout="column" class="md-whiteframe-2dp">
					<div ng-repeat="memberTrainingEvent in member.trainingEvents | orderBy:'start'" flex layout layout-align="center center" class="customMdInputContainer">
						<span flex>{{ memberTrainingEvent.trainingEvent.start | amDateFormat:'MMMM D, YYYY' }} - {{ memberTrainingEvent.trainingEvent.end | amDateFormat:'MMMM D, YYYY' }}</span>
						<span flex>{{ memberTrainingEvent.trainingEvent.location }}</span>
						<md-input-container flex md-no-float>
							<md-select ng-model="memberTrainingEvent.remark" name="memberTrainingEventRemark{{$index}}" required ng-pattern="alpha" ng-minlength="3" ng-maxlength="100" placeholder="Remarks">
								<md-option>PENDING</md-option>
								<md-option>PASSED</md-option>
								<md-option>FAILED</md-option>
							</md-select>
							<div ng-messages="memberEditForm['memberTrainingEventRemark' + $index].$error" ng-if="memberEditForm['memberTrainingEventRemark' + $index].$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires letters and numbers only</div>
							</div>
						</md-input-container>
						<md-button ng-click="removeTrainingEventField($index)" class="md-icon-button md-primary md-hue-1" aria-label="Delete Skill">
							<md-icon class="mdi mdi-delete"></md-icon>
							<md-tooltip md-direction="left">Delete</md-tooltip>
						</md-button>
					</div>
				</div>
			</div>

		</div>
	</form>
</md-content>



</div> <!-- closing div for loading indicator -->