<div cg-busy="loadingProperties">

<div layout layout-align="end center" id="toolbar">
	<div flex class="md-toolbar-tools">
		<div>
			<md-button ng-click="backToMemberList()" class="md-icon-button md-primary md-hue-1" aria-label="Back">
				<md-icon class="mdi mdi-arrow-left"></md-icon>&emsp;
				<md-tooltip>Back</md-tooltip>	
			</md-button>
		</div>
		<span class="md-title">Member's Info</span>
	</div>

	<!-- button icons -->
	<div flex="5">
		<md-button ng-click="showTrainingScheduleList()" class="md-icon-button md-primary md-hue-1" aria-label="Schedule for a training">
			<md-icon class="mdi mdi-calendar-check"></md-icon>
			<md-tooltip md-direction="left">Schedule for training</md-tooltip>
		</md-button>
	</div>
	<div flex="5">
		<md-button ng-click="editMember()" class="md-icon-button md-primary md-hue-1" aria-label="editMemberInfo">
			<md-icon class="mdi mdi-pencil"></md-icon>
			<md-tooltip md-direction="left">Edit member's info</md-tooltip>
		</md-button>
	</div>
</div>

<md-content id="memberInfo" class="container" layout layout-align="center start">
	<form name="memberInfoForm" flex layout="col" layout-padding>
		<div flex layout="column" layout-padding layout-wrap>
			<div layout="column" layout-padding flex="100">
				<!-- basic info -->
				<div layout="column">
					<div class="md-title" layout layout-padding layout-align="start center">
						Basic Info<small class="subTitle">(overview)</small>
					</div>
					<div layout layout-padding class="md-whiteframe-2dp">
						<div ng-click="changePicture()" layout layout-align="center center">
							<div>
								<img src="/worktrustedV2/app/assets/profilePhotos/{{ member.photo }}" class="profile-circle-avatar" />
								<md-tooltip>Click to change picture</md-tooltip>
							</div>
						</div>
						<div layout="column" layout-padding layout-align="start start" flex>
							<div layout>
								<span class="md-title">
									{{ member.firstName }}
								</span>
								<span class="md-title">
									&nbsp;{{ member.middleName }}
								</span>
								<span class="md-title">
									&nbsp;{{ member.lastName }}
								</span>
							</div>
							<div layout>
								<span>
									{{ member.civilStatus }}
								</span>
								<span>
									&emsp;{{ member.gender }}
								</span>
								<span>
									&emsp;{{ member.age }} years old
									<md-tooltip>{{ member.birthDate | amDateFormat:'MMMM D, YYYY' }}</md-tooltip>
								</span>
							</div>
							<div layout layout-wrap>
								<span>
									{{ member.street }}
								</span>
								<span>
									, {{ member.barangay }}
								</span>
								<span>
									, {{ member.city }}
								</span>
								<span>
									, {{ member.province }}
								</span>
							</div>
							<div layout>
								<span>{{ member.height }} cm</span>
								<span>&emsp;{{ member.weight }} kg</span>
							</div>
						</div>
						<div layout="column" layout-padding layout-align="start start" flex>
							<span layout class="md-title">&nbsp;</span>
							<span layout>{{ member.email }}</span>
							<span layout>{{ member.mobile }}</span>
							<span layout>{{ member.religion }}</span>
						</div>
						<div layout="column" layout-padding layout-align="start start" flex>
							<span layout class="md-title">&nbsp;</span>
							<span layout class="md-subhead">Member since {{ member.membershipDate | amDateFormat:'MMMM D, YYYY' }}</span>
							<i class="md-subhead subTitle" ng-if="member.tags.length == 0 || (member.tags[0] == '' && member.tags.length == 1)">No Tags available</i>
							<md-chips ng-model="member.tags" readonly="true"></md-chips>
						</div>
					</div>
				</div>

				<!-- account info -->
				<div layout="column">
					<div class="md-title" layout layout-padding layout-align="start center">
						Account Info<small class="subTitle"></small>
					</div>
					<div layout layout-padding class="md-whiteframe-2dp">
						<div layout="column" layout-padding layout-align="start start" flex>
							<div layout>
								<span>
									{{ member.account.userName }}
									<md-tooltip>Username</md-tooltip>
								</span>
							</div>
							<div layout>
								<span>
									{{ member.account.type | upperFirst }}
									<md-tooltip>Account Type</md-tooltip>
								</span>
							</div>
							<div layout>
								<span>
									{{ member.account.status | upperFirst }}
									<md-tooltip>Account Status</md-tooltip>
								</span>
							</div>
							<div layout>
								<a ng-click="resetPasswordConfirm()">Reset Password</a>
							</div>
						</div>
					</div>
				</div>

				<!-- educational attainment -->
				<div layout="column">
					<div class="md-title" layout layout-padding layout-align="start center">
						Educational Attainment<small class="subTitle"></small>
					</div>
					<div layout layout-padding class="md-whiteframe-2dp">
						<div layout="column" layout-padding layout-align="start start" flex>
							<div layout>
								<span>
									{{ member.education.attainment }}
								</span>
							</div>
							<div layout ng-if="member.education != 'High School Graduate'">
								<span>
									{{ member.education.course }}
								</span>
							</div>
							<div layout>
								<span>
									{{ member.education.startYear }}
								</span>
								&nbsp;-&nbsp;
								<span>
									{{ member.education.endYear }}
								</span>
							</div>
						</div>
					</div>
				</div>

				<!-- skills -->
				<div layout="column">
					<div class="md-title" layout layout-padding layout-align="start center">
						Skills
						<small class="subTitle">
							(relative to field of work)
							<span ng-if="member.skills.length == 0">(No skills found)</span>
						</small>
					</div>
					<md-list class="md-whiteframe-2dp">
						<md-list-item ng-repeat="skill in member.skills">
							<div flex layout layout-padding>
								<span>{{ skill.skill }}</span>
							</div>
							<md-divider ng-if="!$last"></md-divider>
						</md-list-item>
					</md-list>
				</div>

				<!-- work history -->
				<div layout="column">
					<div class="md-title" layout layout-padding layout-align="start center">
						Work Histories
						<small>
							<span ng-if="member.workHistories.length == 0">(No work history found)</span>
						</small>
					</div>
					<div class="tableHeading" layout layout-padding flex>
						<span flex>Company</span>
						<span flex>Position</span>
						<span flex>Start Date</span>
						<span flex>End Date</span>
					</div>
					<md-list class="md-whiteframe-2dp">
						<md-list-item ng-repeat="workHistory in member.workHistories | orderBy:'-startDate'">
							<div flex layout layout-padding>
								<span flex>{{ workHistory.company }}</span>
								<span flex>{{ workHistory.position }}</span>
								<span flex>{{ workHistory.startDate | amDateFormat:'MMMM D, YYYY' }}</span>
								<span flex>{{ workHistory.endDate | amDateFormat:'MMMM D, YYYY' }}</span>
							</div>
							<md-divider ng-if="!$last"></md-divider>
						</md-list-item>
					</md-list>
				</div>

				<!-- parents -->
				<div layout="column" ng-if="member.parent.motherName != '' || member.parent.fatherName != ''">
					<div class="md-title" layout layout-padding layout-align="start center">
						Parents
					</div>
					<div class="tableHeading" layout layout-padding flex>
						<span flex>Name</span>
						<span flex>Relation</span>
						<span flex>Occupation</span>
					</div>
					<md-list class="md-whiteframe-2dp">
						<md-list-item>
							<div flex layout layout-padding>
								<span flex>{{ member.parent.motherName }}</span>
								<span flex>Mother</span>
								<span flex>{{ member.parent.motherOccupation }}</span>
							</div>
						</md-list-item>
						<md-divider></md-divider>
						<md-list-item>
							<div flex layout layout-padding>
								<span flex>{{ member.parent.fatherName }}</span>
								<span flex>Father</span>
								<span flex>{{ member.parent.fatherOccupation }}</span>
							</div>
						</md-list-item>
					</md-list>
				</div>

				<!-- spouse info -->
				<div layout="column" ng-if="member.civilStatus != 'Single' && member.civilStatus != 'Divorced'">
					<div class="md-title" layout layout-padding layout-align="start center">
						Spouse<small class="subTitle"></small>
					</div>
					<div layout layout-padding class="md-whiteframe-2dp">
						<div layout="column" layout-padding layout-align="start start" flex>
							<div layout>
								<span>
									{{ member.spouse.firstName }}
									<md-tooltip>First Name</md-tooltip>
								</span>
								<span>
									&nbsp;{{ member.spouse.middleName }}
									<md-tooltip>Middle Name</md-tooltip>
								</span>
								<span>
									&nbsp;{{ member.spouse.lastName }}
									<md-tooltip>Last Name</md-tooltip>
								</span>
							</div>
							<div layout>
								<span>
									{{ member.spouse.age }} years old, 
								</span>
								<span>
									&nbsp;{{ member.spouse.birthDate | amDateFormat:'MMMM D, YYYY' }}
								</span>
							</div>
							<div layout>
								<span>{{ member.spouse.occupation }}</span>
							</div>
						</div>
						<div layout="column" layout-padding layout-align="start start" flex>
							<span layout>{{ member.spouse.email }}</span>
							<span layout>{{ member.spouse.mobile }}</span>
						</div>
					</div>
				</div>

				<!-- emergency contact person info -->
				<div layout="column" ng-if="member.emergencyContact.name != ''">
					<div class="md-title" layout layout-padding layout-align="start center">
						Emergency Contact Person<small class="subTitle"></small>
					</div>
					<div layout layout-padding class="md-whiteframe-2dp">
						<div layout="column" layout-padding layout-align="start start" flex>
							<div layout>
								<span>
									{{ member.emergencyContact.name }}
								</span>
							</div>
							<div layout>
								<span>
									{{ member.emergencyContact.relation }} 
								</span>
							</div>
						</div>
						<div layout="column" layout-padding layout-align="start start" flex>
							<span layout>{{ member.emergencyContact.email }}</span>
							<span layout>{{ member.emergencyContact.mobile }}</span>
						</div>
					</div>
				</div>

				<!-- beneficiaries -->
				<div layout="column">
					<div class="md-title" layout layout-padding layout-align="start center">
						Beneficiaries
						<small>
							<span ng-if="member.beneficiaries.length == 0">(No beneficiaries found)</span>
						</small>
					</div>
					<div class="tableHeading" layout layout-padding flex>
						<span flex>Name</span>
						<span flex>Relation</span>
						<span flex>Birth Date</span>
						<span flex>Age</span>
					</div>
					<md-list class="md-whiteframe-2dp">
						<md-list-item ng-repeat="beneficiary in member.beneficiaries">
							<div flex layout layout-padding>
								<span flex>{{ beneficiary.name }}</span>
								<span flex>{{ beneficiary.relation }}</span>
								<span flex>{{ beneficiary.birthDate | amDateFormat:'MMMM D, YYYY' }}</span>
								<span flex>{{ beneficiary.age }}</span>
							</div>
							<md-divider ng-if="!$last"></md-divider>
						</md-list-item>
					</md-list>
				</div>

				<!-- character references -->
				<div layout="column">
					<div class="md-title" layout layout-padding layout-align="start center">
						Character References
						<small>
							<span ng-if="member.characterReferences.length == 0">(No character references found)</span>
						</small>
					</div>
					<div class="tableHeading" layout layout-padding flex>
						<span flex>Name</span>
						<span flex>Occupation</span>
						<span flex>Company</span>
						<span flex>Mobile No.</span>
						<span flex>Email Address</span>
					</div>
					<md-list class="md-whiteframe-2dp">
						<md-list-item ng-repeat="charRef in member.characterReferences">
							<div flex layout layout-padding>
								<span flex>{{ charRef.name }}</span>
								<span flex>{{ charRef.occupation }}</span>
								<span flex>{{ charRef.company }}</span>
								<span flex>{{ charRef.mobile }}</span>
								<span flex>{{ charRef.email }}</span>
							</div>
							<md-divider ng-if="!$last"></md-divider>
						</md-list-item>
					</md-list>
				</div>

				<!-- training events -->
				<div layout="column">
					<div class="md-title" layout layout-padding layout-align="start center">
						Training Events/Schedules
						<small>
							<span ng-if="member.trainingEvents.length == 0">(No scheduled trainings found)</span>
						</small>
					</div>
					<div class="tableHeading" layout layout-padding flex>
						<span flex>Date</span>
						<span flex>Location</span>
						<span flex>Attendees/Slot</span>
						<span flex>Remark</span>
						<span flex="5"></span>
					</div>
					<md-list class="md-whiteframe-2dp">
						<md-list-item ng-repeat="trainingEvent in member.trainingEvents | orderBy:'start'">
							<div flex layout layout-padding>
								<span flex>{{ trainingEvent.trainingEvent.start | amDateFormat:'MMMM D, YYYY' }} - {{ trainingEvent.trainingEvent.end | amDateFormat:'MMMM D, YYYY' }}</span>
								<span flex>{{ trainingEvent.trainingEvent.location }}</span>
								<span flex>{{ trainingEvent.trainingEvent.attendees.length }}/{{ trainingEvent.trainingEvent.slots }}</span>
								<span flex>{{ trainingEvent.remark }}</span>
								<span flex="5">
									<md-button ng-click="trainingEventInfo(trainingEvent.trainingEvent)" class="md-icon-button md-primary md-hue-1" aria-label="Show full info">
										<md-icon class="mdi mdi-information"></md-icon>
										<md-tooltip md-direction="left">Click for more info</md-tooltip>
									</md-button>
								</span>
							</div>
							<md-divider ng-if="!$last"></md-divider>
						</md-list-item>
					</md-list>
				</div>

			</div>
		</div>
	</form>
</md-content>


</div> <!-- closing div for loading indicator -->