<div cg-busy="loadingProperties">

<div layout layout-align="end center" id="toolbar">
	<div flex class="md-toolbar-tools">
		<span class="md-title">List of Members</span>
	</div>
	<div>
		<md-input-container md-no-float>
			<md-select ng-model="memberListView" ng-change="loadMembers()" required placeholder="Select View">
				<md-option value="member">Members</md-option>
				<md-option value="admin">Admins</md-option>
				<md-option value="lineLeader">Line Leaders</md-option>
			</md-select>
		</md-input-container>
	</div>
	<div>
		<md-input-container md-no-float class="md-primary md-hue-1">
			<input ng-model="searchKeyword" autofocus type="text" placeholder="Search here..." />
		</md-input-container>
	</div>
	<div flex="10">
		<md-button ng-click="addMember()" class="md-icon-button md-primary md-hue-1" aria-label="Add new member">
			<md-icon class="mdi mdi-plus"></md-icon>
			<md-tooltip md-direction="left">Add new member</md-tooltip>
		</md-button>
		<md-button ng-click="reloadData()" class="md-icon-button md-primary md-hue-1" aria-label="Reload Data">
			<md-icon class="mdi mdi-refresh"></md-icon>
			<md-tooltip md-direction="left">Reload Data</md-tooltip>
		</md-button>
	</div>
</div>


<md-content id="memberList" class="container" layout layout-align="center start">

	<md-list flex="90">
		<md-list-item ng-if="members.length == 0">No members found.</md-list-item>
		<md-list-item class="md-3-line am-fade-and-slide-bottom" ng-repeat="(index, member) in members" ng-hide="member.id == user.memberId" ng-click="memberInfo(member)">
			<div layout flex>
				<img ng-src="/worktrustedV2/app/assets/profilePhotos/{{ member.photo }}" class="md-avatar" />
				<div class="md-list-item-text" layout="column">
					<h3>{{ member.firstName }} {{ member.middleName }} {{ member.lastName }}</h3>
					<p>{{ member.membershipDate | amDateFormat:'MMMM D, YYYY h:mm a' }}</p>
					<p>{{ member.street }}, {{ member.barangay }}, {{ member.city }}, {{ member.province }}</p>
				</div>
			</div>
			<div layout="column" layout-align="center end" flex class="md-list-item-text">
				<p>{{ member.civilStatus }}</p>
				<p>{{ member.gender }}</p>
				<p>{{ member.age }} years old</p>
			</div>
			<div flex="5">
				<p></p>
				<md-menu>
					<span ng-click="$mdOpenMenu($event)">
						<md-button class="md-icon-button md-primary md-hue-1" aria-label="Menu">
							<md-icon class="mdi mdi-dots-vertical"></md-icon>
						</md-button>
					</span>
					<md-menu-content width="3">
						<md-menu-item>
							<md-button ng-click="memberInfo(member)">
								<md-icon class="mdi mdi-information md-primary md-hue-1"></md-icon>
								&nbsp;
								View Info
							</md-button>
						</md-menu-item>
						<md-menu-item>
							<md-button>
								<md-icon class="mdi mdi-account-remove md-primary md-hue-1"></md-icon>
								&nbsp;
								...
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
				<p></p>
			</div>
			<!-- <md-divider ng-if="!$last"></md-divider> -->
		</md-list-item>
	</md-list>

</md-content>


</div> <!-- closing div for loading indicator -->