<div cg-busy="loadingProperties">

<div layout layout-align="end center" id="toolbar">
	<div flex class="md-toolbar-tools">
		<div>
			<md-button ng-click="backToJobOpeningList()" class="md-icon-button md-primary md-hue-1" aria-label="Back">
				<md-icon class="mdi mdi-arrow-left"></md-icon>&emsp;
				<md-tooltip>Back to List of Job Opening</md-tooltip>	
			</md-button>
		</div>
		<span class="md-title">Job Opening Info</span>
	</div>

	<!-- button icons -->
	<div flex="5">
		<md-button ng-click="closeForApplications()" class="md-icon-button md-primary md-hue-1" aria-label="Schedule for a training">
			<md-icon class="mdi mdi-account-remove"></md-icon>
			<md-tooltip md-direction="left">Close for applications</md-tooltip>
		</md-button>
	</div>
	<div flex="5">
		<md-button ng-click="jobOpeningEdit()" class="md-icon-button md-primary md-hue-1" aria-label="editJobOpening">
			<md-icon class="mdi mdi-pencil"></md-icon>
			<md-tooltip md-direction="left">Edit job opening's info</md-tooltip>
		</md-button>
	</div>
</div>

<md-content id="addJobOpening" class="container" layout layout-align="center start">
	<form name="addJobOpeningForm" flex layout="col" layout-padding>
		<div flex layout="column" layout-padding layout-wrap>

			<div layout="column">
				<div class="md-title" layout layout-padding layout-align="start center">
					Basic Info<small class="subTitle">(overview)</small>
				</div>
				<div layout="column" layout-padding class="md-whiteframe-2dp">
					<md-input-container>
						<label>Job Title</label>
						<input ng-model="jobOpening.title" name="title" readonly />
					</md-input-container>

					<md-input-container>
						<label>Description</label>
						<textarea ng-model="jobOpening.description" name="description" readonly></textarea>
					</md-input-container>

					<md-input-container>
						<label>Number of Slots Available</label>
						<input ng-model="jobOpening.slots" name="slots" readonly />
					</md-input-container>

					<md-input-container>
						<label>Hiring until</label>
						<input name="validityDate" value="{{ jobOpening.validityDate | amDateFormat:'MMMM D, YYYY' }}" readonly />
					</md-input-container>

					<md-input-container flex>
						<label>Salary Range</label>
						<input value="{{ jobOpening.minSalary }} - {{ jobOpening.maxSalary }}" readonly />
					</md-input-container>

					<md-input-container>
						<label>Employment Type</label>
						<input value="{{ jobOpening.employmentType }}" readonly />
					</md-input-container>

					<md-input-container>
						<label>Industry</label>
						<input value="{{ jobOpening.industryType }}" readonly />
					</md-input-container>

				</div>
			</div>


			<div layout="column">
				<div class="md-title" layout layout-padding layout-align="start center">
					Applicants<small ng-if="jobOpening.applicants.length == 0" class="subTitle">(No applicants found)</small>
				</div>
				<div layout="column" layout-padding class="md-whiteframe-2dp">
					<md-list flex="90">
						<md-list-item ng-if="jobOpening.applicants.length == 0">No applicants found.</md-list-item>
						<md-list-item class="md-3-line am-fade-and-slide-bottom" ng-repeat="(index, applicant) in jobOpening.applicants" ng-click="applicantInfo(applicant)">
							<div layout flex>
								<img ng-src="/worktrustedV2/app/assets/profilePhotos/{{ applicant.member.photo }}" class="md-avatar" />
								<div class="md-list-item-text" layout="column">
									<h3>{{ applicant.member.firstName }} {{ applicant.member.middleName }} {{ applicant.member.lastName }}</h3>
									<p>
										{{ applicant.date | amDateFormat:'MMMM D, YYYY h:mm a' }}
									</p>
									<p>{{ applicant.member.street }}, {{ applicant.member.barangay }}, {{ applicant.member.city }}, {{ applicant.member.province }}</p>
								</div>
							</div>
							<div layout="column" layout-align="center end" flex class="md-list-item-text">
								<p>{{ applicant.member.civilStatus }} | {{ applicant.member.gender }}</p>
								<p>{{ applicant.status }}</p>
								<p>{{ applicant.member.age }} years old</p>
							</div>
							<div flex="5">
								<p></p>
								<md-menu>
									<span ng-click="$mdOpenMenu($event)">
										<md-button class="md-icon-button md-primary md-hue-1" aria-label="Menu">
											<md-icon class="mdi mdi-dots-vertical"></md-icon>
										</md-button>
									</span>
									<md-menu-content width="3">
										<md-menu-item>
											<md-button ng-click="applicantInfo(applicant.member)">
												<md-icon class="mdi mdi-information md-primary md-hue-1"></md-icon>
												&nbsp;
												View Info
											</md-button>
										</md-menu-item>
										<md-menu-item>
											<md-button>
												<md-icon class="mdi mdi-account-remove md-primary md-hue-1"></md-icon>
												&nbsp;
												...
											</md-button>
										</md-menu-item>
									</md-menu-content>
								</md-menu>
								<p></p>
							</div>
							<!-- <md-divider ng-if="!$last"></md-divider> -->
						</md-list-item>
					</md-list>
				</div>
			</div>
			
		</div>
	</form>
</md-content>


</div> <!-- closing div for loading indicator -->