<md-dialog cg-busy="loadingProperties" layout="column" flex="60" style="max-height: 80%">
	

	<!-- toolbar -->
	<md-toolbar layout layout-align="end center">
		<div flex class="md-toolbar-tools">
			<span flex class="md-title">Schedule/Event Info</span>
			<div>
				<md-button ng-click="editEvent()" class="md-icon-button" aria-label="Edit">
					<md-icon class="mdi mdi-pencil"></md-icon>
					<md-tooltip>Edit</md-tooltip>
				</md-button>
				<md-button ng-click="deleteEvent()" class="md-icon-button" aria-label="Delete">
					<md-icon class="mdi mdi-delete"></md-icon>
					<md-tooltip>Delete</md-tooltip>
				</md-button>
			</div>
		</div>
	</md-toolbar>

	
	<md-dialog-content layout="column" layout-padding>
		<div layout="column" layout-padding>
			<md-input-container>
				<label>Title</label>
				<input ng-model="eventInfo.title" readonly />
			</md-input-container>

			<md-input-container>
				<label>Type</label>
				<input value="Membership Applicant Interview" readonly />
			</md-input-container>

			<md-input-container>
				<label>Start Date</label>
				<input value="{{ eventInfo.start | amDateFormat:'MMMM D, YYYY' }}" readonly />
			</md-input-container>

			<md-input-container>
				<label>End Date</label>
				<input value="{{ eventInfo.end | amDateFormat:'MMMM D, YYYY' }}" readonly />
			</md-input-container>
	
			
			<br><br>


			<div class="md-title" layout layout-padding layout-align="start center">
				Applicants
				<small ng-if="eventInfo.applicants.length == 0" class="subTitle">(No applicants found)</small>
				<small ng-if="eventInfo.applicants.length" class="subTitle">({{ eventInfo.applicants.length }} Attendees)</small>
			</div>
			<md-list flex="90">
				<md-list-item ng-click="applicantInfo(applicantInterview.applicant)" class="md-3-line am-fade-and-slide-bottom" ng-repeat="applicantInterview in eventInfo.applicants">
					<div layout flex>
						<img ng-src="/worktrustedV2/app/assets/profilePhotos/{{ applicantInterview.applicant.photo }}" class="md-avatar" />
						<div class="md-list-item-text" layout="column">
							<h3>{{ applicantInterview.applicant.firstName }} {{ applicantInterview.applicant.middleName }} {{ applicantInterview.applicant.lastName }}</h3>
							<p>{{ applicantInterview.applicant.applicationDate | amDateFormat:'MMMM D, YYYY h:mm a' }} <small>(Application Date)</small></p>
							<p>{{ applicantInterview.applicant.street }}, {{ applicantInterview.applicant.barangay }}, {{ applicantInterview.applicant.city }}, {{ applicantInterview.applicant.province }}</p>
						</div>
					</div>
					<div layout="column" layout-align="center end" flex class="md-list-item-text">
						<p>{{ applicantInterview.applicant.civilStatus }}</p>
						<p>{{ applicantInterview.applicant.gender }}</p>
						<p>{{ applicantInterview.applicant.age }} years old</p>
					</div>
				</md-list-item>
			</md-list>
		</div>

		

	</md-dialog-content>

	<md-dialog-actions>
		<md-button ng-click="dismiss()" class="md-primary">Close</md-button>
	</md-dialog-actions>


</md-dialog>

