<div cg-busy="loadingProperties">

<div layout layout-align="end center" id="toolbar">
	<div flex class="md-toolbar-tools">
		<span class="md-title">Manage Schedules/Events</span>
	</div>
	<div>
		<md-input-container md-no-float>
			<md-select ng-model="scheduleView" ng-change="changeScheduleView()" name="scheduleView" required placeholder="Select Events">
				<md-option ng-repeat="option in scheduleOptions" ng-value="option.value">
					<md-icon class="mdi mdi-checkbox-blank-circle" style="color: {{ option.color }}"></md-icon>
					{{ option.name }}
				</md-option>
			</md-select>
		</md-input-container>
	</div>
	<md-list flex="10" class="md-toolbar-tools">
		<md-list-item>
			<md-button ng-click="showAddSchedule()" class="md-icon-button md-primary md-hue-1" aria-label="Search Applicant">
				<md-icon class="mdi mdi-plus"></md-icon>
				<md-tooltip md-direction="left">Add schedule/event</md-tooltip>
			</md-button>
		</md-list-item>
		<md-list-item>
			<md-button ng-click="reloadEvents()" class="md-icon-button md-primary md-hue-1" aria-label="Reload Data">
				<md-icon class="mdi mdi-refresh"></md-icon>
				<md-tooltip md-direction="left">Reload Data</md-tooltip>
			</md-button>
		</md-list-item>
	</md-list>
</div>



<md-content id="scheduling" class="container" layout layout-padding>
	<br><br><br><br>

	<div ui-calendar="uiConfig.mainCalendar" ng-model="eventSources" calendar="mainCalendar"></div>
</md-content>


</div> <!-- closing div for loading indicator -->

