<div class="navbarAside">
	<div class="modal-header">
		<img ng-click="dismiss(activeLink)" src="/worktrustedV2/app/assets/images/android-arrow-forward.svg" alt="close-sidenav" />
	</div>
	<div class="modal-body">
		<ul class="nav nav-pills nav-stacked text-left">
			<li data-target="#home" bs-scrollspy ng-class="{ 'active': activeLink === 'home' }"><a ng-click="changeActiveLink('home'); dismiss()">Home</a></li>
			<li data-target="#ourFocus" bs-scrollspy ng-class="{ 'active': activeLink === 'ourFocus' }"><a ng-click="changeActiveLink('ourFocus'); dismiss()">Our Focus</a></li>
			<li data-target="#services" bs-scrollspy ng-class="{ 'active': activeLink === 'services' }"><a ng-click="changeActiveLink('services'); dismiss()">Services</a></li>
			<li data-target="#contactUs" bs-scrollspy ng-class="{ 'active': activeLink === 'contactUs' }"><a ng-click="changeActiveLink('contactUs'); dismiss()">Contact Us</a></li>
		</ul>
	</div>
</div>