<md-dialog cg-busy="loadingProperties" layout="column" flex="60" style="max-height: 80%">
		
	<!-- toolbar -->
	<md-toolbar layout layout-align="end center">
		<div flex class="md-toolbar-tools">
			<span flex class="md-title">Select Schedule/Event</span>
			<div>
				<md-button ng-click="addEvent()" class="md-icon-button" aria-label="Add/Create new schedule/event">
					<md-icon class="mdi mdi-plus"></md-icon>
					<md-tooltip>Add/Create new schedule/event</md-tooltip>
				</md-button>
			</div>
		</div>
	</md-toolbar>


	<md-dialog-content layout="column" layout-padding>
		<!-- list of schedules -->
		<div layout>
			<span ng-if="interviewSchedules.length == 0" class="md-subhead">No schedules available. <a ng-click="addEvent()">Create one here</a></span>

			<md-list>
				<md-subheader class="md-no-sticky">Select a schedule</md-subheader>
				<md-radio-group ng-model="selectedSchedule">
					<md-list-item ng-repeat="interview in interviewSchedules" class="md-2-line">
						<div class="md-list-item-text" layout="column">
							<md-radio-button ng-value="interview.id">
								<h4>Schedule: {{ interview.start | amDateFormat:'MMMM D, YYYY' }} - {{ interview.end | amDateFormat:'MMMM D, YYYY' }}</h4>
								<h4>
									Attendees: {{ interview.applicants.length }} attendees
									<md-tooltip ng-if="interview.applicants.length > 0">
										<span ng-repeat="applicant in interview.applicants">{{ $index + 1 }}. {{ applicant.applicant.firstName }} {{ applicant.applicant.lastName }}<br></span>
									</md-tooltip>
								</h4>
							</md-radio-button>
						</div>
					</md-list-item>
				</md-radio-group>
			</md-list>
		</div>

	</md-dialog-content>

	<md-dialog-actions>
		<md-button class="md-primary" ng-click="dismiss()">Close</md-button>
		<md-button ng-click="chooseEvent()" ng-disabled="selectedSchedule == ''" class="md-primary">Select</md-button>
	</md-dialog-actions>

</md-dialog>

