<div cg-busy="loadingProperties">

<div layout layout-align="end center" id="toolbar">
	<div flex class="md-toolbar-tools">
		<span class="md-title">List of Job Openings</span>
	</div>
	<div>
		<md-input-container md-no-float class="md-primary md-hue-1">
			<input ng-model="filters.search" ng-keyup="searchChange()" autofocus type="text" placeholder="Search here..." />
		</md-input-container>
	</div>
	<div flex="20">
		<md-button ng-click="showAdvancedSearch()" class="md-icon-button md-primary md-hue-1" aria-label="Advanced Search">
			<md-icon class="mdi mdi-magnify"></md-icon>
			<md-tooltip md-direction="left">Advanced Search</md-tooltip>
		</md-button>
		<md-button ng-click="loadJobApplications()" class="md-icon-button md-primary md-hue-1" aria-label="Show all your ongoing job applications">
			<md-icon class="mdi mdi-email-variant"></md-icon>
			<md-tooltip md-direction="left">Show all your ongoing job applications</md-tooltip>
		</md-button>
		<md-button ng-click="clearFiltersAndReload()" class="md-icon-button md-primary md-hue-1" aria-label="Clear filters and show all job openings">
			<md-icon class="mdi mdi-notification-clear-all"></md-icon>
			<md-tooltip md-direction="left">Clear filters and show all job openings</md-tooltip>
		</md-button>
		<md-button ng-click="reloadData()" class="md-icon-button md-primary md-hue-1" aria-label="Reload Data">
			<md-icon class="mdi mdi-refresh"></md-icon>
			<md-tooltip md-direction="left">Reload Data</md-tooltip>
		</md-button>
	</div>
</div>


<md-content id="jobOpeningList" class="container" layout layout-align="center start">

	<md-list flex="90">
		<md-list-item ng-if="jobOpenings.length == 0">No job openings found.</md-list-item>
		<md-list-item class="md-3-line am-fade-and-slide-bottom" ng-repeat="(index, opening) in jobOpenings | orderBy:'-date'" ng-click="jobOpeningInfo(opening)" title="{{ opening.description }}">
			<div layout flex>
				<img ng-src="/worktrustedV2/app/assets/profilePhotos/{{ opening.company.photo }}" class="md-avatar" />
				<div class="md-list-item-text" layout="column">
					<h3><b ng-if="applicationCheck(opening) != false">(Application Sent)</b>{{ opening.title }}</h3>
					<p>Posted by: {{ opening.company.name }}</p>
					<p>Valid until : {{ opening.validityDate | amDateFormat:'MMMM D, YYYY h:mm a' }}</p>
				</div>
			</div>
			<div layout="column" layout-align="center end" flex class="md-list-item-text">
				<p>Salary range: {{ opening.minSalary }} - {{ opening.maxSalary }}</p>
				<p>Type: {{ opening.employmentType }} | {{ opening.industryType }}</p>
				<p>{{ opening.slots }} slots available</p>
			</div>
			<div flex="5">
				<p></p>
				<md-menu>
					<span ng-click="$mdOpenMenu($event)">
						<md-button class="md-icon-button md-primary md-hue-1" aria-label="Menu">
							<md-icon class="mdi mdi-dots-vertical"></md-icon>
						</md-button>
					</span>
					<md-menu-content width="3">
						<md-menu-item>
							<md-button ng-click="jobOpeningInfo(opening)">
								<md-icon class="mdi mdi-information md-primary md-hue-1"></md-icon>
								&nbsp;
								View Info
							</md-button>
						</md-menu-item>
						<md-menu-item>
							<md-button>
								<md-icon class="mdi mdi-account-remove md-primary md-hue-1"></md-icon>
								&nbsp;
								...
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
				<p></p>
			</div>
			<!-- <md-divider ng-if="!$last"></md-divider> -->
		</md-list-item>
	</md-list>

</md-content>


</div> <!-- closing div for loading indicator -->