<div cg-busy="loadingProperties">

<div layout layout-align="end center" id="toolbar">
	<div flex class="md-toolbar-tools">
		<div>
			<md-button ng-click="backToJobOpeningList()" class="md-icon-button md-primary md-hue-1" aria-label="Back">
				<md-icon class="mdi mdi-arrow-left"></md-icon>&emsp;
				<md-tooltip>Back to List of Job Opening</md-tooltip>	
			</md-button>
		</div>
		<span class="md-title">Job Opening Info</span>
	</div>

	<!-- button icons -->
	<div ng-if="!jobApplication.status" flex="5">
		<md-button ng-click="sendApplicationConfirm()" class="md-icon-button md-primary md-hue-1" aria-label="Send application/Apply">
			<md-icon class="mdi mdi-email-variant"></md-icon>
			<md-tooltip md-direction="left">Send application/Apply</md-tooltip>
		</md-button>
	</div>
	<div ng-if="jobApplication.status" flex="5">
		<md-button ng-click="cancelApplicationConfirm()" class="md-icon-button md-primary md-hue-1" aria-label="Cancel job application">
			<md-icon class="mdi mdi-alert-octagon"></md-icon>
			<md-tooltip md-direction="left">Cancel job application</md-tooltip>
		</md-button>
	</div>
</div>

<md-content id="addJobOpening" class="container" layout layout-align="center start">
	<form name="addJobOpeningForm" flex layout="col" layout-padding>
		<div flex layout="column" layout-padding layout-wrap>

			<div layout="column">
				<div class="md-title" layout layout-padding layout-align="start center">
					Basic Info<small class="subTitle">(overview)</small>
				</div>
				<div layout="row" layout-padding class="md-whiteframe-2dp">
					<div layout="column" layout-padding flex>
						<span class="md-title">{{ jobOpening.title }}</span>
						<span layout layout-wrap>{{ jobOpening.description }}</span>
						<span>{{ jobOpening.minSalary }} - {{ jobOpening.maxSalary }} salary range</span>
						<span>{{ jobOpening.employmentType }} - {{ jobOpening.industryType }}</span>
					</div>

					<!-- serves as spacer -->
					<div flex="15"></div>

					<div layout="column" layout-padding flex="30">
						<span ng-if="jobApplication == false" class="md-title">&nbsp;</span>
						<span ng-if="jobApplication != false">Application sent - {{ jobApplication.status }}</span>
						<span>
							Posted by <a href="" ng-click="showCompanyJobOpenings()">{{ jobOpening.company.name }}</a>
							({{ jobOpening.date | amDateFormat:'MMMM D, YYYY' }})
							<md-tooltip>Click to show {{ jobOpening.company.name }}'s job openings</md-tooltip>
						</span>
						<span>{{ jobOpening.slots }} slots still available ({{ jobOpening.applicants.length }} applicants)</span>
						<span>Open until {{ jobOpening.validityDate | amDateFormat:'MMMM D, YYYY' }}</span>
					</div>
				</div> <!-- md-whiteframe closing -->
			</div>

			
		</div>
	</form>
</md-content>


</div> <!-- closing div for loading indicator -->