@import '../core/variables.scss';



div.navbar.navbar-default.applyMembership {
	background-color: palette(Purple);

	button.extra-actions {
		color: #FFF;
		margin-left: 2px;
		margin-right: 2px;
	}
	
	.navbar-nav {
		li a {
			color: #EBEBEB;
			cursor: pointer;
		}

		li.active a{
			color: #FFF;
			background-color: palette(Deep Orange);
		}
	}
}



div.applyMembershipForm {
	h5 {
		color: palette(Deep Orange, 700)
	}

	.profilePicturePreview {
		height: 100%;
		width: 100%;
		max-height: 2in;
		max-width: 2in;
	}

	.pictureFileButton {
		max-width: 2in;
		margin-top: 10px;
	}
}