@import '../core/variables.scss';


// DEFAULT HOME
#home {
	background: url("/worktrustedV2/app/assets/images/national_currencies.jpg");
	background-size: cover;
	background-attachment: fixed;
	height: 101vh;
	display: flex;
	align-items: center;
	justify-content: center;

	.jumbotron h1 {
		text-transform: uppercase;
		font-weight: bold;
		color: #eeeeee;
	}

	.jumbotron.header {
		text-align: center;
		background-color: rgba(0, 0, 0, .5);
		color: #eeeeee;
		border-radius: 5px;
		padding: 30px;

		button.apply,
		button.apply:hover {
			background-color: palette(Deep Orange);
			color: #fff;
		}
	}
}

// media query for home default
@media (max-width: $smView) {
	#home {
		.jumbotron.header {
			border-radius: 0px;
			width: 100%;
			padding: 10px;

			h1 {
				font-size: 25pt;
			}
		}
	}
}





// OUR FOCUS
#ourFocus {
	background-color: #eee;
	min-height: 100vh;

	.jumbotron {
		background: none;
		box-shadow: none;		

		h1, h3 {
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
		}

		p {
			text-indent: 30px;
			font-size: 1.1em;
			text-align: justify;
		}
	}

	.thumbs {
		text-align: center;
		min-height: 500px;
		padding-bottom: 50px;

		img {
			max-height: 100%;
			max-width: 100%;
			padding: 0 30px 0 30px;
		}

		h3 {
			text-transform: uppercase;
			font-weight: bold;
		}

		p {
			text-indent: 30px;
			font-size: 1.1em;
			text-align: justify;
		}
	}
}


// media query for our focus
@media (max-width: $xsView) {
	#ourFocus {
		padding-top: 20px;

		.thumbs {
			min-height: 350px;

			img {
				max-width: 75%;
				max-height: 75%;
			}
		}
	}
}






// SERVICES
#services {
	@extend #ourFocus;
	background-color: #212121;
	color: #fff;
	text-align: center;
	
	.jumbotron {
		p {
			text-align: center;
		}

		p span {
			font-weight: bold;
			color: palette(Deep Orange);
		}
	}

	h1, h3 {
		color: #fff;
	}

	.thumbs {
		h3 {
			color: #fff;
		}

		p {
			text-align: center;
			text-indent: 0px;
		}
	}
}


// media query for #services
@media (max-width: $smView) {
	#services {
		.thumbs {
			img {
				max-width: 50%;
				max-height: 50%;
			}
		}
	}
}

@media (max-width: $xsView) {
	#services {
		padding-top: 20px;

		.thumbs {
			img {
				max-width: 75%;
				max-height: 75%;
			}
		}
	}
}







// CONTACT US/GET IN TOUCH
#contactUs {	
	padding-top: 100px 0px 100px 0px;
	background: url("/worktrustedV2/app/assets/images/national_currencies.jpg");
	background-size: cover;
	background-attachment: fixed;
	min-height: 101vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	
	div.container-fluid {
		background-color: #eee;
		position: relative;
		border: 1px solid $tealPrimary;
		width: 90%;
		padding: 0px 30px 30px 30px;
		margin-top: 20px;
		margin-bottom: 20px;

		fieldset {
			color: red;
			background-color: #eee;

			.jumbotron {
				padding-top: 0px;
				padding-left: 0px;
				background-color: #eee;

				p {
					color: palette(Deep Orange);
				}
			}
		
			div.row div {
				color: $textPrimaryColor;
			}
		}

		button.submitFeedback,
		button.submitFeedback:hover {
			background-color: palette(Deep Orange);
			color: #fff;
		}
	}
}









// FOOTER
#homeFooter {
	min-height: 50px;
	background-color: #212121;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;


	div.container-fluid {
		color: #fff;
		width: 100%;
		padding: 0 20px 0 20px;
	}
}