@import '../core/variables.scss';



/* NAVBAR */
div.navbar.navbar-default {
	background-color: rgba(0, 0, 0, .5);

	.navbar-header,
	button.extra-actions {
		color: #fff;
	}
	
	.btn-accent.navbar-toggle:hover,
	.btn-accent.navbar-toggle:focus {
		background-color: palette(Deep Orange);
		color: #FFF;
	}

	.navbar-nav {
		li a {
			color: #EBEBEB;
			cursor: pointer;
		}

		li.active a {
			color: #fff;
			background-color: palette(Deep Orange);
		}
	}
}


// styles for sideNavbar
div.navbarAside {
	min-width: 200px;

	.modal-header {
		background-color: $tealPrimary;
		height: 50px;

		img {
			height: 25px;
			width: 25px;
		}
	}

	div.modal-body {
		padding: 10px 0 0 0;

		ul li a {
			color: $tealPrimary;
		}

		.nav-pills > li.active > a {
			background-color: palette(Deep Orange);
			border-radius: 0px;
			color: #FFFFFF;
		}
	}
} 