/* VARIABLES */
/**
 * google-material-color v1.2.6
 * https://github.com/danlevan/google-material-color
 */
div.navbar.navbar-default.applyMembership {
  background-color: #9C27B0; }
  div.navbar.navbar-default.applyMembership button.extra-actions {
    color: #FFF;
    margin-left: 2px;
    margin-right: 2px; }
  div.navbar.navbar-default.applyMembership .navbar-nav li a {
    color: #EBEBEB;
    cursor: pointer; }
  div.navbar.navbar-default.applyMembership .navbar-nav li.active a {
    color: #FFF;
    background-color: #FF5722; }

div.applyMembershipForm h5 {
  color: #E64A19; }

div.applyMembershipForm .profilePicturePreview {
  height: 100%;
  width: 100%;
  max-height: 2in;
  max-width: 2in; }

div.applyMembershipForm .pictureFileButton {
  max-width: 2in;
  margin-top: 10px; }

/* VARIABLES */
/**
 * google-material-color v1.2.6
 * https://github.com/danlevan/google-material-color
 */
#home {
  background: url("/worktrustedV2/app/assets/images/national_currencies.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 101vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  #home .jumbotron h1 {
    text-transform: uppercase;
    font-weight: bold;
    color: #eeeeee; }
  #home .jumbotron.header {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #eeeeee;
    border-radius: 5px;
    padding: 30px; }
    #home .jumbotron.header button.apply,
    #home .jumbotron.header button.apply:hover {
      background-color: #FF5722;
      color: #fff; }

@media (max-width: 992px) {
  #home .jumbotron.header {
    border-radius: 0px;
    width: 100%;
    padding: 10px; }
    #home .jumbotron.header h1 {
      font-size: 25pt; } }

#ourFocus, #services {
  background-color: #eee;
  min-height: 100vh; }
  #ourFocus .jumbotron, #services .jumbotron {
    background: none;
    box-shadow: none; }
    #ourFocus .jumbotron h1, #services .jumbotron h1, #ourFocus .jumbotron h3, #services .jumbotron h3 {
      text-align: center;
      text-transform: uppercase;
      font-weight: bold; }
    #ourFocus .jumbotron p, #services .jumbotron p {
      text-indent: 30px;
      font-size: 1.1em;
      text-align: justify; }
  #ourFocus .thumbs, #services .thumbs {
    text-align: center;
    min-height: 500px;
    padding-bottom: 50px; }
    #ourFocus .thumbs img, #services .thumbs img {
      max-height: 100%;
      max-width: 100%;
      padding: 0 30px 0 30px; }
    #ourFocus .thumbs h3, #services .thumbs h3 {
      text-transform: uppercase;
      font-weight: bold; }
    #ourFocus .thumbs p, #services .thumbs p {
      text-indent: 30px;
      font-size: 1.1em;
      text-align: justify; }

@media (max-width: 768px) {
  #ourFocus, #services {
    padding-top: 20px; }
    #ourFocus .thumbs, #services .thumbs {
      min-height: 350px; }
      #ourFocus .thumbs img, #services .thumbs img {
        max-width: 75%;
        max-height: 75%; } }

#services {
  background-color: #212121;
  color: #fff;
  text-align: center; }
  #services .jumbotron p {
    text-align: center; }
  #services .jumbotron p span {
    font-weight: bold;
    color: #FF5722; }
  #services h1, #services h3 {
    color: #fff; }
  #services .thumbs h3 {
    color: #fff; }
  #services .thumbs p {
    text-align: center;
    text-indent: 0px; }

@media (max-width: 992px) {
  #services .thumbs img {
    max-width: 50%;
    max-height: 50%; } }

@media (max-width: 768px) {
  #services {
    padding-top: 20px; }
    #services .thumbs img {
      max-width: 75%;
      max-height: 75%; } }

#contactUs {
  padding-top: 100px 0px 100px 0px;
  background: url("/worktrustedV2/app/assets/images/national_currencies.jpg");
  background-size: cover;
  background-attachment: fixed;
  min-height: 101vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }
  #contactUs div.container-fluid {
    background-color: #eee;
    position: relative;
    border: 1px solid #009688;
    width: 90%;
    padding: 0px 30px 30px 30px;
    margin-top: 20px;
    margin-bottom: 20px; }
    #contactUs div.container-fluid fieldset {
      color: red;
      background-color: #eee; }
      #contactUs div.container-fluid fieldset .jumbotron {
        padding-top: 0px;
        padding-left: 0px;
        background-color: #eee; }
        #contactUs div.container-fluid fieldset .jumbotron p {
          color: #FF5722; }
      #contactUs div.container-fluid fieldset div.row div {
        color: rgba(0, 0, 0, 0.87); }
    #contactUs div.container-fluid button.submitFeedback,
    #contactUs div.container-fluid button.submitFeedback:hover {
      background-color: #FF5722;
      color: #fff; }

#homeFooter {
  min-height: 50px;
  background-color: #212121;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; }
  #homeFooter div.container-fluid {
    color: #fff;
    width: 100%;
    padding: 0 20px 0 20px; }

/* VARIABLES */
/**
 * google-material-color v1.2.6
 * https://github.com/danlevan/google-material-color
 */
div.modal-header {
  background-color: #9C27B0;
  color: #FFFFFF; }

/* VARIABLES */
/**
 * google-material-color v1.2.6
 * https://github.com/danlevan/google-material-color
 */
/* NAVBAR */
div.navbar.navbar-default {
  background-color: rgba(0, 0, 0, 0.5); }
  div.navbar.navbar-default .navbar-header,
  div.navbar.navbar-default button.extra-actions {
    color: #fff; }
  div.navbar.navbar-default .btn-accent.navbar-toggle:hover,
  div.navbar.navbar-default .btn-accent.navbar-toggle:focus {
    background-color: #FF5722;
    color: #FFF; }
  div.navbar.navbar-default .navbar-nav li a {
    color: #EBEBEB;
    cursor: pointer; }
  div.navbar.navbar-default .navbar-nav li.active a {
    color: #fff;
    background-color: #FF5722; }

div.navbarAside {
  min-width: 200px; }
  div.navbarAside .modal-header {
    background-color: #009688;
    height: 50px; }
    div.navbarAside .modal-header img {
      height: 25px;
      width: 25px; }
  div.navbarAside div.modal-body {
    padding: 10px 0 0 0; }
    div.navbarAside div.modal-body ul li a {
      color: #009688; }
    div.navbarAside div.modal-body .nav-pills > li.active > a {
      background-color: #FF5722;
      border-radius: 0px;
      color: #FFFFFF; }

/* VARIABLES */
/**
 * google-material-color v1.2.6
 * https://github.com/danlevan/google-material-color
 */
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  -webkit-box-shadow: inset 0 -2px 0 #009688;
  box-shadow: inset 0 -2px 0 #009688; }

input[type=text].form-control {
  font-size: 14px;
  line-height: 1; }

.navbar {
  min-height: 50px !important;
  border-radius: 0;
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.4); }
  .navbar button.extra-actions {
    margin: 10px 20px; }
  .navbar .navbar-nav > li > a, .navbar .navbar-brand {
    position: relative;
    display: flex;
    align-items: center;
    height: 50px; }
    .navbar .navbar-nav > li > a img, .navbar .navbar-brand img {
      max-height: 40px;
      max-width: 40px; }
    .navbar .navbar-nav > li > a h1.logo-text, .navbar .navbar-brand h1.logo-text {
      font-size: small;
      margin-bottom: 20px;
      margin-left: 5px;
      width: 50%;
      font-weight: bold;
      color: #FFF; }
  .navbar .navbar-header {
    color: #FFF; }
    .navbar .navbar-header button.navbar-toggle,
    .navbar .navbar-header button.extra-actions {
      color: #FFF;
      border-color: #FFF; }
      .navbar .navbar-header button.navbar-toggle .icon-bar,
      .navbar .navbar-header button.extra-actions .icon-bar {
        background-color: #FFF; }

@media (max-width: 768px) {
  div.navbar.navbar-default {
    min-height: 50px; }
    div.navbar.navbar-default div.navbar-header button.navbar-toggle {
      margin: 8px 0 8px 0; }
    div.navbar.navbar-default div.navbar-header button.extra-actions {
      float: right; }
    div.navbar.navbar-default div.navbar-header .navbar-brand {
      padding: 5px 0px;
      max-height: 100%;
      max-width: 100%; } }

div.aside .aside-dialog .aside-header {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  color: #FFF; }
  div.aside .aside-dialog .aside-header img#close-right-aside {
    width: 25px;
    height: 25px;
    cursor: pointer; }

div.aside .aside-dialog .aside-content div.aside-body {
  padding: 25px 0 30px 0;
  overflow: auto; }
  div.aside .aside-dialog .aside-content div.aside-body ul li a {
    cursor: pointer; }
  div.aside .aside-dialog .aside-content div.aside-body .nav-pills > li.active > a {
    border-radius: 0;
    color: #FFF; }

.well {
  box-shadow: 0px 2px 5px #999999;
  background-color: #FFF;
  padding-top: 10px; }

label {
  font-weight: bold;
  line-height: 1; }

.panel-default .panel-heading {
  background-color: #009688;
  color: #FFF;
  font-size: 16px;
  line-height: 1; }

.panel-accent .panel-heading {
  background-color: #FF5722;
  color: #FFF;
  font-size: 16px;
  line-height: 1; }

.btn-default,
.btn-default:hover {
  background-color: #009688;
  color: #FFF; }

.btn-accent,
.btn-accent:hover,
.btn-accent:focus {
  background-color: #FF5722;
  color: #FFF; }

/* VARIABLES */
/**
 * google-material-color v1.2.6
 * https://github.com/danlevan/google-material-color
 */
body main.mainOutput {
  overflow: auto; }

div.tableHeading span {
  font-weight: bold;
  color: #666666; }

i.mdi {
  font-size: 18px; }

button#ng-camera-action, input#uploadPicture {
  display: none; }

::-webkit-scrollbar {
  width: 6px;
  height: 6px; }

::-webkit-scrollbar-track {
  /*background: rgba(0,0,0,0.1); */
  border-radius: 10px;
  /*border:1px gray solid;*/ }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.3);
  /*&:not(:active){
		background: none;
		border:0px solid rgba(0,0,0,0.5);
	}   */ }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3); }
  ::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5); }

img.circleAvatar {
  border-radius: 50%;
  height: 55px;
  width: 55px; }

.customMdInputContainer md-input-container {
  margin-top: 0px;
  margin-bottom: 0px; }

.customMdInputContainer md-select {
  margin-bottom: 20px; }

.customMdInputContainer md-datepicker {
  margin-bottom: 20px;
  position: relative; }
  .customMdInputContainer md-datepicker .md-datepicker-input-container {
    margin-left: 0; }
  .customMdInputContainer md-datepicker .md-datepicker-button.md-icon-button {
    margin-right: 0; }

md-tooltip .md-content {
  height: auto; }

div.navbar-margin-below {
  clear: 100%;
  width: 100%;
  height: 90px; }

div.customNavbar {
  height: 50px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1000;
  padding: 0px 0px 0px 0px; }
  div.customNavbar div.item {
    height: 50px; }
  div.customNavbar .logo {
    position: relative;
    display: flex;
    align-items: center; }
    div.customNavbar .logo img {
      max-height: 40px;
      max-width: 40px; }
    div.customNavbar .logo h1.logo-text {
      font-size: small;
      margin-bottom: 20px;
      margin-left: 5px;
      font-weight: bold;
      color: #FFF; }
