/* VARIABLES */
/**
 * google-material-color v1.2.6
 * https://github.com/danlevan/google-material-color
 */
#content {
  z-index: 10;
  padding-left: 60px;
  position: static; }
  #content .profile-circle-avatar {
    border-radius: 50%;
    box-shadow: 0px 0px 10px #CCCCCC;
    height: 1.5in;
    width: 1.5in; }
  #content .subTitle {
    color: #666666; }
  #content div#toolbar {
    margin: 0px 0px 3px 0px;
    height: 50px;
    color: rgba(0, 0, 0, 0.87);
    background: none; }
    #content div#toolbar md-list {
      min-height: 50px; }
    #content div#toolbar md-input-container div.md-errors-spacer {
      display: none; }
    #content div#toolbar i.mdi, #content div#toolbar md-icon.mdi {
      font-size: 20px; }
  #content md-content.container {
    height: calc(100vh - 55px); }

/* VARIABLES */
/**
 * google-material-color v1.2.6
 * https://github.com/danlevan/google-material-color
 */
#sideNavSmall {
  z-index: 30;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 60px;
  background-color: #009688; }
  #sideNavSmall img.logo {
    height: 50px;
    width: 50px; }
  #sideNavSmall md-list {
    height: 100%; }
    #sideNavSmall md-list md-list-item {
      padding-top: 10px;
      padding-bottom: 10px; }
      #sideNavSmall md-list md-list-item i.mdi {
        color: #FFF;
        font-size: 20px; }
    #sideNavSmall md-list md-list-item.active {
      background-color: #FE5621;
      padding-top: 10px;
      padding-bottom: 10px; }
      #sideNavSmall md-list md-list-item.active i.mdi {
        font-size: 20px; }

#sideNav md-sideNav {
  background-color: #009688;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px; }
  #sideNav md-sideNav md-content {
    background-color: #009688; }
  #sideNav md-sideNav .profileSection {
    color: #FFF;
    background-image: url("/worktrustedV2/app/assets/images/materialDesignPattern.jpg");
    background-size: cover;
    height: 150px;
    overflow: hidden;
    text-shadow: 1px 1px 10px #000000; }
    #sideNav md-sideNav .profileSection img.circleAvatar {
      box-shadow: 1px 1px 2px #000000; }
  #sideNav md-sideNav i.mdi {
    font-size: 22px; }
  #sideNav md-sideNav md-list {
    color: #FFF;
    height: 100%; }
    #sideNav md-sideNav md-list md-list-item {
      cursor: pointer;
      padding-top: 5px;
      padding-bottom: 5px; }

#sideNav md-sidenav,
#sideNav md-sidenav.md-locked-open,
#sideNav md-sidenav.md-closed.md-locked-open-add-active {
  min-width: 200px !important;
  width: 85vw !important;
  max-width: 300px !important; }

/* VARIABLES */
/**
 * google-material-color v1.2.6
 * https://github.com/danlevan/google-material-color
 */
body main.mainOutput {
  overflow: auto; }

div.tableHeading span {
  font-weight: bold;
  color: #666666; }

i.mdi {
  font-size: 18px; }

button#ng-camera-action, input#uploadPicture {
  display: none; }

::-webkit-scrollbar {
  width: 6px;
  height: 6px; }

::-webkit-scrollbar-track {
  /*background: rgba(0,0,0,0.1); */
  border-radius: 10px;
  /*border:1px gray solid;*/ }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.3);
  /*&:not(:active){
		background: none;
		border:0px solid rgba(0,0,0,0.5);
	}   */ }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3); }
  ::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5); }

img.circleAvatar {
  border-radius: 50%;
  height: 55px;
  width: 55px; }

.customMdInputContainer md-input-container {
  margin-top: 0px;
  margin-bottom: 0px; }

.customMdInputContainer md-select {
  margin-bottom: 20px; }

.customMdInputContainer md-datepicker {
  margin-bottom: 20px;
  position: relative; }
  .customMdInputContainer md-datepicker .md-datepicker-input-container {
    margin-left: 0; }
  .customMdInputContainer md-datepicker .md-datepicker-button.md-icon-button {
    margin-right: 0; }

md-tooltip .md-content {
  height: auto; }

div.navbar-margin-below {
  clear: 100%;
  width: 100%;
  height: 90px; }

div.customNavbar {
  height: 50px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1000;
  padding: 0px 0px 0px 0px; }
  div.customNavbar div.item {
    height: 50px; }
  div.customNavbar .logo {
    position: relative;
    display: flex;
    align-items: center; }
    div.customNavbar .logo img {
      max-height: 40px;
      max-width: 40px; }
    div.customNavbar .logo h1.logo-text {
      font-size: small;
      margin-bottom: 20px;
      margin-left: 5px;
      font-weight: bold;
      color: #FFF; }
