/* VARIABLES */
/**
 * google-material-color v1.2.6
 * https://github.com/danlevan/google-material-color
 */
body main.mainOutput {
  overflow: auto; }

i.mdi {
  font-size: 18px; }

::-webkit-scrollbar {
  width: 6px;
  height: 6px; }

::-webkit-scrollbar-track {
  /*background: rgba(0,0,0,0.1); */
  border-radius: 10px;
  /*border:1px gray solid;*/ }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.3);
  /*&:not(:active){
		background: none;
		border:0px solid rgba(0,0,0,0.5);
	}   */ }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3); }
  ::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5); }

img.circleAvatar {
  border-radius: 50%;
  height: 55px;
  width: 55px; }

div.navbar-margin-below {
  clear: 100%;
  width: 100%;
  height: 90px; }

div.customNavbar {
  height: 50px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1000;
  padding: 0px 0px 0px 0px; }
  div.customNavbar div.item {
    height: 50px; }
  div.customNavbar .logo {
    position: relative;
    display: flex;
    align-items: center; }
    div.customNavbar .logo img {
      max-height: 40px;
      max-width: 40px; }
    div.customNavbar .logo h1.logo-text {
      font-size: small;
      margin-bottom: 20px;
      margin-left: 5px;
      font-weight: bold;
      color: #FFF; }
