<!-- load navbar here -->
<div ui-view="navbar"></div>


<!-- load home default tab here -->
<div ui-view="default"></div>


<!-- load "Our Focus" tab here -->
<div ui-view="ourFocus"></div>


<!-- load services tab here -->
<div ui-view="services"></div>


<!-- load "contact us" tab here -->
<div ui-view="contactUs"></div>


<!-- laod "footer" here -->
<div ui-view="footer"></div>