@import '../core/variables.scss';

#content {
	z-index: 10;
	padding-left: 60px;
	position: static;

	.profile-circle-avatar {
		border-radius: 50%;
		box-shadow: 0px 0px 10px #CCCCCC;
		height: 1.5in;
		width: 1.5in;
	}

	.subTitle {
		color: #666666;
	}

	div#toolbar {
		margin: 0px 0px 3px 0px;
		height: 50px;
		color: $textPrimaryColor;
		background: none;
		
		md-list {
			min-height: 50px;
		}

		md-input-container {
			div.md-errors-spacer {
				display: none;
			}
		}

		i.mdi, md-icon.mdi {
			font-size: 20px;
		}
	}

	md-content.container {
		height: calc(100vh - 55px);
	}
}