@import '../core/variables.scss';

#sideNavSmall {
	z-index: 30;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 60px;
	background-color: $tealPrimary;

	img.logo {
		height: 50px;
		width: 50px;
	}

	md-list {
		height: 100%;

		md-list-item {
			padding-top: 10px;
			padding-bottom: 10px;


			i.mdi {
				color: #FFF;
				font-size: 20px;
			}
		}

		md-list-item.active {
			background-color: $orangePrimary;
			padding-top: 10px;
			padding-bottom: 10px;

			i.mdi {
				font-size: 20px;
			}
		}
	}
}





#sideNav {
	
	md-sideNav {
		background-color: $tealPrimary;
		height: 100%;
		position: fixed;
		top: 0px;
		left: 0px;

		md-content {
			background-color: $tealPrimary;
		}
		

		.profileSection {
			color: #FFF;
			background-image: url('/worktrustedV2/app/assets/images/materialDesignPattern.jpg');
			background-size: cover;
			height: 150px;
			overflow: hidden;
			text-shadow: 1px 1px 10px #000000;

			img.circleAvatar {
				box-shadow: 1px 1px 2px #000000;
			}
		}

		i.mdi {
			font-size: 22px;
		}

		md-list {
			color: #FFF;
			height: 100%;

			md-list-item {
				cursor: pointer;
				padding-top: 5px;
				padding-bottom: 5px;
			}
		}
	}

	md-sidenav, 
	md-sidenav.md-locked-open, 
	md-sidenav.md-closed.md-locked-open-add-active {
		min-width: 200px !important;
		width: 85vw !important;
		max-width: 300px !important;
	}
}


