<div cg-busy="loadingProperties">

<div class="modal-header">
	<strong>Login</strong>
	<span ng-click="dismiss()" class="pull-right" style="cursor:pointer;">&#x2715;</span>
</div>
<div class="modal-body">
	<form name="loginForm" novalidate>
		<div class="form-group" ng-class="{ 'has-error': loginForm.userName.$invalid && loginForm.userName.$touched }">
			<label class="control-label">* User Name</label>
			<input name="userName" ng-model="userName" required ng-pattern="alphanumeric" ng-minlength="4" ng-maxlength="30" type="text" class="form-control" />
			<div class="help-block has-error" ng-messages="loginForm.userName.$error" ng-if="loginForm.userName.$touched">
				<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
				<div ng-message="pattern" class="error" style="color:red">This field requires letters and numbers only</div>
			</div>
		</div>

		<div class="form-group" ng-class="{ 'has-error': loginForm.password.$invalid && loginForm.password.$touched }">
			<label class="control-label">* Password</label>
			<input name="password" ng-model="password" required ng-pattern="alphanumeric" ng-minlength="8" ng-maxlength="30" type="password" class="form-control" />
			<div class="help-block has-error" ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched">
				<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
				<div ng-message="pattern" class="error" style="color:red">This field requires letters and numbers only</div>
			</div>
		</div>

		<div class="form-group">
			<input type="checkbox" ng-model="loginTypeStatus" ng-change="loginTypeStatusChange(loginTypeStatus)" />
			<label>Company Login</label>
		</div>

	</form>
</div>
<div class="modal-footer">
	<div class="pull-right">
		<button ng-click="login()" ng-disabled="loginForm.$invalid" class="btn btn-accent">Login</button>
		<button ng-click="dismiss()" class="btn btn-info">Cancel</button>
	</div>
</div>


</div> <!-- closing div for loading indicator -->