<div id="sideNavSmall" ng-mouseenter="sideNavIsOpen = true" class="md-whiteframe-8dp">
	<md-list flex="100">
		<md-list-item>
			<i class="mdi mdi-menu"></i>
		</md-list-item>
		<md-list-item ng-class="{active: activeLink == 'dashboard'}">
			<i class="mdi mdi-view-dashboard"></i>
		</md-list-item>
		<md-list-item ng-class="{active: activeLink == 'profile'}">
			<i class="mdi mdi-account"></i>
		</md-list-item>
		<md-list-item ng-class="{active: activeLink == 'membershipApplicants'}">
			<i class="mdi mdi-account-multiple"></i>
		</md-list-item>
		<md-list-item ng-class="{active: activeLink == 'manageMembers'}">
			<i class="mdi mdi-folder-account"></i>
		</md-list-item>
		<md-list-item ng-class="{active: activeLink == 'jobs'}">
			<i class="mdi mdi-newspaper"></i>
		</md-list-item>
		<md-list-item ng-class="{active: activeLink == 'attendanceAndPayrollForms'}">
			<i class="mdi mdi-file-chart"></i>
		</md-list-item>
			<md-list-item ng-class="{active: activeLink == 'scheduling'}">
			<i class="mdi mdi-calendar"></i>
		</md-list-item>
		</md-list-item>
			<md-list-item ng-class="{active: activeLink == 'trainings'}">
			<i class="mdi mdi-book-open-page-variant"></i>
		</md-list-item>
		<md-list-item ng-class="{active: activeLink == 'companies'}">
			<i class="mdi mdi-bank"></i>
		</md-list-item>
		<md-list-item ng-class="{active: activeLink == 'messagesAndIquiries'}">
			<i class="mdi mdi-inbox"></i>
		</md-list-item>
		<md-list-item ng-class="{active: activeLink == 'tools'}">
			<i class="mdi mdi-wrench"></i>
		</md-list-item>
		<md-list-item ng-class="{active: activeLink == 'appSettings'}">
			<i class="mdi mdi-settings"></i>
		</md-list-item>
	</md-list>
</div>



<div id="sideNavMain">
	<md-sidenav ng-mouseleave="sideNavIsOpen = false" class="md-whiteframe-2dp" md-component-id="sideNavLeft" md-is-open="sideNavIsOpen">
		<md-content>
			<!-- profileSection(the part with background image) -->
			<div class="profileSection" layout="column" layout-padding>
				<div flex>
					<img ng-src="/worktrustedV2/app/assets/profilePhotos/{{ user.member.photo }}" class="circleAvatar" />
				</div>
				<p flex="35">
					<strong>{{ user.member.firstName }} {{ user.member.middleName }} {{ user.member.lastName }}</strong>
					<br>
					<md-menu>
						<span ng-click="$mdOpenMenu($event)">
							{{ user.member.email }}
							<i class="mdi mdi-menu-down"></i>
						</span>
						<md-menu-content width="3">
							<md-menu-item>
								<md-button ng-click="">
									<i class="mdi mdi-alert"></i>
									&nbsp;
									Action
								</md-button>
							</md-menu-item>
							<md-menu-item>
								<md-button ng-click="changeState('admin.profileInfo', 'profile')">
									<i class="mdi mdi-account"></i>
									&nbsp;
									Profile
								</md-button>
							</md-menu-item>
							<md-menu-item>
								<md-button ng-click="">
									<i class="mdi mdi-cached"></i>
									&nbsp;
									Etc
								</md-button>
							</md-menu-item>
							<md-divider></md-divider>
							<md-menu-item>
								<!-- logout function is in mainController -->
								<md-button ng-click="logout()">
									<i class="mdi mdi-logout"></i>
									&nbsp;
									Logout
								</md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>
				</p>
			</div>
			
			<div layout-padding>
				<md-list>
					<md-list-item layout>
						<i class="mdi mdi-view-dashboard"></i>
						&emsp;
						<span>Dashboard</span>
					</md-list-item>
					<md-list-item layout ng-click="changeState('admin.profileInfo', 'profile')">
						<i class="mdi mdi-account"></i>
						&emsp;
						<span>Profile</span>
					</md-list-item>
					<md-list-item layout ng-click="changeState('admin.membershipApplicants', 'membershipApplicants')">
						<i class="mdi mdi-account-multiple"></i>
						&emsp;
						<span>Membership Applicants</span>
					</md-list-item>
					<md-list-item layout ng-click="changeState('admin.memberList', 'manageMembers')">
						<i class="mdi mdi-folder-account"></i>
						&emsp;
						<span>Member Records</span>
					</md-list-item>
					<md-list-item layout ng-click="changeState('admin.jobOpeningList', 'jobs')">
						<i class="mdi mdi-newspaper"></i>
						&emsp;
						<span>Job Openings</span>
						<span flex></span>
					</md-list-item>
					<md-list-item layout>
						<i class="mdi mdi-file-chart"></i>
						&emsp;
						<span>Attendance/Payroll Reports</span>
						<span flex></span>
						<i class="mdi mdi-menu-down"></i>
					</md-list-item>
					<md-list-item layout ng-click="changeState('admin.scheduling', 'scheduling')">
						<i class="mdi mdi-calendar"></i>
						&emsp;
						<span>Scheduling</span>
					</md-list-item>
					<md-list-item layout ng-click="changeState('admin.trainingList', 'trainings')">
						<i class="mdi mdi-book-open-page-variant"></i>
						&emsp;
						<span>Trainings</span>
					</md-list-item>
					<md-list-item layout ng-click="changeState('admin.companyList', 'companies')">
						<i class="mdi mdi-bank"></i>
						&emsp;
						<span>Company/Client Records</span>
					</md-list-item>
					<md-list-item layout>
						<i class="mdi mdi-inbox"></i>
						&emsp;
						<span>Messages and Inquiries</span>
						<span flex></span>
						<i class="mdi mdi-menu-down"></i>
					</md-list-item>
					<md-list-item layout>
						<i class="mdi mdi-wrench"></i>
						&emsp;
						<span>Tools</span>
						<span flex></span>
						<i class="mdi mdi-menu-down"></i>
					</md-list-item>
					<md-list-item layout>
						<i class="mdi mdi-settings"></i>
						&emsp;
						<span>App Settings</span>
					</md-list-item>
				</md-list>
			</div>
		</md-content>
	</md-sidenav>
</div>
