<div cg-busy="loadingProperties">

<div layout layout-align="end center" id="toolbar">
	<div flex class="md-toolbar-tools">
		<div>
			<md-button ng-click="cancelAdd()" class="md-icon-button md-primary md-hue-1" aria-label="Back">
				<md-icon class="mdi mdi-arrow-left"></md-icon>&emsp;
				<md-tooltip>Back to List of Job Opening</md-tooltip>	
			</md-button>
		</div>
		<span class="md-title">Add/Create new Job Opening</span>
	</div>

	<!-- button icons -->
	<div flex="5">
		<md-button ng-click="cancelAdd()" class="md-icon-button md-primary md-hue-1" aria-label="Cancel Add">
			<md-icon class="mdi mdi-block-helper"></md-icon>
			<md-tooltip md-direction="left">Cancel</md-tooltip>
		</md-button>
	</div>
	<div flex="5">
		<md-button ng-click="submitForm(addJobOpeningForm)" class="md-icon-button md-primary md-hue-1" aria-label="Save Changes">
			<md-icon class="mdi mdi-check"></md-icon>
			<md-tooltip md-direction="left">Save Changes</md-tooltip>
		</md-button>
	</div>
</div>

<md-content id="addJobOpening" class="container" layout layout-align="center start">
	<form name="addJobOpeningForm" flex layout="col" layout-padding>
		<div flex layout="column" layout-padding layout-wrap>

			<div layout="column">
				<div class="md-title" layout layout-padding layout-align="start center">
					Basic Info<small class="subTitle">(overview)</small>
				</div>
				<div layout="column" layout-padding class="md-whiteframe-2dp">
					<md-input-container>
						<label>* Company</label>
						<md-select ng-model="jobOpening.companyId" name="companyId" required>
							<md-option ng-repeat="company in companies | orderBy:'name'" value="{{ company.id }}">{{ company.name }}</md-option>
						</md-select>
						<div ng-messages="addJobOpeningForm.companyId.$error" ng-if="addJobOpeningForm.companyId.$touched">
							<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
							<div ng-message="pattern" class="error">This field requires letters and numbers only</div>
						</div>
					</md-input-container>

					<md-input-container>
						<label>* Job Title</label>
						<input ng-model="jobOpening.title" name="title" required ng-pattern="alphanumeric" ng-minlength="4" ng-maxlength="50" />
						<div ng-messages="addJobOpeningForm.title.$error" ng-if="addJobOpeningForm.title.$touched">
							<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
							<div ng-message="pattern" class="error">This field requires letters and numbers only</div>
						</div>
					</md-input-container>

					<md-input-container>
						<label>* Description</label>
						<input ng-model="jobOpening.description" name="description" required ng-pattern="alphanumericSymbol" ng-minlength="4" />
						<div ng-messages="addJobOpeningForm.description.$error" ng-if="addJobOpeningForm.description.$touched">
							<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
							<div ng-message="pattern" class="error">This field requires alphanumeric and basic symbols only</div>
						</div>
					</md-input-container>

					<md-input-container>
						<label>* Number of Slots Available</label>
						<input ng-model="jobOpening.slots" name="slots" required ng-pattern="numeric" ng-maxlength="4" />
						<div ng-messages="addJobOpeningForm.slots.$error" ng-if="addJobOpeningForm.slots.$touched">
							<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
							<div ng-message="pattern" class="error">This field requires numbers only</div>
						</div>
					</md-input-container>

					<div layout="row" layout-align="center center">
						Hiring until: <md-datepicker ng-model="jobOpening.validityDate" required flex></md-datepicker>
					</div>

					<br>

					<div ng-if="!noSalaryRange" layout="row">
						<md-input-container flex>
							<label>Minimum Salary</label>
							<input ng-model="jobOpening.minSalary" name="minSalary" required ng-pattern="numeric" ng-minlength="3" ng-maxlength="6" />
							<div ng-messages="addJobOpeningForm.minSalary.$error" ng-if="addJobOpeningForm.minSalary.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires numbers only</div>
							</div>
						</md-input-container>

						<md-input-container flex>
							<label>Maximum Salary</label>
							<input ng-model="jobOpening.maxSalary" name="maxSalary" required ng-pattern="numeric" ng-minlength="3" ng-maxlength="6" />
							<div ng-messages="addJobOpeningForm.maxSalary.$error" ng-if="addJobOpeningForm.maxSalary.$touched">
								<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires numbers only</div>
							</div>
						</md-input-container>
					</div>

					<md-checkbox ng-model="noSalaryRange" aria-label="Dont specify salary range" class="md-warn">No salary range</md-checkbox>

					<md-input-container>
						<label>* Employment Type</label>
						<md-select ng-model="jobOpening.employmentType" name="employmentType" required>
							<md-option ng-repeat="option in employmentTypeOptions">{{ option }}</md-option>
						</md-select>
						<div ng-messages="addJobOpeningForm.employmentType.$error" ng-if="addJobOpeningForm.employmentType.$touched">
							<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
							<div ng-message="pattern" class="error">This field requires letters and numbers only</div>
						</div>
					</md-input-container>

					<md-input-container>
						<label>* Industry</label>
						<md-select ng-model="jobOpening.industryType" name="industryType" required>
							<md-option ng-repeat="option in industryTypeOptions | orderBy">{{ option }}</md-option>
						</md-select>
						<div ng-messages="addJobOpeningForm.industry.$error" ng-if="addJobOpeningForm.industry.$touched">
							<div ng-messages-include src="/worktrustedV2/app/modules/core/templates/errorMessages.template.html"></div>
							<div ng-message="pattern" class="error">This field requires letters and numbers only</div>
						</div>
					</md-input-container>

					<md-input-container>
						<label>* Status</label>
						<md-select ng-model="jobOpening.status" name="status" required>
							<md-option ng-repeat="option in statusOptions | orderBy">{{ option }}</md-option>
						</md-select>
					</md-input-container>

				</div>
			</div>
			
		</div>
	</form>
</md-content>


</div> <!-- closing div for loading indicator -->